@font-face {
  font-family: "iconfont"; /* Project id 2362441 */
  src: url('iconfont.woff2?t=1630913955781') format('woff2'),
       url('iconfont.woff?t=1630913955781') format('woff'),
       url('iconfont.ttf?t=1630913955781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-zuojiantou:before {
  content: "\e603";
}

.icon-youjiantou:before {
  content: "\e604";
}

.icon-ren:before {
  content: "\e602";
}

.icon-chahao:before {
  content: "\e677";
}

.icon-zuobiao:before {
  content: "\e601";
}

.icon-rili:before {
  content: "\e660";
}

.icon-fangkuai:before {
  content: "\e600";
}

