<template>
  <!--:src="barImage"-->
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :dark="barColor !== 'rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)'"
    :expand-on-hover="expandOnHover"
    :right="$vuetify.rtl"
    mobile-break-point="960"
    app
    width="260"
    mini-variant-width="80"
    v-bind="$attrs"

  >
    <template v-slot:img="props">
      <v-img
        :gradient="`to bottom, ${barColor}`"
        v-bind="props"
      />
    </template>

    <!--<v-list-item two-line>-->
    <!--<v-list-item-content>-->
    <!--<v-list-item-title class="text-uppercase font-weight-regular display-2">-->
    <!--<span class="logo-mini">{{ $t('cx') }}</span>-->
    <!--&lt;!&ndash;<span class="logo-normal">{{ $t('cms') }}</span>&ndash;&gt;-->
    <!--</v-list-item-title>-->
    <!--</v-list-item-content>-->
    <!--</v-list-item>-->

    <v-divider class="mb-1"/>
    <!--头像-->
    <v-list
      dense
      nav
    >
      <base-item-group :item="profile"/>
    </v-list>

    <v-divider class="mb-2"/>

    <v-list
      expand
      nav
    >
      <!-- Style cascading bug  -->
      <div/>

      <template v-for="(item, i) in computedItems">
        <base-item-group
          v-if="item.children"
          :key="`group-${i}`"
          :item="item"
        >
          <!--  -->
        </base-item-group>

        <base-item
          v-else
          :key="`item-${i}`"
          :item="item"
        />
      </template>
      <!-- Style cascading bug  -->
      <div/>
    </v-list>
    <div class="bottom" ref="bottom" v-if="bottom==true">
      <a :href="copyRight.link">{{ copyRight.text }}</a>
      <a v-for="(link, i) in links" :href="link.href">{{ link.text }}</a>
      <span>V1.0.0</span>
    </div>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import {mapState, mapGetters, mapMutations} from 'vuex'
import axios from "axios";

export default {
  name: 'DashboardCoreDrawer',
  props: {
    expandOnHover: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    $route() {
      if(localStorage.getItem("client")=='WarnerMedia'){
        this.checkTheUrlWarnerMedia()
      }else{
        this.checkTheUrl();
      }
    },
    getAvator(newVal, oldVal) {
      this.avatorImg = "files/"+localStorage.image;
    }
  },
  // watch: {
  //   '$vuetify.breakpoint.smAndDown'(val) {
  //     this.$emit('update:expandOnHover', !val)
  //   },
  //
  // },
  data: () => ({
    avatorImg: '',
    bottom: true,
    links:[],
    // links: [
    //   // {
    //   //   href: '',
    //   //   text: 'PRIVACY'
    //   // },
    //   // {
    //   //   href: '',
    //   //   text: 'CONTACT SUPPORT'
    //   // },
    //   {
    //     href: '',
    //     text: 'Terms of Use'
    //   },
    //   // {
    //   //   href: '#',
    //   //   text: 'V1.0.0'
    //   // }
    // ],
    copyRight: {
      'link': '',
      'text': ''
    },
    items: [
      // {
      //   img: require('@/assets/images/drawer/meeting_selector.png'),
      //   title: 'Campus Selector',
      //   to: 'mec'
      // },
      // {
      //   img: require('@/assets/images/drawer/Settings.png'),
      //   title: 'Settings',
      //   to: 'setting'
      // },
    ],
  }),
  methods: {
    ...mapMutations('meetingId', ["setMeetingId"]),
    ...mapMutations('mecToSetting', ["setMecToSetting"]),
    mapItem(item) {
      return {
        ...item,
        children: item.children ? item.children.map(this.mapItem) : undefined,
        title: this.$t(item.title)
      }
    },
    checkTheUrl() {
      if (this.$route.name === 'mec') {
        this.items = [
          {
            img: require('@/assets/images/drawer/meeting_selector.png'),
            title: 'Campus Selector',
            to: 'mec'
          },
          // {
          //   img: require('@/assets/images/drawer/Settings.png'),
          //   title: 'Settings',
          //   to: 'setting'
          // },
        ];
        if(localStorage.getItem("client")=='Clorox'){
          let config = JSON.parse(localStorage.config);
          let obj = {
            img: require('@/assets/images/drawer/get-help.png'),
            title: 'myDay Help',
            href: config.terms.supportLink
          }
          this.items.push(obj);
        }
        this.setMecToSetting(true);
        localStorage.meetingIdMap = '';
        // console.log(this.getMecToSetting,121212);
      } else {
        if (localStorage.meetingIdMap == '') {
          this.items = [
            {
              img: require('@/assets/images/drawer/meeting_selector.png'),
              title: 'Campus Selector',
              to: 'mec'
            },
            {
              img: require('@/assets/images/drawer/Settings.png'),
              title: 'Settings',
              to: 'setting'
            },
          ];
          if(localStorage.getItem("client")=='Clorox'){
            let config = JSON.parse(localStorage.config);
            let obj = {
              img: require('@/assets/images/drawer/get-help.png'),
              title: 'myDay Help',
              href: config.terms.supportLink
            }
            this.items.push(obj);
          }
        } else {
          this.items = [
            {
              img: require('@/assets/images/drawer/meeting_selector.png'),
              title: 'Campus Selector',
              to: 'mec'
            },
            {
              img: require('@/assets/images/drawer/Spaces.png'),
              title: 'Spaces',
              to: 'spaces'
            },
            // {
            //   img: require('@/assets/images/drawer/Bookings.png'),
            //   title:'Bookings',
            //   to: 'booking'
            // },
            // {
            //   img: require('@/assets/images/drawer/Directory.png'),
            //   title: 'People',
            //   to: 'directory'
            // },
            // {
            //   img: require('@/assets/images/drawer/Settings.png'),
            //   title: 'Settings',
            //   to: 'setting'
            // },
          ];
          if(localStorage.getItem("client")=='Clorox'){
            let config = JSON.parse(localStorage.config);
            let obj = {
              img: require('@/assets/images/drawer/get-help.png'),
              title: 'myDay Help',
              href: config.terms.supportLink
            }
            this.items.push(obj);
          }
          this.setMecToSetting(false);
        }
      }
    },
    checkTheUrlWarnerMedia() {
      if (this.$route.name === 'mec') {
        this.items = [
          {
            img: require('@/assets/images/drawerWM/meeting_selector.png'),
            title: 'Campus Selector',
            to: 'mec'
          },
          // {
          //   img: require('@/assets/images/drawerWM/Settings.png'),
          //   title: 'Settings',
          //   to: 'setting'
          // },
        ];
        this.setMecToSetting(true);
        localStorage.meetingIdMap = '';
        // console.log(this.getMecToSetting,121212);
      } else {
        if (localStorage.meetingIdMap == '') {
          this.items = [
            {
              img: require('@/assets/images/drawerWM/meeting_selector.png'),
              title: 'Campus Selector',
              to: 'mec'
            },
            // {
            //   img: require('@/assets/images/drawerWM/Settings.png'),
            //   title: 'Settings',
            //   to: 'setting'
            // },
          ];
        } else {
          this.items = [
            {
              img: require('@/assets/images/drawerWM/meeting_selector.png'),
              title: 'Campus Selector',
              to: 'mec'
            },
            // {
            //   img: require('@/assets/images/drawerWM/icon_Spaces.png'),
            //   title: 'Spaces',
            //   to: 'spaces'
            // },
            // {
            //   img: require('@/assets/images/drawerWM/icon_reservation.png'),
            //   title: 'Reservations',
            //   to: 'booking'
            // },
            // {
            //   img: require('@/assets/images/drawerWM/people.png'),
            //   title: 'People',
            //   to: 'directory'
            // },
            // {
            //   img: require('@/assets/images/drawerWM/Settings.png'),
            //   title: 'Settings',
            //   to: 'setting'
            // },
          ];
          this.setMecToSetting(false);
        }
      }
    },
  },
  computed: {
    ...mapState(['barColor', 'barImage']),
    ...mapGetters('meetingId', ['getMeetingId']),
    ...mapGetters('mecToSetting', ['getMecToSetting']),
    ...mapGetters('avator', ['getAvator']),

    drawer: {
      get() {
        return this.$store.state.drawer
      },
      set(val) {
        console.log(val);
        this.bottom = val;
        this.$store.commit('SET_DRAWER', val)
      }
    },
    computedItems() {
      return this.items.map(this.mapItem)
    },
    profile() {
      return {
        avatar: true,
        group: '',
        // title: this.$t('Admin'),
        title: localStorage.userName,
        img: this.avatorImg,
        // img:"files/"+localStorage.image,
        children: [
          // {
          //   href: '',
          //   title: this.$t('my-profile')
          // },
          // {
          //   to: '',
          //   title: this.$t('edit-profile')
          // },
          // {
          //   to: '',
          //   title: this.$t('settings')
          // },
          {
            to: localStorage.meetingIdMap ? `pages/loginEmail` : 'pages/loginEmail',
            title: this.$t('Logout')
          }
        ]
      }
    },

  },
  created() {
    // 图标
    if(localStorage.getItem("client")=='WarnerMedia'){
      this.items = [
        {
          img: require('@/assets/images/drawerWM/meeting_selector.png'),
          title: 'Campus Selector',
          to: 'mec'
        },
        // {
        //   img: require('@/assets/images/drawerWM/Settings.png'),
        //   title: 'Settings',
        //   to: 'setting'
        // },
      ]
    }else{
      this.items = [
        {
          img: require('@/assets/images/drawer/meeting_selector.png'),
          title: 'Campus Selector',
          to: 'mec'
        },
        // {
        //   img: require('@/assets/images/drawer/Settings.png'),
        //   title: 'Settings',
        //   to: 'setting'
        // },
      ]
    }
    // 底部文字
    if(localStorage.getItem("client")=='NatWest'){
      this.links = [
        {
          href: '',
          text: 'Support'
        }
      ]
    }else{
      this.links = [
        {
          href: '',
          text: 'Terms of Use'
        }
      ]
    }
    if(localStorage.getItem("client")=='WarnerMedia'){
      this.checkTheUrlWarnerMedia()
    }else{
      this.checkTheUrl();
    }
    let config = JSON.parse(localStorage.config);
    if (config.terms) {
      // this.links[0].href = config.terms.appPrivacyPolicyLink;
      // this.links[1].href = config.terms.supportLink;
      this.links[0].href = config.terms.link;
      this.copyRight.link = config.terms.copyright.link;
      this.copyRight.text = config.terms.copyright.text;
    }
    this.setMeetingId(localStorage.meetingIdMap);
  },

  mounted() {
    this.avatorImg = "files/" + localStorage.image;
  }

}
</script>

<style lang="sass">
@import '~vuetify/src/styles/tools/_rtl.sass'
/*#core-navigation-drawer::-webkit-scrollbar*/

#core-navigation-drawer
  ::-webkit-scrollbar
    display: none

  &.v-navigation-drawer--mini-variant
    .v-list-item
      justify-content: flex-start !important

    .v-list-group--sub-group
      display: block !important

  .v-list-group__header.v-list-item--active:before
    opacity: .24

  .v-list-item
    &__icon--text,
    &__icon:first-child
      justify-content: center
      text-align: center
      width: 20px

      +ltr()
        margin-right: 24px
        margin-left: 12px !important

      +rtl()
        margin-left: 24px
        margin-right: 12px !important

  .v-list--dense
    .v-list-item
      &__icon--text,
      &__icon:first-child
        margin-top: 10px

  .v-list-group--sub-group
    .v-list-item
      +ltr()
        padding-left: 8px

      +rtl()
        padding-right: 8px

    .v-list-group__header
      +ltr()
        padding-right: 0

      +rtl()
        padding-right: 0

      .v-list-item__icon--text
        margin-top: 19px
        order: 0

      .v-list-group__header__prepend-icon
        order: 2

        +ltr()
          margin-right: 8px

        +rtl()
          margin-left: 8px

.v-list--nav
  padding-left: 15px
  padding-right: 15px

.v-list-item__icon
  margin: 12px 0
</style>
<style lang="scss" scoped>
.bottom {
  color: #fff;
  font-size: 12px;
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  a {
    margin-right: 5px;
    margin-left: 5px;
    float: left;
    color: #ffffff;
    text-decoration: none;

    &::before {
      content: '|';
      color: '#fff';
      margin-right: 7px;
    }

    &:first-child {
      &::before {
        content: '';
        margin-right: 0px;
      }
    }
  }
}
</style>
<style>
.theme--dark.v-list-item--active:hover::before, .theme--dark.v-list-item--active::before{
  opacity: 0!important;
}
</style>
