<template>
  <div >
    <v-row style="display: flex;align-items: center">
      <v-col cols="6" md="6" >
        <h4>{{title}}</h4>
        <h1 :style="{color:color[0]}" class="percentage">{{percentage}}</h1>
      </v-col>
      <v-col cols="6" md="6" >
        <div ref="pie" style="width: 100px;height: 100px;float:left"></div>
      </v-col>
    </v-row>

  </div>
</template>
<script>
  import echarts from 'echarts'
  export default {
    name: '',
    data () {
      return {
        charts: '',
        opinion:[],
        opinionData:[],
      }
    },
    props: [
      'color',
      'count',
      'total',
      'title',
      'percentage',
    ],
    //在Chart.vue中加入watch

    watch: {
      //观察option的变化
      count: {
        handler(newVal, oldVal) {
          // console.log(this.count,123);
          this.drawPie();
          // if (this.charts) {
          //   if (newVal) {
          //     this.charts.setOption(newVal);
          //   } else {
          //     this.charts.setOption(oldVal);
          //   }
          // } else {
          //
          // }

        },
        deep: true //对象内部属性的监听，关键。
      }
    },

    methods:{
      drawPie(){
        this.opinionData = [
          {value:this.count, name:''},
          {value:this.total-this.count, name:''},
        ];
        this.charts = echarts.init(this.$refs.pie);
        this.charts.setOption({
          color: this.color,
          tooltip: {
            trigger: 'item',
          },
          legend: {
            orient: 'vertical',
            x: 'left',
            data:this.opinion
          },
          series: [
            {
              name:'',
              type:'pie',
              radius:['0%','100%'],
              avoidLabelOverlap: false,
              label: {
                normal: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  show: true,
                  textStyle: {
                    fontSize: '30',
                    fontWeight: 'blod'
                  }
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data:this.opinionData
            }
          ]
        })
        window.addEventListener("resize", () => { this.charts.resize();});
      }
    },
    //调用
    mounted() {
      this.$nextTick(function() {
        this.drawPie()
      })
    }
  }
</script>
<style scoped>
  .percentage{
    font-size: 2.4rem;
  }
</style>
