<template>
  <v-col cols="12" md="12" style="margin-top: 10px">
    <v-btn
      class="ma-1 desks-btn"
      rounded
      @click="goDesksBooking"
      v-show="dashboardBtn === true"
    >
      DESKS DASHBOARD
    </v-btn>
    <v-btn
      class="ma-1 desks-btn"
      rounded
      @click="goBuildings"
      v-show="buildingBtn === true"
    >
      MANAGE BUILDINGS
    </v-btn>
    <v-btn
      class="ma-1 desks-btn"
      rounded
      @click="goFloors"
      v-show="floorBtn === true"
    >
      MANAGE FLOORS
    </v-btn>
    <v-btn
      class="ma-1 desks-btn"
      rounded
      @click="goNeighborhoods"
      v-show="neighborhoodBtn === true"
    >
      MANAGE NEIGHBORHOODS
    </v-btn>
    <v-btn
      class="ma-1 desks-btn"
      rounded
      @click="goDesks"
      v-show="deskBtn === true"
    >
      MANAGE DESKS
    </v-btn>
    <v-btn
      class="ma-1 desks-btn"
      rounded
      @click="goAmenities"
      v-show="amenitiesBtn === true"
    >
      MANAGE AMENITIES
    </v-btn>
  </v-col>
</template>

<script>
    export default {
        name: "deskBtn",
        props: [
          'dashboardBtn',
          'buildingBtn',
          'floorBtn',
          'neighborhoodBtn',
          'deskBtn',
          'amenitiesBtn'
        ],
        methods:{
          goDesksBooking() {
            if (localStorage.meetingIdMap) {
              this.$router.push({
                path: "/desks/desksBooking",
                query: {
                  meetingId: localStorage.meetingIdMap,
                }
              });
            } else {
              this.$router.push({ path: "/desks/desksBooking" });
            }
          },
          goBuildings() {
            if (localStorage.meetingIdMap) {
              this.$router.push({
                path: "/desks/buildings",
                query: {
                  meetingId: localStorage.meetingIdMap,
                }
              });
            } else {
              this.$router.push({ path: "/desks/buildings" });
            }
          },
          goAmenities() {
            if (localStorage.meetingIdMap) {
              this.$router.push({
                path: "/desks/amenities",
                query: {
                  meetingId: localStorage.meetingIdMap,
                }
              });
            } else {
              this.$router.push({ path: "/desks/amenities" });
            }
          },

          goFloors() {
            if (localStorage.meetingIdMap) {
              this.$router.push({
                path: "/desks/floors",
                query: {
                  meetingId: localStorage.meetingIdMap,
                }
              });
            } else {
              this.$router.push({ path: "/desks/floors" });
            }
          },
          goNeighborhoods() {
            if (localStorage.meetingIdMap) {
              this.$router.push({
                path: "/desks/neighborhoods",
                query: {
                  meetingId: localStorage.meetingIdMap,
                }
              });
            } else {
              this.$router.push({ path: "/desks/neighborhoods" });
            }
          },
          goDesks() {
            if (localStorage.meetingIdMap) {
              this.$router.push({
                path: "/desks/desks",
                query: {
                  meetingId: localStorage.meetingIdMap,
                }
              });
            } else {
              this.$router.push({ path: "/desks/desks" });
            }
          },
        }
    }
</script>

<style scoped>

</style>
