<template>
  <v-container
    id="login"
    fill-height
    tag="section"
  >
    <v-row justify="center">
      <v-col cols="12" md="3" sm="3" xs="3"></v-col>
      <v-col cols="12" md="6" sm="6" xs="6" style="text-align: center" class="pa-0 ma-0">
        <!--<img src="@/assets/images/cxAppLogo.png" style="height: 80px;margin-bottom: 20px"/>-->
        <!--<img :src="this.logoImg" :class="{'campus':this.client=='CX Campus','clorox':this.client=='Clorox'}"/>-->
        <img v-if="showLogoPic=='normal'" :src="this.logoImg" class="loginImg" :class="{'campus':this.client=='CX Campus','clorox':this.client=='Clorox'}"/>
        <img v-if="showLogoPic=='natwest'" :src="this.logoImg" class="natWestLogo"/>
        <div v-if="showLogoPic=='clorox'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">myDay</span>
        </div>
        <div v-if="showLogoPic=='aruba'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">Aruba</span>
        </div>
        <div v-if="showLogoPic=='warnermedia'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">WM Red Carpet</span>
        </div>
        <div v-if="showLogoPic=='hpe'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">HPE</span>
        </div>
      </v-col>
      <v-col cols="12" md="3" sm="3" xs="3"></v-col>
      <v-slide-y-transition appear>

        <base-material-card
          color="success"
          light
          max-width="100%"
          width="400"
          class="px-5 py-3"
        >
          <template v-slot:heading>
            <div class="text-center">
              <h1 class="loginBar display-2 font-weight-bold mb-2">
                Login
              </h1>

              <!--<v-btn-->
              <!--v-for="(social, i) in socials"-->
              <!--:key="i"-->
              <!--:href="social.href"-->
              <!--class="ma-1"-->
              <!--icon-->
              <!--rel="noopener"-->
              <!--target="_blank"-->
              <!--&gt;-->
              <!--<v-icon-->
              <!--v-text="social.icon"-->
              <!--/>-->
              <!--</v-btn>-->
            </div>
          </template>

          <v-card-text class="text-center">
            <!--<div class="text-center grey&#45;&#45;text body-1 font-weight-light">-->
            <!--Or Be Classical-->
            <!--</div>-->

            <!--<v-text-field-->
            <!--color="secondary"-->
            <!--label="First Name..."-->
            <!--prepend-icon="mdi-face"-->
            <!--class="mt-10"-->
            <!--/>-->

            <!--<v-text-field-->
              <!--color="secondary"-->
              <!--label="Email..."-->
              <!--prepend-icon="mdi-email"-->
              <!--v-model="email"-->
              <!--@keyup.enter="login"-->
            <!--/>-->

            <v-text-field
              color="secondary"
              label="Password"
              prepend-icon="mdi-lock-outline"
              type="password"
              v-model="password"
              tabindex="1"
              @keyup.enter="login"
            />
            <div style="margin: 20px">
              <span @click="forgot" tabindex="2" @keyup.enter="forgot" style="color:#000000;">Forgot your password?</span>
            </div>

            <pages-btn
              large
              color=""
              depressed
              class="v-btn--text loginBtn"
              tabindex="3"
              @click="login"
            >
              Login
            </pages-btn>
          </v-card-text>
        </base-material-card>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import {mapGetters,mapMutations} from 'vuex';
export default {
  name: 'PagesLogin',

  components: {
    PagesBtn: () => import('./components/Btn')
  },
  computed:{
    ...mapGetters('avator',['getAvator']),

  },
  data: () => ({
    showLogoPic:'',
    socials: [
      {
        href: '#',
        icon: 'mdi-facebook-box'
      },
      {
        href: '#',
        icon: 'mdi-twitter'
      },
      {
        href: '#',
        icon: 'mdi-github-box'
      }
    ],
    password: '',
    logoImg:"",
    client:"",
  }),

  methods: {
    ...mapMutations('avator',["setAvator"]),
    // getClient(){
    //   this.getClientData().then(res=>{
    //     this.client = res.data.Client;
    //     console.log("client:",this.client);
    //     if(res.data.Client=='Clorox'){
    //       this.logoImg = require('@/assets/images/cloroxLogo.png')
    //     }else{
    //       this.logoImg = require('@/assets/images/cxAppLogo.png')
    //     }
    //   }).catch(err=>{
    //     console.log(err);
    //   });
    // },
    getClient(){
      this.getClientData().then(res=>{
        this.client = res.data.Client;
        console.log("client:",this.client);
        if(res.data.Client=='Clorox'){
          this.showLogoPic = 'clorox';
        }else if(res.data.Client=='NatWest'){
          this.showLogoPic = 'natwest';
          this.logoImg = require('@/assets/images/NatWest-Group.jpg');
        }else if (res.data.Client == 'WarnerMedia') {
          this.showLogoPic = 'warnermedia';
          document.title = "WM Red Carpet"
        } else if (res.data.Client == 'Aruba') {
          this.showLogoPic = 'aruba';
          document.title = "Aruba"
        } else if (res.data.Client == 'HPE'||res.data.Client == 'HPE Campus') {
          this.showLogoPic = 'hpe';
          document.title = "Hpe"
        }else{
          this.showLogoPic = 'normal';
          this.logoImg = require('@/assets/images/cxAppLogo.png');
        }
      }).catch(err=>{
        console.log(err);
      });
    },
    getCaption(obj) {
      if (obj) {
        const index = obj.lastIndexOf("=");
        obj = obj.substring(index + 1, obj.length);
      }
      return obj;
    },
    login() {
      let b = '';
      // console.log(this.$route.query);
      // console.log(this.$route.query.redirect);
      if (this.$route.query.redirect) {
        b = this.getCaption(this.$route.query.redirect);
        console.log(b);
      } else {
        b = this.$route.query.meetingId;
        console.log(b);
      }


      let _this = this;
      let url = "";
      let data = {};
      url = "m/authenticate/";
      data.username = localStorage.userEmail;
      data.password = this.password;
      this.bus.$emit('loading', true);
      axios
        .post(url, data)
        .then((response) => {
          console.log('loginInformation',response);
          _this.bus.$emit('loading', false);
          if (response.data.result === 'succeeded') {
            _this.$message.success("Success");
            localStorage.token = response.data.token;
            // localStorage.userEmail = response.data.email;
            localStorage.userId = response.data.userId;
            localStorage.userName = response.data.firstName+' '+response.data.lastName;
            localStorage.image = response.data.image;
            _this.setAvator(response.data.image);
            console.log("getAvator:",this.getAvator);
            if (b !== '') {
              localStorage.meetingIdMap = b;
            }

            if (localStorage.meetingIdMap) {
              _this.$router.push({
                path: "/mec",
                // query: {
                //   meetingId: localStorage.meetingIdMap,
                // }
              }).catch(err => {
                console.log(err);
              });
            } else {

              _this.$router.push('/').catch(err => {
                console.log(err);
              });
            }
          } else {
            this.$confirm({title: "Confirmation", message: response.data.error, show: true});
            // _this.$message.error(response.data.error);
          }

        })
        .catch((err) => {
          console.log(err);
          _this.bus.$emit('loading', false);
        });

    },
    forgot(){
      let _this = this;
      let url = "";
      let data = {};
      url = "m/forgotPassword/";
      data.email = localStorage.userEmail;
      axios
        .post(url, data)
        .then((response) => {
          if (response.data.result === 'succeeded') {
            this.$confirm({title: "Confirmation", message: "We've sent you an email to update your password. If you don't see it in your inbox, please check your Spam folder.", show: true});
          } else {
            this.$confirm({title: "Confirmation", message: response.data.error, show: true});
            // _this.$message.error(response.data.error);
          }
        })
        .catch((err) => {
           console.log(err);
        });
    }
  },
  created() {
    this.getClient();
  }
}
</script>
<style lang="scss" scoped>
#login{
  .clorox{
    width:340px;
  }
  .loginImg{
    width:80px;
  }
  .natWestLogo{
    width:200px
  }
}
</style>
