<template>
  <v-container
    id="login"
    fill-height
    tag="section"
  >
    <v-row justify="center">
      <v-col cols="12" md="3" sm="3" xs="3"></v-col>
      <v-col cols="12" md="6" sm="6" xs="6" style="text-align: center" class="pa-0 ma-0">
        <!--<img src="@/assets/images/cxAppLogo.png" style="height: 80px;margin-bottom: 20px"/>-->

        <img v-if="showLogoPic=='normal'" :src="this.logoImg" class="loginImg"
             :class="{'campus':this.client=='CX Campus','clorox':this.client=='Clorox'}"/>
        <img v-if="showLogoPic=='natwest'" :src="this.logoImg" class="natWestLogo"/>
        <div v-if="showLogoPic=='clorox'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">myDay</span>
        </div>
        <div v-if="showLogoPic=='warnermedia'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">WM Red Carpet</span>
        </div>
        <div v-if="showLogoPic=='aruba'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">Aruba</span>
        </div>
        <div v-if="showLogoPic=='hpe'">
          <span style="font-size: 30px;color:#000;font-weight:bold;">HPE</span>
        </div>
      </v-col>
      <v-col cols="12" md="3" sm="3" xs="3"></v-col>
      <v-slide-y-transition appear>

        <base-material-card
          color="success"
          light
          max-width="100%"
          width="400"
          class="px-5 py-3"
        >
          <template v-slot:heading>
            <div class="text-center">
              <h1 class="loginBar display-2 font-weight-bold mb-2">
                Login
              </h1>

              <!--<v-btn-->
              <!--v-for="(social, i) in socials"-->
              <!--:key="i"-->
              <!--:href="social.href"-->
              <!--class="ma-1"-->
              <!--icon-->
              <!--rel="noopener"-->
              <!--target="_blank"-->
              <!--&gt;-->
              <!--<v-icon-->
              <!--v-text="social.icon"-->
              <!--/>-->
              <!--</v-btn>-->
            </div>
          </template>

          <v-card-text class="text-center">
            <!--<div class="text-center grey&#45;&#45;text body-1 font-weight-light">-->
            <!--Or Be Classical-->
            <!--</div>-->

            <!--<v-text-field-->
            <!--color="secondary"-->
            <!--label="First Name..."-->
            <!--prepend-icon="mdi-face"-->
            <!--class="mt-10"-->
            <!--/>-->

            <v-text-field
              color="secondary"
              label="Email"
              prepend-icon="mdi-email"
              v-model="email"
              @keyup.enter="login"
            />

            <v-checkbox v-model="checkbox">
              <template v-slot:label>
                <div>
                  By checking this box, you agree to our
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <a
                        target="_blank"
                        :href="termsLink"
                        @click.stop
                        v-on="on"
                      >
                        Terms of Service
                      </a>
                    </template>
                    <span>Terms of Service</span>
                  </v-tooltip>
                  .
                  We'll handle your data according to our
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <a
                        target="_blank"
                        :href="privacyLink"
                        @click.stop
                        v-on="on"
                      >
                        Privacy Policy
                      </a>
                    </template>
                    Privacy Policy
                  </v-tooltip>
                  .
                </div>
              </template>
            </v-checkbox>

            <pages-btn
              large
              color=""
              depressed
              class="v-btn--text loginBtn"
              @click="login"
            >
              Next
            </pages-btn>
            <!--<pages-btn-->
            <!--  large-->
            <!--  color=""-->
            <!--  depressed-->
            <!--  class="v-btn&#45;&#45;text success&#45;&#45;text"-->
            <!--  @click="login"-->
            <!--&gt;-->
            <!--  Next-->
            <!--</pages-btn>-->
          </v-card-text>
        </base-material-card>
      </v-slide-y-transition>
      <v-dialog v-model="newPage">
        <v-card class="dialog-window ma-0 pa-0">
          <div style="text-align: right;padding: 15px;padding-bottom: 0">
            <i class="iconfont icon-chahao" @click="newPage=false" style="cursor: pointer;"></i>
          </div>
          <v-card-text>
            <!--<vue-friendly-iframe :src="loginIframe" id="loginIframe" style="width: 100%;min-height: 430px;overflow: auto;"></vue-friendly-iframe>
            <iframe id="loginIframe" :src="loginIframe" ref="loginIframe" @load="onLoadIframe" style="width: 100%;min-height: 430px;overflow: auto;"></iframe>-->
          </v-card-text>
        </v-card>

      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: 'LoginEmail',

  components: {
    PagesBtn: () => import('./components/Btn'),
  },

  data() {
    return {
      showLogoPic: '',
      logoImg: "",
      socials: [
        {
          href: '#',
          icon: 'mdi-facebook-box'
        },
        {
          href: '#',
          icon: 'mdi-twitter'
        },
        {
          href: '#',
          icon: 'mdi-github-box'
        }
      ],
      email: '',
      newPage: false,
      checkbox: false,
      termsLink: '',
      privacyLink: '',
      loginIframe: '',
      loginWin: '',
      client: '',//当前登录庸碌
    }
  },
  methods: {
    // getClient(){
    //   this.getClientData().then(res=>{
    //     this.client = res.data.Client;
    //     // console.log("client:",this.client);
    //     if(res.data.Client=='Clorox'){
    //       this.logoImg = require('@/assets/images/cloroxLogo.png')
    //     }else{
    //       this.logoImg = require('@/assets/images/cxAppLogo.png')
    //     }
    //   }).catch(err=>{
    //     console.log(err);
    //   });
    // },
    getClient() {
      this.getClientData().then(res => {
        this.client = res.data.Client;
        console.log("client:", this.client);
        localStorage.setItem("client", res.data.Client);
        if (res.data.Client == 'Clorox') {
          this.showLogoPic = 'clorox';
          document.title = "myDay"
        } else if (res.data.Client == 'NatWest') {
          this.showLogoPic = 'natwest';
          this.logoImg = require('@/assets/images/NatWest-Group.jpg');
          document.title = "NatWest Group"
        } else if (res.data.Client == 'WarnerMedia') {
          this.showLogoPic = 'warnermedia';
          document.title = "WM Red Carpet"
        } else if (res.data.Client == 'Aruba') {
          this.showLogoPic = 'aruba';
          document.title = "Aruba"
        }else if (res.data.Client == 'HPE'||res.data.Client == 'HPE Campus') {
          this.showLogoPic = 'hpe';
          document.title = "HPE"
        } else {
          this.showLogoPic = 'normal';
          this.logoImg = require('@/assets/images/cxAppLogo.png');
          document.title = "The CXApp Smart Campus"
        }
      }).catch(err => {
        this.showLogoPic = 'normal';
        this.logoImg = require('@/assets/images/cxAppLogo.png');
        console.log(err);
      });
    },
    getCaption(obj) {
      if (obj) {
        const index = obj.lastIndexOf("=");
        obj = obj.substring(index + 1, obj.length);
      }
      return obj;
    },
    login() {
      let _this = this;
      console.log("em:", this.email)
      if (this.checkbox === false) {
        // this.$message.error('You must accept the Privacy Policy and Terms of Use to proceed.');
        this.$confirm({
          title: "Confirmation",
          message: "You must accept the Privacy Policy and Terms of Use to proceed",
          show: true
        });
        return false;
      }
      if (this.email === '') {
        // this.$message.error('Please enter your email address');
        this.$confirm({title: "Confirmation", message: "Please enter your email address", show: true});
        return false;
      }
      // if(localStorage.config){
      //   let ssoSubffix = JSON.parse(localStorage.config);
      //   console.log(ssoSubffix);
      // }
      let isSSO = false;
      let ssoSubffix = JSON.parse(localStorage.config);
      let client = localStorage.client;
      if (client == 'Aruba') {
        ssoSubffix.ssoSubffix.some((i) => {
          if (_this.email.toLowerCase().indexOf(i) > -1) {
            isSSO = true
            window.location.replace("https://sso-uat.arubanetworks.com/as/authorization.oauth2?redirect_uri=https://cx-app-aruba.appspot.com/m/sso&client_id=design_reactor&response_type=code&scope=openid&state=map");
            return true;
          }
        })
      } else {
        ssoSubffix.ssoSubffix.some((i) => {
          if (_this.email.toLowerCase().indexOf(i) > -1) {
            isSSO = true
            window.location.replace(ssoSubffix.ssoLink);
            return true;
          }
        })
      }

      if (isSSO) {
        return
      }
      // if(this.email.toLowerCase().indexOf('@clorox.com') > -1){
      // console.log(this.$refs);

      // let loginIframe = document.getElementById('loginIframe');
      // // loginIframe.src = "https://flex-dot-cx-app-clorox.appspot.com/api/sso?sso";
      // loginIframe.onload = function(){
      //   console.log('ssss');
      // };
      // console.log(loginIframe.contentDocument);

      // this.loginWin = this.$refs.loginIframe.contentWindow;
      // console.log(this.loginWin);
      // this.$refs.loginIframe.src = "https://flex-dot-cx-app-clorox.appspot.com/api/sso?sso";
      // this.newPage = true;

      // }


      let b = '';

      let url = "";
      let data = {};
      url = "m/check-email/";
      data.email = this.email;
      this.bus.$emit('loading', true);
      axios
        .post(url, data)
        .then((response) => {
          // console.log('loginEmail',response);
          if (response.data.result === 'succeeded') {
            localStorage.userEmail = data.email;
            _this.$message.success("Success");
            _this.bus.$emit('loading', false);
            _this.$router.push({
              path: "/pages/login",
            }).catch(err => {
              console.log(err);
            });
          } else {
            _this.bus.$emit('loading', false);
            // _this.$confirm({title: "Confirmation", message: response.data.error, show: true})
            if (localStorage.client === "WarnerMedia") {
              _this.$confirm({
                title: "Confirmation",
                message: "We're sorry, but it appears that your email address in not registered. Please try again or contact your manager for assistance.",
                show: true
              })
            } else {
              _this.$confirm({
                title: "Confirmation",
                message: "We're sorry, but it appears that your email address in not registered. Please try again or contact your meeting/event organizer for assistance.",
                show: true
              })
            }
            // _this.$message.error(response.data.error);
          }

        })
        .catch((err) => {
          console.log(err);
          _this.bus.$emit('loading', false);
          if (localStorage.client === "WarnerMedia") {
            _this.$confirm({
              title: "Confirmation",
              message: "We're sorry, but it appears that your email address in not registered. Please try again or contact your manager for assistance.",
              show: true
            })
          } else {
            _this.$confirm({
              title: "Confirmation",
              message: "We're sorry, but it appears that your email address in not registered. Please try again or contact your meeting/event organizer for assistance.",
              show: true
            })
          }
        });

    }
  },
  created() {
    this.getConfig();
    this.getClient();
    let config = JSON.parse(localStorage.config);
    if (config.terms) {
      this.termsLink = config.terms.appTermsOfUseLink;
      // this.termsLink = config.terms.link;
      this.privacyLink = config.terms.appPrivacyPolicyLink;
    }
  },
  mounted() {
    if (localStorage.ssoErrorMessage && localStorage.ssoErrorMessage != "") {
      let msg = localStorage.getItem("ssoErrorMessage");
      this.$confirm({title: "Confirmation", message: msg, show: true})
        .then(() => {
          //用户点击确认后执行
          localStorage.removeItem("ssoErrorMessage");
        })
        .catch(() => {
          // 取消或关闭
          localStorage.removeItem("ssoErrorMessage");
        });
    }
  }
}
</script>
<style lang="scss" scoped>
#login {
  .clorox {
    width: 340px;
  }

  .loginImg {
    width: 80px;
  }

  .natWestLogo {
    width: 200px
  }
}
</style>

