<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.png">
    <!--<link rel="icon" href="<%= BASE_URL %>EdwardsLogo.png">-->
    <!--<link rel="icon" href="<%= BASE_URL %>cxAppLogo.png">-->
    <!--<title>CX-MAP</title>-->
    <!--<title>myDay</title>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script type="text/javascript">
        (function (l) {
            if (l.search) {
                var q = {};
                l.search.slice(1).split('&').forEach(function (v) {
                    var a = v.split('=');
                    q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
                });
                if (q.p !== undefined) {
                    window.history.replaceState(null, null,
                        l.pathname.slice(0, -1) + (q.p || '') +
                        (q.q ? ('?' + q.q) : '') +
                        l.hash
                    );
                }
            }
        }(window.location))
    </script>
    <!--<script>-->
    <!--    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->
    <!--    ga('create', 'UA-104780762-15', 'auto'); // 将`UA-XXX`换成自己的ID-->
    <!--    ga('send', 'pageview');-->
    <!--</script>-->
    <script>
        if (localStorage.client == "NatWest") {
            var scriptNode = document.createElement("script");
            scriptNode.setAttribute("type", "text/javascript");
            // scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-104780762-3");
            scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-104780762-15");
            document.head.appendChild(scriptNode);
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-104780762-15');
            localStorage.setItem("googleAnaId",'UA-104780762-15')
        }else if(localStorage.client == "Clorox"){
            var scriptNode = document.createElement("script");
            scriptNode.setAttribute("type", "text/javascript");
            // scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-104780762-3");
            scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-104780762-18");
            document.head.appendChild(scriptNode);
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-104780762-18');
            localStorage.setItem("googleAnaId",'UA-104780762-18')
        }else if(localStorage.client == "Aruba"){
            var scriptNode = document.createElement("script");
            scriptNode.setAttribute("type", "text/javascript");
            // scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-104780762-3");
            scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-203803841-1");
            document.head.appendChild(scriptNode);
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-203803841-1');
            localStorage.setItem("googleAnaId",'UA-203803841-1')
        }else if(localStorage.client == "WarnerMedia"){
            var scriptNode = document.createElement("script");
            scriptNode.setAttribute("type", "text/javascript");
            // scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-104780762-3");
            scriptNode.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id=UA-203803841-2");
            document.head.appendChild(scriptNode);
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-203803841-2');
            localStorage.setItem("googleAnaId",'UA-203803841-2')
        }
    </script>

    <!--</script>-->
    <!-- <link rel="stylesheet" href="assets/css/app.css" /> -->
</head>
<body>
<noscript>
    <strong>We're sorry but cx-admin doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
</body>
</html>
<script>
    console.log("client:", localStorage.client)
    // if (localStorage.client == "Clorox") {
    //     document.title = "myDay"
    // } else if (localStorage.client == "NatWest") {
    //     document.title = "NatWest Group"
    // } else {
    //     document.title = "The CXApp Smart Campus"
    // }
</script>
