<template>
  <v-app>
    <!--<dashboard-core-app-bar v-model="expandOnHover"/>-->

    <dashboard-core-drawer :expand-on-hover.sync="expandOnHover" style="height:100%;"/>

      <dashboard-core-view />

    <!--<dashboard-core-settings v-model="expandOnHover" />-->
  </v-app>
</template>

<script>
  export default {
    name: 'DashboardIndex',

    components: {
      DashboardCoreAppBar: () => import('./components/core/AppBar'),
      DashboardCoreDrawer: () => import('./components/core/Drawer'),
      DashboardCoreSettings: () => import('./components/core/Settings'),
      DashboardCoreView: () => import('./components/core/View'),
    },

    data: () => ({
      expandOnHover: false,
      // currentPage:'',//当前所在页面
    }),
    created() {
      // this.currentPage = this.$route.name;
    }

  }
</script>
