.x-btn:focus{
  border: 1px solid black!important;
}
button:focus{
  border: 1px solid black!important;
}
//html {
//  position: absolute;
//  overflow-x: hidden;
//  overflow-y: hidden;
//  width:100%;
//}
::-webkit-scrollbar {display:none}
