$btn-color: #008751;//clorox的按钮颜色
$btn-color-highlight: #008751;//clorox的按钮高亮颜色
$main-blue:#0072C6;
//$btn-color: #EE2C54;//常规的按钮颜色
//$btn-color-highlight: #666666;
//$main-blue:#4164FD;
.x-hr{
  height: 1px;
  background-color: #cfcfcf;
  border: none;
}
.x-btn{
  background: #008751!important;
  //background: $btn-color!important;
}
.x-color{
  color:#008751!important;
  //color: $btn-color!important;
}
.navBarActive{
  background: #008751!important;
  //background: $btn-color;
}
.v-application .primary--text {
  color: #008751!important;
  caret-color: #008751!important;
  //color: $btn-color !important;
  //caret-color: $btn-color !important;
}
.x-title{
  background: #0072C6!important;
}
.x-background{
  background: #0072C6!important;
}
.x-btn-active{
  background: #008751!important;
  color:#fff!important;
}
.v-tabs .v-tabs-bar .v-tab.v-tab--active {
  button {
    background: #008751 !important;
    //background: #666666 !important;
    color: #fff !important;
  }
}
.availBtns{
  .active{
    background:#008751 !important;
    color:#fff;
  }
}
.bookingList .bookingListTitle{
  background: #008751 !important;
}
