//$btn-color: #008751;//clorox的按钮颜色
//$btn-color-highlight: #008751;//clorox的按钮高亮颜色
//$main-blue:#0072C6;
$btn-color: #EE2C54;//常规的按钮颜色
$btn-color-highlight: #666666;
$main-blue:#4164FD;
.x-hr{
  height: 1px;
  background-color: #cfcfcf;
  border: none;
}
.x-btn{
  background: #EE2C54!important;
  //background: $btn-color!important;
}
.x-color{
  color:#EE2C54!important;
  //color: $btn-color!important;
}
 .navBarActive{
   background: #EE2C54!important;
   //background: $btn-color;
 }
.v-application .primary--text {
  color: #EE2C54!important;
  caret-color: #EE2C54!important;
  //color: $btn-color !important;
  //caret-color: $btn-color !important;
}
.x-title{
  background: #4164FD!important;
}
.x-background{
  background: #4164FD!important;
}
.x-btn-active{
  background: #666666!important;
  color:#fff!important;
}
.v-tabs .v-tabs-bar .v-tab.v-tab--active {
  button {
    background: #666666 !important;
    //background: #666666 !important;
    color: #fff !important;
  }
}
.availBtns{
  .active{
    background:#666666 !important;
    color:#fff;
  }
}
.v-tabs .v-tabs-bar .v-tab.v-tab--active {
  button {
    background: #666666 !important;
    color: #fff !important;
  }
}
.bookingList .bookingListTitle{
  background: #41b5a9 !important;
}
