$btn-color: #01a982;//clorox的按钮颜色
$btn-color-highlight: #01a982;//clorox的按钮高亮颜色
$main-blue:#e5bv73;
//$btn-color: #EE2C54;//常规的按钮颜色
//$btn-color-highlight: #666666;
//$main-blue:#4164FD;
.x-hr{
  height: 1px;
  background-color: #cfcfcf;
  border: none;
}
.x-btn{
  background: #01a982!important;
  //background: $btn-color!important;
}
.x-color{
  color:#01a982!important;
  //color: $btn-color!important;
}
.navBarActive{
  background: #01a982!important;
  //background: $btn-color;
}
.v-application .primary--text {
  color: #01a982!important;
  caret-color: #01a982!important;
  //color: $btn-color !important;
  //caret-color: $btn-color !important;
}
.x-title{
  background: #01a982!important;
}
.x-background{
  background: #01a982!important;
}
.x-btn-active{
  background: #01a982!important;
  color:#fff!important;
}
.v-tabs .v-tabs-bar .v-tab.v-tab--active {
  button {
    background: #01a982 !important;
    //background: #666666 !important;
    color: #fff !important;
  }
}
.availBtns{
  .active{
    background:#01a982 !important;
    color:#fff;
  }
}
.v-tabs .v-tabs-bar .v-tab.v-tab--active {
  button {
    background: #01a982 !important;
    color: #fff !important;
  }
}
.v-application .success{
  background: #01a982 !important;
}
.v-application .secondary--text{
  color: #000000 !important;
}
.loginBtn{
  background: #4caf50!important;
  color:#fff!important;;
}
.bookingList .bookingListTitle{
  background: #01a982 !important;
}
