<template>
  <div class="lists">
    <v-row class="one-list" v-for="(item,index) in data" :key="index">
      <v-col cols="3" md="3">
        <img :src="item.image||item.roomImage" style="width:100%;height: 100%;object-fit: contain" alt="">
      </v-col>
      <v-col cols="6" md="6">
        <v-row class="xtitle">
          {{ item.name || item.resourceName }}
        </v-row>
        <v-row>
          <span class="deskListTitle">Buildings&nbsp;:&nbsp;</span>
          <span>{{ item.buildingName }} , </span>
          <span>&nbsp;Floor&nbsp;:&nbsp;</span>
          <span>{{ item.floorName }}</span>
        </v-row>
        <v-row>
          <span class="deskListTitle">Capacity:</span>
          <span>{{ item.capacity }}</span>
        </v-row>
      </v-col>
      <v-col cols="3" md="3" style="line-height: 90px;">
        <img @click="clickCanlender(item)" @keyup.enter="clickCanlender(item)" style="margin-right: 10px;cursor:pointer;width:25px"
             src="@/assets/images/map/calendar.png" alt="" :tabindex="index+2">
        <img @click="localtionMap(item)" @keyup.enter="localtionMap(item)" style="cursor: pointer;width:19px" src="@/assets/images/map/location.png"
             alt="" :tabindex="index+3">
        <!--<i class="iconfont icon-rili" style="font-weight: bold;margin-right: 10px"></i>-->
        <!--<i class="iconfont icon-zuobiao"></i>-->
      </v-col>
    </v-row>

  </div>
</template>

<script>
export default {
  name: "deskList",
  props: {
    data: {
      type: Array
    }
  },
  data() {
    return {}
  },
  methods: {
    clickCanlender(item) {
      this.$emit('clickCanlender', item.id || item.resourceId);
    },
    localtionMap(item) {
      // this.$emit("acceptMap", item);
      this.$emit("acceptMap", item.id || item.resourceId);
    },
  },

}
</script>

<style scoped lang="scss">
.lists {
  .one-list {
    min-height: 100px;

    &:nth-child(odd) {
      background: #f3f3f3;
    }
  }

  .xtitle {
    font-size: 1.3rem;
    font-weight: bold;
  }

  i {
    //color: $main-blue;
    font-size: 2.2rem;
    cursor: pointer;
  }

  .deskListTitle {
    min-width: 4.7rem;
  }
}
</style>
