<template>
  <v-card
    class="deskBooking ma-0 pa-0"
  >
    <!--显示按钮组-->
    <div class="deskBooking-container" v-show="showDeskInfo">
      <v-row class="ma-0 pa-0">
        <v-col cols="12" md="12" class="ma-0 pa-0 text-style text">
          <div class="title x-title">
            <img src="@/assets/images/map/meet_calendar_desk@2x.png" v-show="data.type=='desk'"
                 style="width: 25px;height:20px;margin:10px"/>
            <img src="@/assets/images/map/meet_calendar_room@2x.png" v-show="data.type=='room'"
                 style="width: 25px;height:25px;margin:7px"/>
            <span class="title-text">
            {{ data.name }}
            </span>
            <i class="iconfont icon-chahao" style="margin-right: 20px;cursor: pointer"
               @click="backToSearchListDefault"></i>
          </div>
        </v-col>
      </v-row>
      <div class="content">
        <v-img
          :src="data.image"
        ></v-img>
        <v-card-subtitle class="pb-0">Information:</v-card-subtitle>
        <v-card-text class="text--primary">
          <div>Campus: {{ data.campusName }}</div>
          <div>{{ data.buildingName + ', ' + data.floorName }}</div>
          <div>Capacity: {{ data.capacity }}</div>
        </v-card-text>

        <v-card-subtitle class="pb-0">Amenities:</v-card-subtitle>
        <v-card-text class="text--primary">
          <div v-for="a in data.featureInstances"> {{ a }}</div>
        </v-card-text>
        <hr>
        <v-row class="ma-0" v-show="data.type=='desk'" style="padding:20px">
          <v-col cols="12" class="ma-0 pa-0" v-show="!showInfo">
            <h2 style="margin-bottom: 30px">Book Now For</h2>
          </v-col>
          <v-col v-show="data.type=='desk'" cols="12" class="ma-0 pa-0" style="display: flex;justify-content: center">
            <h2 v-show="showInfo" style="margin-top: 30px">
              This desk is not currently available to book.
            </h2>
            <v-btn v-show="!showInfo" @click="clickBooking" rounded class="x-btn" style="margin-bottom: 10px">
              {{ deskBtnLabel }}
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="ma-0" v-show="data.type=='room'" style="padding:20px">
          <v-col cols="12" class="ma-0 pa-0" v-show="!showInfo">
            <h2 style="margin-bottom: 30px">Book Now For</h2>
          </v-col>
          <v-col v-show="data.type=='room'" cols="12" class="ma-0 pa-0" style="display: flex;justify-content: center">
            <h2 v-show="showInfo" style="margin-top: 30px">
              This room is not currently available to book.
            </h2>
            <div v-show="!showInfo">
              <v-btn v-for="item in roomBtn" @click="clickBooking(item.value)" rounded class="x-btn"
                     style="margin-bottom: 10px">{{ item.label }}
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
    <!--显示book it-->
    <div class="deskBooking-container" v-show="!showDeskInfo">
      <v-row class="ma-0 pa-0">
        <v-col cols="12" md="12" class="ma-0 pa-0 text-style text">
          <div class="title x-title">
            <img src="@/assets/images/map/meet_calendar_desk@2x.png" v-show="data.type=='desk'"
                 style="float: left;width: 25px;margin: 11px 5px;"/>
            <img src="@/assets/images/map/meet_calendar_room@2x.png" v-show="data.type=='room'"
                 style="float: left;width: 25px;margin: 8px 5px;"/>
            Book Your Space
            <i class="iconfont icon-chahao" style="float:right;margin-right: 20px;cursor: pointer"
               @click="backToSearchListDefault"></i>
          </div>
        </v-col>
      </v-row>
      <div class="content">
        <v-img
          style="height:300px"
          :src="data.image"
        ></v-img>
        <v-card-text class="text--primary bookInfo x-background">
          <h2>You are booking: {{ data.name }}</h2>
          <div style="margin-bottom: 20px">
            {{ startTimeSpecific }} -
            {{ endTimeSpecific }}
          </div>
          <div>Campus: {{ data.campusName }}</div>
          <div>{{ data.buildingName + data.floorName }}</div>
          <div>Capacity: {{ data.capacity }}</div>
          <v-col cols="12" class="ma-0 pa-0" style="display: flex;justify-content: center">
            <v-btn @click="bookIt" rounded class="x-btn" style="margin: 20px">Book it</v-btn>
          </v-col>
        </v-card-text>
        <!--meeting信息（room才有）-->
        <div v-show="data.type=='room'" class="meetingInfo">
          <v-text-field
            v-model="summary"
            label="Enter Summary"
            class="meetingInfo-input"
            single-line
            counter
            maxlength="30"
          ></v-text-field>
          <!--<v-text-field-->
          <!--v-model="description"-->
          <!--class="meetingInfo-input"-->
          <!--label="Enter Description"-->

          <!--&gt;</v-text-field>-->
          <v-textarea
            v-show="client!='NatWest'"
            clearable
            clear-icon="cancel"
            name="input-7-1"
            class="meetingInfo-input"
            label="Enter Description"
            rows="1"
            auto-grow
            v-model="description"
          ></v-textarea>
          <v-btn
            v-show="client!='NatWest'"
            rounded
            outlined
            :class="{'x-btn-active': addGoogle==true}"
            @click="clickAddGoogle"
          >
            Add Microsoft Teams
          </v-btn>
          <v-btn rounded outlined @click="jumpToSelectPa" v-show="client!='NatWest'">
            Select Participants
          </v-btn>
          <!--展示与会人员-->
          <staff v-for="(item,index) in participants"
                 :ref="'staff'+index"
                 :data="item"
                 style="cursor: pointer"
                 class="staff"
                 :showCancel="true"
                 v-on:cancel="cancel"
          ></staff>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
import moment from "moment";
import {mapMutations} from "vuex";
import staff from "@/views/dashboard/componentsHa/staff";

export default {
  name: "deskBooking",
  props: {
    data: {
      type: Object
    },
    time: {
      type: Object
    },
    showDeskInfo: {
      type: Boolean,
      default: true
    },
    // meeting的与会人员
    participants: {
      type: Array
    },

  },
  components: {
    staff
  },
  watch: {
    data(newVal, oldVal) {
      console.log('booking-data-newVal:', newVal)
      let minutes;

      if (newVal.type == 'room') {
        if (!newVal.busy_time.length > 0) {
          minutes = 120;
        } else {
          minutes = moment(newVal.busy_time[0].start, "X").diff(moment(this.time.start, "X"), 'minutes');
        }
        console.log("minutes:", minutes)
        if (minutes < 30) {
          this.roomBtn = []
          this.showInfo = true;
        } else if (minutes >= 30 && minutes < 60) {
          this.roomBtn = [
            {label: '30m', value: 30},
          ];
          this.showInfo = false;
        } else if (minutes >= 60 && minutes < 90) {
          this.roomBtn = [
            {label: '30m', value: 30},
            {label: '60m', value: 60},
          ];
          this.showInfo = false;
        } else if (minutes >= 90 && minutes < 120) {
          this.roomBtn = [
            {label: '30m', value: 30},
            {label: '60m', value: 60},
            {label: '90m', value: 90},
          ];
          this.showInfo = false;
        } else if (minutes >= 120) {
          this.roomBtn = [
            {label: '30m', value: 30},
            {label: '60m', value: 60},
            {label: '90m', value: 90},
            {label: '120m', value: 120},
          ];
          this.showInfo = false;
        } else {
          return
        }
      } else {
        if (newVal.busy) {
          this.showInfo = true;
        } else {
          this.showInfo = false;
        }
      }
      console.log("showInfo-data:", this.showInfo)
    },
    time(newVal, oldVal) {
      console.log('booking-time-newVal:', newVal)
      this.startTimeSpecific = moment(newVal.start, "X").format("MMM D, h:mma");
      this.endTimeSpecific = moment(newVal.end, "X").format("MMM D, h:mma");
      let d = new Date();
      let currentDate = moment(d).format("YYYY-MMM-D");
      console.log("currentDate:", currentDate);
      let bookingDate = moment(newVal.start, "X").format("YYYY-MMM-D");
      console.log("bookingDate:", bookingDate);
      if (currentDate == bookingDate) {
        if(this.client=='WarnerMedia'){
          this.deskBtnLabel = 'Today';
        }else{
          this.deskBtnLabel = 'Today > End of Day';
        }
      } else {
        this.deskBtnLabel = moment(newVal.start, "X").format("dddd MMMM D");
      }
      if (this.data.type == 'room') {
        let minutes;
        if (!this.data.busy_time.length > 0) {
          this.showInfo = false;
        } else {
          //最早预定的开始时间 - 当前时间
          minutes = moment(this.data.busy_time[0].start, "X").diff(moment(newVal.start, "X"), 'minutes');
          //大于0证明预定的开始时间比当前时间晚，计算当前可以预定的时间
          if (minutes > 0) {
            if (minutes == 0) {
              this.roomBtn = []
              this.showInfo = true;
            } else if (minutes == 30) {
              this.roomBtn = [
                {label: '30m', value: 30},
              ];
              this.showInfo = false;
            } else if (minutes == 60) {
              this.roomBtn = [
                {label: '30m', value: 30},
                {label: '60m', value: 60},
              ];
              this.showInfo = false;
            } else if (minutes == 90) {
              this.roomBtn = [
                {label: '30m', value: 30},
                {label: '60m', value: 60},
                {label: '90m', value: 90},
              ];
              this.showInfo = false;
            } else if (minutes == 120) {
              this.roomBtn = [
                {label: '30m', value: 30},
                {label: '60m', value: 60},
                {label: '90m', value: 90},
                {label: '120m', value: 120},
              ];
              this.showInfo = false;
            } else {
              return
            }
          } else {
            //小于0证明预定的开始时间比当前时间早，分情况讨论
            //1.预定的开始时间和结束时间都比当前时间早，则当前可以预定未来2小时
            if (this.data.busy_time[0].end <= this.time.start) {
              this.roomBtn = [
                {label: '30m', value: 30},
                {label: '60m', value: 60},
                {label: '90m', value: 90},
                {label: '120m', value: 120},
              ];
              this.showInfo = false;
            } else {//2.预定的开始时间比当前时间早，但是预定的结束时间比当前时间晚，则时间重叠，不能预定
              this.showInfo = true;
            }
          }
        }
      } else {
        if (this.data.busy) {
          this.showInfo = true;
        } else {
          this.showInfo = false;
        }
      }
      console.log("showInfo-time:", this.showInfo)
    }
  },
  data() {
    return {
      client: '',
      addGoogle: false,//Add Microsoft Teams
      showInfo: false,//false 有按钮组 true 提示不可预订
      startTime: '',
      endTime: '',
      startTimeSpecific: '',
      endTimeSpecific: '',
      roomBtn: [
        {label: '30m', value: 30},
        {label: '60m', value: 60},
        {label: '90m', value: 90},
        {label: '120m', value: 120},
      ],
      deskBtnLabel: 'Today > End of Day',
      // deskBtnLabel: 'Today > End of Day',
      showBookingBtn: true,
      summary: '',//订meeting的概要
      description: '',//订meeting的详细信息
    }
  },
  methods: {
    ...mapMutations('bookingType', ["setBookingType"]),
    clickAddGoogle() {
      this.addGoogle = !this.addGoogle;
    },
    // 右侧点击叉号删除与会人员
    cancel(data) {
      this.$emit("cancelPa", data);
    },
    // cancel(data){
    //   let length = this.participants.length;
    //   for(let i = 0; i < length; i++){
    //     if(data.id==this.participants[i].id){
    //       this.participants.splice(i,1);
    //       break;
    //     }
    //   }
    // },
    // 选参加会议的人
    jumpToSelectPa() {
      this.$emit("jumpToSelectPa", this.participants);
    },
    // 时间戳换算成时间（测试用来校验）
    getLocalTime(nS) {
      return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
    },
    // 预定room/desk
    clickBooking(minutes) {
      if (this.data.type == 'desk') {
        let obj = {};
        obj.start = this.time.start;
        obj.end = moment(this.time.start, "X").endOf('day').unix();
        console.log("obj:", obj);
        this.$emit("changeBookTime", obj);
        this.$emit("changeDeskInfoToFalse", true);
      } else {
        let obj = {};
        obj.start = this.time.start;
        obj.end = moment(this.time.start, "X").add(+(minutes), 'minutes').unix();
        console.log("obj:", obj);
        this.$emit("changeBookTime", obj);
        this.$emit("changeDeskInfoToFalse", true);
      }
    },
    // clickBooking(minite) {
    //   if (this.data.type == 'desk') {
    //     this.bus.$emit('loading', true);
    //     // today > end of day
    //     // let d = new Date();
    //     // d.setSeconds(0);
    //     // let min = d.getMinutes();
    //     // let remainder = min % 30;
    //     this.endTime = moment(this.time.start, "X").endOf('day').unix();
    //     this.$axios({
    //       method: 'POST',
    //       url: '/m/desk/reserveSeat',
    //       params: {
    //         meetingId: localStorage.meetingIdMap,
    //         seatId: this.data.resourceId,
    //         start: this.time.start,
    //         end: this.endTime,
    //         token: localStorage.token,
    //       }
    //     }).then(res => {
    //       // console.log('res:', res);
    //       this.bus.$emit('loading', false);
    //       // 把预订的时间返回给spance页面头部，然后刷新map
    //       let obj = {};
    //       obj.start = '';
    //       obj.end = '';
    //       this.backToSearchList(obj);
    //       this.$message.success("Success");
    //     }).catch(err => {
    //       this.bus.$emit('loading', false);
    //       console.log(err);
    //     })
    //   }
    //   else {
    //     // console.log('bookingRoom...')
    //     this.bus.$emit('loading', true);
    //     // let d = new Date();
    //     // d.setSeconds(0);
    //     // let min = d.getMinutes();
    //     // let remainder = min % 30;
    //     this.endTime = moment(this.time.start, "X").add(+(minite), 'minutes').unix();
    //     let room = [];
    //     room.push(this.data.resourceId);
    //     this.$axios({
    //       method: 'POST',
    //       url: '/m/spaces/insertEvent/',
    //       data: {
    //         calendarId: localStorage.userEmail,//订房间的人的email
    //         rooms: room,//房间的resourceId, 数组
    //         meetingId: localStorage.meetingIdMap,//campus的id
    //         start: this.time.start,//开始时间戳
    //         end: this.endTime,//结束时间戳
    //         summary: '',//标题
    //         description: '',//详情
    //         attendees: [],//参会人员的email, 数组
    //         token: localStorage.token
    //       }
    //     }).then(res => {
    //       this.bus.$emit('loading', false);
    //       // 把预订的时间返回给spance页面头部，然后刷新map
    //       let obj = {};
    //       obj.start = '';
    //       obj.end = '';
    //       this.backToSearchList(obj);
    //       this.$message.success("Success");
    //     }).catch(err => {
    //       this.bus.$emit('loading', false);
    //       console.log(err);
    //     })
    //   }
    // },
    bookIt() {
      if (this.data.type == 'room') {
        this.bus.$emit('loading', true);
        let room = [];
        console.log("this.data:", this.data)
        room.push(this.data.resourceId);
        let attendees = [];
        this.participants.map(item => {
          attendees.push(item.email);
        })
        this.$axios({
          method: 'POST',
          url: '/m/spaces/insertEvent/',
          data: {
            isOnlineMeeting: this.addGoogle ? 1 : 0,//是否显示email phone之类得详细信息
            calendarId: localStorage.userEmail,//订房间的人的email
            rooms: room,//房间的resourceId, 数组
            meetingId: localStorage.meetingIdMap,//campus的id
            start: this.time.start,//开始时间戳
            end: this.time.end,//结束时间戳
            summary: this.summary,//标题
            description: this.description,//详情
            attendees: attendees,//参会人员的email, 数组
            // token: localStorage.token
          },
          headers: {
            CX_MEETING: localStorage.meetingIdMap,
          }
        }).then(res => {
          this.bus.$emit('loading', false);
          if (res.data.result == 'failed') {
            this.$confirm({title: "Confirmation", message: res.data.message, show: true})
            return
          }
          this.$message.success("Success");
          this.setBookingType('Meetings');
          this.$router.push({name: 'booking', params: {start: this.time.start, end: this.time.end}});
          if (window.gtag) {
            window.gtag('event', 'Space', {
              event_category: 'Space Book Succeed',
              event_label: this.data.name,
              send_to: localStorage.getItem("googleAnaId") || "",
              dimension1: localStorage.getItem("campusName") || ""
            })
          }

        }).catch(err => {
          this.bus.$emit('loading', false);
          console.log(err)
        })
      } else {
        this.bus.$emit('loading', true);
        this.$axios({
          method: 'POST',
          url: '/m/desk/reserveSeat',
          params: {
            meetingId: localStorage.meetingIdMap,
            seatId: this.data.resourceId,
            start: this.time.start,
            end: this.time.end,
            // token: localStorage.token,
          }
        }).then(res => {
          this.bus.$emit('loading', false);
          if (res.data.result == 'failed') {
            this.$confirm({title: "Confirmation", message: res.data.message, show: true})
            return
          }
          this.$message.success("Success");
          if(localStorage.getItem('client')=='WarnerMedia'){
            this.setBookingType('Desks / Offices');
          }else{
            this.setBookingType('Desks');
          }
          this.$router.push({name: 'booking', params: {start: this.time.start, end: this.time.end}})
          if (window.gtag) {
            window.gtag('event', 'Space ', {
              event_category: 'Space Book Succeed',
              event_label: this.data.name,
              send_to: localStorage.getItem("googleAnaId") || "",
              dimension1: localStorage.getItem("campusName") || ""
            })
          }

        }).catch(err => {
          this.bus.$emit('loading', false);
          console.log(err)
        })
      }
    },
    backToSearchListDefault() {
      let obj = {};
      obj.start = '';
      obj.end = '';
      this.$emit('backToSearchList', obj)
    },
    //弃用
    backToSearchList(obj) {
      this.$emit('backToSearchList', obj)
    }
  },
  created() {
    this.summary = localStorage.userName + "'s Meeting";
    this.client = localStorage.getItem("client");
    if(this.client=='WarnerMedia'){
      this.deskBtnLabel = 'Today';
    }else{
      this.deskBtnLabel = 'Today > End of Day';
    }
  },
  mounted() {
    // console.log('time:', this.time)
    // console.log("type", this.data.type);
    // console.log("showDeskInfo", this.showDeskInfo);
    this.startTimeSpecific = moment(this.time.start, "X").format("MMM D, h:mma");
    this.endTimeSpecific = moment(this.time.end, "X").format("MMM D, h:mma");
    let minutes;
    if (this.data.type == 'room') {
      if (!this.data.busy_time.length > 0) {
        minutes = 120;
      } else {
        minutes = moment(this.data.busy_time[0].start, "X").diff(moment(this.time.start, "X"), 'minutes');
      }
      if (minutes == 0) {
        this.roomBtn = [];
        this.showInfo = true;
      } else if (minutes == 30) {
        this.roomBtn = [
          {label: '30m', value: 30},
        ];
        this.showInfo = false;
      } else if (minutes == 60) {
        this.roomBtn = [
          {label: '30m', value: 30},
          {label: '60m', value: 60},
        ];
        this.showInfo = false;
      } else if (minutes == 90) {
        this.roomBtn = [
          {label: '30m', value: 30},
          {label: '60m', value: 60},
          {label: '90m', value: 90},
        ];
        this.showInfo = false;
      } else if (minutes == 120) {
        this.roomBtn = [
          {label: '30m', value: 30},
          {label: '60m', value: 60},
          {label: '90m', value: 90},
          {label: '120m', value: 120},
        ];
        this.showInfo = false;
      } else {
        return
      }
    } else {
      if (this.data.busy) {
        this.showInfo = true;
      } else {
        this.showInfo = false;
      }
    }
    // if (this.data.type == 'room') {
    //   if (!this.showDeskInfo) {
    //     this.startTimeSpecific = moment(this.time.start, "X").format("MMM D, h:mma");
    //     this.endTimeSpecific = moment(this.time.end, "X").format("MMM D, h:mma");
    //     console.log("startTimeSpecific:", this.startTimeSpecific);
    //     console.log("endTimeSpecific:", this.endTimeSpecific);
    //   }
    // }


    // room
    // if(this.data.type=='room'){
    //   if (this.time.timeType == 'normal') {
    //     let diff = moment(this.time.end, "X").diff(moment(this.time.start, "X"), "minutes");
    //     if (diff == 30) {
    //       console.log(30)
    //       this.roomBtn = [
    //         {label: '30m', value: 30},
    //       ]
    //     } else if (diff == 60) {
    //       console.log(60)
    //       this.roomBtn = [
    //         {label: '30m', value: 30},
    //         {label: '60m', value: 60},
    //       ]
    //     } else if (diff == 90) {
    //       console.log(90)
    //       this.roomBtn = [
    //         {label: '30m', value: 30},
    //         {label: '60m', value: 60},
    //         {label: '90m', value: 90},
    //       ]
    //     } else if (diff == 120) {
    //       console.log(120)
    //       this.roomBtn = [
    //         {label: '30m', value: 30},
    //         {label: '60m', value: 60},
    //         {label: '90m', value: 90},
    //         {label: '120m', value: 120},
    //       ]
    //     } else {
    //       return
    //     }
    //   }
    //   else {
    //     let label = moment(this.time.start, "X").format("MMM D,h:mm a") + " to " + moment(this.time.end, "X").format("MMM D,h:mm a");
    //     this.roomBtn = [
    //       {label: label, value:''},
    //     ]
    //   }
    // }
    // {//desk
    //   if (this.time.timeType == 'normal') {
    //     this.deskBtnLabel = "Today > End of Day";
    //   }
    //   else {
    //     this.deskBtnLabel = moment(this.time.start, "X").format("MMM D,h:mm a") + " to " + moment(this.time.end, "X").format("MMM D,h:mm a");
    //   }
    // }

  }
}
</script>

<style scoped lang="scss">
.deskBooking {
  .deskBooking-container {
    border: 1px solid #efefef;

    .title {
      //background: $main-blue;
      color: #ffffff;
      height: 40px;
      line-height: 40px;
      display: flex;
      justify-content: space-between;

      .title-text {
        width: 75%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    //.title {
    //  background: #4164FD;
    //  color: #ffffff;
    //  height: 40px;
    //  line-height: 40px;
    //  text-align: center;
    //}

    .content {
      height: 780px;
      overflow-y: auto;
      overflow-x: hidden;

      .meetingInfo {
        .meetingInfo-input {
          margin: auto;
          width: 70%;
        }

        button {
          display: block;
          margin: 10px auto;
        }
      }

      //.active {
      //  background: $btn-color-highlight;
      //  color: #ffffff;
      //}
    }

    .bookInfo {
      //background: $main-blue;
      text-align: center;

      h2 {
        color: #ffffff;
      }

      div {
        color: #ffffff;
        margin-bottom: 5px;
      }
    }
  }
}
</style>
