<template>
  <v-container
    id="desks"
    fluid
    tag="section"
    class="pa-0 ma-0"
  >
    <v-row class="pa-0 titleContainer">
      <v-col cols="12" md="12" class="ma-0 pa-0 text-style text">
        <div class="title x-title">
          <span v-if="client=='WarnerMedia'">Search for a Space</span>
          <span v-else>Find a Space</span>
          <i v-show="showList" class="iconfont icon-chahao" style="float: right;margin-right: 20px;cursor: pointer"
             @click="backToSearchList(true)"></i>
        </div>
      </v-col>
    </v-row>
    <div class="desks-content">
      <v-row v-if="!showList" class="ma-0 pa-0">
        <v-col cols="12" md="12" class="ma-0 pa-0">
          <v-card class="ma-0 pa-0" style="border-radius: 0;">
            <v-card-title style="background:#f3f3f3">
              <img v-if="client=='WarnerMedia'" src="@/assets/images/warner/space.png" alt="" style="width:25px;margin-right: 5px;">
              <i v-else class="iconfont iconTitle icon-fangkuai"></i>
              <span>TYPE OF SPACE</span>
            </v-card-title>
            <v-tabs
              background-color="#f3f3f3"
              v-model="tab"
              color="transparent"
            >
              <v-tab href="#tab-1" style="border-bottom: 0" class="ma-0 pa-0">
                <v-btn v-if="client=='WarnerMedia'" class="ma-1 desks-btn" rounded outlined color="#666666">
                  Meeting Rooms
                </v-btn>
                <v-btn v-else class="ma-1 desks-btn" rounded outlined color="#666666">
                  Room
                </v-btn>
              </v-tab>

              <v-tab href="#tab-2" class="ma-0 pa-0">
                <v-btn v-if="client=='WarnerMedia'" class="ma-1 desks-btn" rounded outlined color="#666666">
                  Desks / Offices
                </v-btn>
                <v-btn v-else class="ma-1 desks-btn" rounded outlined color="#666666">
                  Desks
                </v-btn>
              </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <!--ROOM-->
              <v-tab-item key="1" value="tab-1">
                <!--AVAILABILITY-->
                <v-card flat>
                  <v-card-title>
                    <img v-if="client=='WarnerMedia'" src="@/assets/images/warner/availablility.png" alt="" style="width:25px;margin-right: 5px;">
                    <i v-else class="iconfont iconTitle icon-fangkuai"></i>
                    <span v-if="client=='WarnerMedia'">AVAILABLE FOR THE NEXT...</span>
                    <span v-else>AVAILABILITY</span>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn
                      class="ma-1"
                      rounded
                      small
                      outlined
                      v-for="(i, k) in availabilityArr" :key="k"
                      :class="{'x-btn-active': i.active==='active'}"
                      @click="availabilityClick(k)"
                    >
                      {{ i.value }}
                    </v-btn>
                  </v-card-actions>
                  <!--日期选择-->
                  <v-col cols="12" md="12" v-show="showDatePicker" @keyup.enter="menu1=true">
                    <v-row>
                      <v-col cols="12" md="12">
                        <v-row>
                          <v-col cols="12" md="6">
                            <v-menu
                              ref="menu1"
                              v-model="menu1"
                              :close-on-content-click="false"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="dateText"
                                  label="Start Date*"
                                  v-bind="attrs"
                                  @blur="date = parseDate(dateText)"
                                  v-on="on"
                                  readonly
                                  autocomplete="off"
                                  clearable
                                  @click:clear="date = null"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="date"
                                no-title
                                @input="dateInput"
                                :allowed-dates="allowedDates"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="12" md="6" style="display: flex;align-items: center;margin-top: -8px">
                            <Time v-model="dateStartTime"
                                  format="hh:mm a"
                                  :minute-interval="30"
                                  manual-input
                                  placeholder="Start Time*"
                                  :input-width="'100%'"
                            ></Time>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" md="6" @keyup.enter="menu2 = true">
                            <v-menu
                              ref="menu2"
                              v-model="menu2"
                              :close-on-content-click="false"
                              readonly
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="dateEndText"
                                  label="End Date*"
                                  v-bind="attrs"
                                  @blur="dateEnd = parseEndDate(dateEndText)"
                                  v-on="on"
                                  autocomplete="off"
                                  clearable
                                  @click:clear="dateEnd = null"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="dateEnd"
                                no-title
                                @input="dateEndInput"
                                :allowed-dates="allowedDates"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="12" md="6" style="display: flex;align-items: center;margin-top: -8px">
                            <Time v-model="dateEndTime"
                                  format="hh:mm a"
                                  :minute-interval="30"
                                  manual-input
                                  placeholder="End Time*"
                                  :input-width="'100%'"
                            ></Time>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-card>
                <!--CAPACITY-->
                <v-card flat>
                  <v-card-title style="background:#f3f3f3">
                    <img v-if="client=='WarnerMedia'" src="@/assets/images/warner/capacity.png" alt="" style="width:25px;margin-right: 5px;">
                    <i v-else class="iconfont iconTitle icon-fangkuai"></i>
                    <span>CAPACITY</span>
                  </v-card-title>
                  <v-card-actions style="background:#f3f3f3">
                    <v-btn
                      class="ma-2"
                      rounded
                      small
                      outlined
                      v-for="(i, k) in capacity" :key="k"
                      :class="{'x-btn-active': i.active==='active'}"
                      @click="capacityClick(k)"
                    >
                      {{ i.label }}
                    </v-btn>

                  </v-card-actions>
                </v-card>
                <!--AMENITIES-->
                <v-card flat>
                  <v-card-title>
                    <img v-if="client=='WarnerMedia'" src="@/assets/images/warner/emergency-assistance.png" alt="" style="width:25px;margin-right: 5px;">
                    <i v-else class="iconfont iconTitle icon-fangkuai"></i>
                    <span v-if="client=='WarnerMedia'">FEATURES</span>
                    <span v-else>AMENITIES</span>
                  </v-card-title>
                  <v-btn
                    class="ma-2"
                    rounded
                    small
                    outlined
                    :title="i.value"
                    v-for="(i, k) in roomAmenities" :key="k"
                    :class="{'x-btn-active': i.active==='active'}"
                    @click="roomAmenitiesClick(k)"
                  >
                    {{ i.value }}
                  </v-btn>
                </v-card>
              </v-tab-item>
              <!--DESKS-->
              <v-tab-item key="2" value="tab-2">
                <!--AVALABLE FOR-->
                <v-card flat>
                  <v-card-title>
                    <img v-if="client=='WarnerMedia'" src="@/assets/images/warner/availablility.png" alt="" style="width:25px;margin-right: 5px;">
                    <i v-else class="iconfont iconTitle icon-fangkuai"></i>
                    <span>AVAILABLE FOR</span>
                  </v-card-title>
                  <div class="availBtns">
                    <v-btn v-for="(item,index) in availBtns"
                           :key="'availBtns'+index"
                           class="ma-3 desks-btn"
                           :class="{active: item.active==='active'}"
                           rounded
                           outlined
                           @click="clickAvailContent(item)"
                    >
                      {{ item.label }}
                    </v-btn>
                  </div>
                  <div class="availContents">
                    <div v-show="showContent1">
                      <p class="annotation">Find a desk that's available between now and the end of today</p>
                    </div>
                    <div v-show="showContent2">
                      <p class="annotation">Find desk available during a certain time frame.Desk booking is only
                        available
                        up to {{advanceBookingLimit}} days in the future</p>
                      <v-col cols="12" md="12" style="margin-top: 10px">
                        <v-row>
                          <v-col cols="12" md="12">
                            <v-row>
                              <v-col cols="12" md="6">
                                <!--开始日期-->
                                <v-menu
                                  ref="menuHourlyStartDate"
                                  v-model="menuHourlyStartDate"
                                  :close-on-content-click="false"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      v-model="dateHourlyText"
                                      label="Start Date*"
                                      v-bind="attrs"
                                      @blur="dateHourly = parseDate(dateHourlyText)"
                                      v-on="on"
                                      readonly
                                      autocomplete="off"
                                      clearable
                                      @click:clear="dateHourly = null"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    v-model="dateHourly"
                                    no-title
                                    @input="dateHourlyInput"
                                    :allowed-dates="allowedDates"
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>
                              <v-col cols="12" md="6" style="display: flex;align-items: center;margin-top: -8px">
                                <!--开始时间-->
                                <!--<v-menu-->
                                <!--  ref="menuHourlyStartTime"-->
                                <!--  v-model="menuHourlyStartTime"-->
                                <!--  :close-on-content-click="false"-->
                                <!--  :nudge-right="40"-->
                                <!--  :return-value.sync="time"-->
                                <!--  transition="scale-transition"-->
                                <!--  offset-y-->
                                <!--  max-width="290px"-->
                                <!--  min-width="290px"-->
                                <!--&gt;-->
                                <!--  <template v-slot:activator="{ on, attrs }">-->
                                <!--    <v-text-field-->
                                <!--      color="rgb(238 44 84)"-->
                                <!--      v-model="hourlyStartTime"-->
                                <!--      label="*Start Time"-->
                                <!--      prepend-icon="mdi-clock-time-four-outline"-->
                                <!--      readonly-->
                                <!--      v-bind="attrs"-->
                                <!--      v-on="on"-->
                                <!--    ></v-text-field>-->
                                <!--  </template>-->
                                <!--  <v-time-picker-->
                                <!--    format="ampm"-->
                                <!--    v-if="menuHourlyStartTime"-->
                                <!--    v-model="hourlyStartTime"-->
                                <!--    full-width-->
                                <!--    @click:minute="$refs.menuHourlyStartTime.save(hourlyStartTime)"-->
                                <!--  ></v-time-picker>-->
                                <!--</v-menu>-->
                                <Time v-model="hourlyStartTime"
                                      format="hh:mm a"
                                      :minute-interval="30"
                                      manual-input
                                      placeholder="Start Time*"
                                      :input-width="'100%'"
                                ></Time>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" md="12">
                            <v-row>
                              <v-col cols="12" md="6">
                                <!--结束日期-->
                                <v-menu
                                  ref="menuHourlyEndDate"
                                  v-model="menuHourlyEndDate"
                                  :close-on-content-click="false"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      v-model="dateHourlyEndText"
                                      label="End Date*"
                                      v-bind="attrs"
                                      @blur="dateHourlyEnd = parseDate(dateHourlyEndText)"
                                      v-on="on"
                                      readonly
                                      autocomplete="off"
                                      clearable
                                      @click:clear="dateHourlyEnd = null"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    v-model="dateHourlyEnd"
                                    no-title
                                    @input="dateHourlyEndInput"
                                    :allowed-dates="allowedDates"
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>
                              <v-col cols="12" md="6" style="display: flex;align-items: center;margin-top: -8px"
                              >
                                <!--结束时间-->
                                <Time v-model="hourlyEndTime"
                                      format="hh:mm a"
                                      :minute-interval="30"
                                      manual-input
                                      placeholder="End Time*"
                                      :input-width="'100%'"
                                ></Time>
                                <!--<v-menu-->
                                <!--  ref="menuHourlyEndTime"-->
                                <!--  v-model="menuHourlyEndTime"-->
                                <!--  :close-on-content-click="false"-->
                                <!--  :nudge-right="40"-->
                                <!--  :return-value.sync="time"-->
                                <!--  transition="scale-transition"-->
                                <!--  offset-y-->
                                <!--  max-width="290px"-->
                                <!--  min-width="290px"-->
                                <!--&gt;-->
                                <!--  <template v-slot:activator="{ on, attrs }">-->
                                <!--    <v-text-field-->
                                <!--      color="rgb(238 44 84)"-->
                                <!--      v-model="hourlyEndTime"-->
                                <!--      label="*End Time"-->
                                <!--      prepend-icon="mdi-clock-time-four-outline"-->
                                <!--      readonly-->
                                <!--      v-bind="attrs"-->
                                <!--      v-on="on"-->
                                <!--    ></v-text-field>-->
                                <!--  </template>-->
                                <!--  <v-time-picker-->
                                <!--    format="ampm"-->
                                <!--    v-if="menuHourlyEndTime"-->
                                <!--    v-model="hourlyEndTime"-->
                                <!--    full-width-->
                                <!--    @click:minute="$refs.menuHourlyEndTime.save(hourlyEndTime)"-->
                                <!--  ></v-time-picker>-->
                                <!--</v-menu>-->
                              </v-col>
                            </v-row>

                          </v-col>
                        </v-row>
                      </v-col>
                    </div>
                    <div v-show="showContent3">
                      <p class="annotation">Find desk available during a certain time frame.Desk booking is only
                        available
                        up to {{advanceBookingLimit}} days in the future</p>
                      <v-col cols="12" md="12" style="margin-top: 10px">
                        <v-row>
                          <v-col cols="12" md="12">
                            <v-row>
                              <v-col cols="12" md="6">
                                <v-menu
                                  ref="menuDayStartDate"
                                  v-model="menuDayStartDate"
                                  :close-on-content-click="false"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      v-model="dateDayText"
                                      label="Start Date*"
                                      v-bind="attrs"
                                      @blur="dateDay = parseDate(dateDayText)"
                                      v-on="on"
                                      readonly
                                      autocomplete="off"
                                      clearable
                                      @click:clear="dateDay = null"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    v-model="dateDay"
                                    no-title
                                    @input="dateDayInput"
                                    :allowed-dates="allowedDates"
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-menu
                                  ref="menuDayEndDate"
                                  v-model="menuDayEndDate"
                                  :close-on-content-click="false"
                                  readonly
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      v-model="dateDayEndText"
                                      label="End Date*"
                                      v-bind="attrs"
                                      @blur="dateDayEnd = parseEndDate(dateDayEndText)"
                                      v-on="on"
                                      autocomplete="off"
                                      clearable
                                      @click:clear="dateDayEnd = null"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    v-model="dateDayEnd"
                                    no-title
                                    @input="dateDayEndInput"
                                    :allowed-dates="allowedDates"
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-col>
                    </div>
                  </div>
                </v-card>
                <!--DESKAMENITIES-->
                <v-card flat style="background:#f3f3f3">
                  <v-card-title>
                    <img v-if="client=='WarnerMedia'" src="@/assets/images/warner/emergency-assistance.png" alt="" style="width:25px;margin-right: 5px;">
                    <i v-else class="iconfont iconTitle icon-fangkuai"></i>
                    <span v-if="client=='WarnerMedia'">FEATURES</span>
                    <span v-else>AMENITIES</span>
                  </v-card-title>
                  <v-btn
                    class="ma-2"
                    rounded
                    outlined
                    v-for="(i, k) in deskAmenities" :key="k"
                    :class="{'x-btn-active': i.active==='active'}"
                    @click="deskAmenitiesClick(k)"
                  >
                    <div style="max-width: 300px;word-wrap: break-word;overflow: hidden;
    text-overflow: ellipsis">
                      {{ i.value }}
                    </div>
                  </v-btn>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
            <v-btn rounded small class="ma-2 searchBtn x-btn" @click="searchList">Search</v-btn>
            <v-btn rounded small outlined @click="clearAll">Clear</v-btn>
          </v-card>
        </v-col>
      </v-row>
      <!--search list-->
      <v-row v-if="showList" class="ma-0 pa-0">
        <v-col col="12" class="ma-0 pa-0">
          <v-card class="ma-0 pa-3">
            <v-card-title class="ma-0 pa-0">
              <span>{{ searchListTitle }}</span>
            </v-card-title>
            <!--按钮-->
            <div class="availBtns">
              <v-btn v-for="(item,index) in searchBtns"
                     :key="'searchBtns'+index"
                     class="ma-3 desks-btn"
                     :class="{active: item.active}"
                     rounded
                     outlined
                     @click="clickSearchBtn(item)"
              >
                {{ item.label }}
              </v-btn>
              <v-btn v-for="(item,index) in buildings"
                     :key="'buildings'+index"
                     class="ma-3"
                     :class="{active: item.active}"
                     rounded
                     outlined
                     @click="clickBuilding(item)"
              >
                {{ item.label }}
              </v-btn>
              <v-btn v-for="(item,index) in floors"
                     v-show="showFloors"
                     :key="'floors'+index"
                     class="ma-3"
                     :class="{active: item.active}"
                     rounded
                     outlined
                     @click="clickFloor(item)"
              >
                {{ item.label }}
              </v-btn>
              <!--</div>-->
              <!--提示内容-->
              <p style="margin:16px 0">{{ listNote }}</p>
              <!--列表-->
              <deskList v-if="list.length>0" :data="list" v-on:clickCanlender="clickCanlender"
                        v-on:acceptMap="acceptMap"></deskList>
              <div v-else class="noResults">
                no result
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import deskList from '@/views/dashboard/componentsHa/deskList'
import Time from 'vue2-timepicker';
import 'vue2-timepicker/dist/VueTimepicker.css';

export default {
  name: 'Search',
  props: {
    showList: {
      type: Boolean,
      default: false
    },
    list: {
      type: Array,
      default: []
    },
    buildFloor: {
      type: Array,
      default: []
    },
    // 用户默认的building和floor
    bfData: {
      type: Object
    }
  },
  components: {
    deskList,
    Time
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add " : "Edit ";
    }
  },
  watch: {
    // 用户默认building和floor
    bfData(newVal, oldVal) {
      console.log("bfData",newVal)
      this.buildingName = newVal.buildingName;
      this.floorName = newVal.floorName;
      this.listNote = 'Location: ' + this.buildingName + ' on ' + this.floorName;
    },
    buildFloor(newVal, oldVal) {
      this.formatBuildFloor(newVal);
    },
    // 开始时间（ROOM）
    date(val) {
      console.log("room开始时间:", val);
      this.dateText = this.formatDate(this.date);
    },
    // 结束时间（ROOM）
    dateEnd(val) {
      this.dateEndText = this.formatEndDate(this.dateEnd);
    },
    // 开始日期（DESK HOURLY）
    dateHourly(val) {
      this.dateHourlyText = this.formatDate(this.dateHourly);
    },
    // 结束日期（DESK HOURLY）
    dateHourlyEnd(val) {
      this.dateHourlyEndText = this.formatEndDate(this.dateHourlyEnd);
    },
    // 开始日期（DESK START/END OF DATE）
    dateDay(val) {
      this.dateDayText = this.formatDate(this.dateDay);
    },
    // 结束日期（DESK START/END OF DATE）
    dateDayEnd(val) {
      this.dateDayEndText = this.formatEndDate(this.dateDayEnd);
    },
  },
  data() {
    return {
      btnColor:'',
      advanceBookingLimit: 30,//规定room/desk 可以预定的时长，默认30天，后台有值就用后台的值
      client: '',
      showFloors: false,//显示楼层
      buildingName: '',
      floorName: '',
      tab: 'tab-1',
      tab2: 'tab-2',
      timeType: '',//点击search按钮时选择的时间类型 normal默认 custom自定义
      // availabilityVal: '',
      showDatePicker: false,
      availBtns: [

      ],
      // availBtns: [
      //   {label: 'Today > End of Day', value: 1, active: 'active'},
      //   {label: 'Hourly', value: 2, active: ''},
      //   {label: 'Start/End of Date', value: 3, active: 'false'},
      // ],
      // time: [
      //   {
      //     value: 'Today > End of Day',
      //     active: ''
      //   },
      //   {
      //     value: 'Start/End of Date',
      //     active: ''
      //   },
      // ],
      start: '',
      end: '',
      showContent1: true,
      showContent2: false,
      showContent3: false,
      // ROOM
      date: '',//开始日期
      dateEnd: '',//结束日期
      dateStartTime: '',//开始时间
      dateEndTime: '',//结束时间
      dateText: '',
      dateEndText: '',
      menu1: false,
      menu2: false,
      availabilityArr: [
        {
          value: '15m',
          active: 'active'
        },
        {
          value: '30m',
          active: ''
        },
        {
          value: '1hr',
          active: ''
        },
        {
          value: '2hr',
          active: ''
        },
        {
          value: 'Custom',
          active: ''
        }
      ],
      capacity: [
        // {
        //   value: 1,
        //   label: '1',
        //   active: 'active'
        // },
        {
          value: 2,
          label: '2',
          active: ''
        },
        {
          value: 4,
          label: '4',
          active: ''
        },
        {
          value: 6,
          label: '6',
          active: ''
        },
        {
          value: 8,
          label: '8+',
          active: ''
        },
      ],
      // amenities: [
      //   {
      //     value: 'Table',
      //     active: ''
      //   },
      //   {
      //     value: 'Teams & Cisco Speaker',
      //     active: ''
      //   },
      //   {
      //     value: 'Cisco Speaker Phone',
      //     active: ''
      //   },
      //   {
      //     value: 'Teams',
      //     active: ''
      //   },
      //   {
      //     value: 'Shared Workspace',
      //     active: ''
      //   },
      //   {
      //     value: 'Room',
      //     active: ''
      //   },
      //   {
      //     value: 'MirrorOP',
      //     active: ''
      //   },
      //   {
      //     value: 'Docking Station',
      //     active: ''
      //   },
      //   {
      //     value: 'Coference',
      //     active: ''
      //   },
      //   {
      //     value: 'File Room',
      //     active: ''
      //   },
      //   {
      //     value: 'Desk Phone',
      //     active: ''
      //   },
      //   {
      //     value: 'HD File Room',
      //     active: ''
      //   },
      //   {
      //     value: 'Training',
      //     active: ''
      //   },
      //   {
      //     value: 'Lab',
      //     active: ''
      //   },
      //   {
      //     value: 'Storage Room',
      //     active: ''
      //   },
      //   {
      //     value: 'Project Room',
      //     active: ''
      //   },
      // ],
      roomAmenities: [],
      // DESK（HOURLY）
      dateHourly: '',//开始日期（picker）
      dateHourlyEnd: '',//结束日期（picker）
      dateHourlyText: '',//开始日期（text）
      dateHourlyEndText: '',//结束日期（text）
      hourlyStartTime: '',//开始时间
      hourlyEndTime: '',//结束时间
      menuHourlyStartDate: false,
      menuHourlyStartTime: false,
      menuHourlyEndDate: false,
      menuHourlyEndTime: false,
      // DESK（START/END OF DATE）
      dateDay: '',//开始日期(picker)
      dateDayEnd: '',//结束日期(picker)
      dateDayText: '',//开始日期(text)
      dateDayEndText: '',//结束日期(text)
      menuDayStartDate: false,
      menuDayEndDate: false,
      deskAmenities: [
        // {
        //   value: 'Docking Station',
        //   active: ''
        // },
        // {
        //   value: 'HD File Room',
        //   active: ''
        // },
        // {
        //   value: 'Dual Monitors',
        //   active: ''
        // },
        // {
        //   value: 'Desk Phone',
        //   active: ''
        // },
        // {
        //   value: 'Lab',
        //   active: ''
        // },
        // {
        //   value: 'Height Adjustable Table',
        //   active: ''
        // }
      ],
      // search list
      searchBtns: [
        {label: 'Default', type: 'default', value: 1, active: true},
        {label: 'By Building/Floor', type: 'buildings', value: 2, active: false},
      ],
      searchListTitle: 'Room Availability',
      listNote: '',
      currentBuilding: {},//当前选中的building
      buildingsAndFloorsData: [],//所有building和floor的data
      buildings: [
        // {label: 'building1',type:'building', id: 1, active: false},
        // {label: 'building2', type:'building',id: 2, active: false},
      ],
      floors: [],
      deskListData: [
        // {name:'An American Pickle',imgSrc:require('@/assets/images/test/x-desk.png'),building:'01',floor:'01',capacity:17},
        // {name:'An American Pickle',imgSrc:require('@/assets/images/test/x-desk.png'),building:'01',floor:'01',capacity:17},
        // {name:'An American Pickle',imgSrc:require('@/assets/images/test/x-desk.png'),building:'01',floor:'01',capacity:17},
        // {name:'An American Pickle',imgSrc:require('@/assets/images/test/x-desk.png'),building:'01',floor:'01',capacity:17},
      ],
      filterItem: {},//条件筛选
    }
  },
  methods: {
    getClient() {
      this.getClientData().then(res => {
        this.client = res.data.Client;
        if (res.data.Client == 'Clorox') {
          this.client = 'clorox';
        } else {
          this.client = 'normal';
        }
      }).catch(err => {
        console.log(err);
      });
    },
    // 格式化Building和Floor
    formatBuildFloor(data) {
      console.log("formatBuildFloor:", data);
      this.buildingsAndFloorsData = [];
      data.map(item => {
        let obj = {};
        obj.label = item.buildingName;
        obj.type = "building";
        obj.id = item.id;
        obj.active = false;
        obj.children = [];
        item.floors.map(desk => {
          if (item.buildingName == this.buildingName && desk.name == this.floorName) {
            this.currentFloor = desk;
          }
          let obj2 = {};
          obj2.externalId = desk.externalId;
          obj2.height = desk.height;
          obj2.hideOnDeskSearch = desk.hideOnDeskSearch;
          obj2.hideOnRoomSearch = desk.hideOnRoomSearch;
          obj2.hideOnRoomSearch = desk.hideOnRoomSearch;
          obj2.id = desk.id;
          obj2.lastModified = desk.lastModified;
          obj2.max_zoom = desk.max_zoom;
          obj2.label = desk.name;
          obj2.resourceId = desk.resourceId;
          obj2.url = desk.url;
          obj2.width = desk.width;
          obj2.type = "desk";
          obj2.active = false;
          obj.children.push(obj2);
        })
        this.buildingsAndFloorsData.push(obj);
      })
    },
    // 日期不能选当日之前的
    allowedDates: val => Date.parse(val) > Date.now() - 8.64e7,
    // 获取用户在当前campus的默认building和floor
    getUserLocation() {
      let _this = this;
      this.$axios({
        method: 'GET',
        url: 'm/campus/userDefaultLocation',
        params: {
          meetingId: localStorage.meetingIdMap,
          token: localStorage.token
        }
      }).then(res => {
        _this.buildingName = res.data.data.defaultBuilding;
        _this.floorName = res.data.data.defaultFloor;
        this.listNote = 'Location: ' + this.buildingName + ' on ' + this.floorName;
        // console.log("buildingName:", _this.buildingName);
        // console.log("floorName:", _this.floorName);
      }).catch(err => {
        console.log(err);
      })
    },
    // AVAILABILITY
    availabilityClick(index) {
      this.availabilityArr.forEach((i, k) => {
        if (index == k) {
          this.availabilityArr[k].active = 'active';
          if (i.value == 'Custom') {
            this.showDatePicker = true;
          } else {
            this.showDatePicker = false;
            this.dateText = '';
            this.dateEndText = '';
          }
        } else {
          this.availabilityArr[k].active = '';
        }
      });
    },
    // CAPACITY
    capacityClick(index) {
      this.capacity.forEach((i, k) => {
        if (index == k) {
          this.capacity[k].active = 'active';
        } else {
          this.capacity[k].active = '';
        }
      })
    },
    // AMENITIES
    roomAmenitiesClick(index) {
      this.roomAmenities.forEach((i, k) => {
        if (index == k && this.roomAmenities[k].active == 'active') {
          this.roomAmenities[k].active = '';
        } else if (index == k && this.roomAmenities[k].active != 'active') {
          this.roomAmenities[k].active = 'active';
        }
      })
    },
    // AMENITIES(DESK)
    deskAmenitiesClick(index) {
      this.deskAmenities.forEach((i, k) => {
        if (index == k && this.deskAmenities[k].active == 'active') {
          this.deskAmenities[k].active = '';
        } else if (index == k && this.deskAmenities[k].active != 'active') {
          this.deskAmenities[k].active = 'active';
        }
      })
    },
    //AVALABLE FOR(DESK)
    // timeClick(index) {
    //   this.time.forEach((i, k) => {
    //     if (index == k) {
    //       this.time[k].active = 'active';
    //     } else {
    //       this.time[k].active = '';
    //     }
    //   })
    // },
    // 日期格式转换
    // parseDate(date) {
    //   console.log('date!!:', date)
    //   if (!date) return null;
    //   const [month, day, year] = date.split('/');
    //   console.log('dateStart:', `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`)
    //   return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
    // },
    // parseEndDate(date) {
    //   console.log("dateEnd:",date)
    //   if (!date) return null;
    //   const [month, day, year] = date.split('/');
    //   return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
    // },
    parseDate(date) {
      console.log('parseDate：:', date)
      if (!date) return null;
      let st = moment(date, "MMM D, YYYY").format("YYYY-MM-DD");
      return st
    },
    parseEndDate(date) {
      console.log('parseDateEnd：', date)
      if (!date) return null;
      let st = moment(date, "MMM D, YYYY").format("YYYY-MM-DD");
      return st
    },

    // formatDate(date) {
    //   if (!date) return null;
    //   this.start = moment(date).unix();
    //   // this.start = date;
    //   const [year, month, day] = date.split('-');
    //   return `${month}/${day}/${year}`;
    // },
    // formatEndDate(date) {
    //   if (!date) return null;
    //   this.end = moment(date).unix();
    //   // this.end = date;
    //   const [year, month, day] = date.split('-');
    //   return `${month}/${day}/${year}`;
    // },
    formatDate(date) {
      if (!date) return null;
      this.start = moment(date).unix();
      let st = moment(date, "YYYY-MM-DD").format("MMM D, YYYY");
      return st
    },
    formatEndDate(date) {
      if (!date) return null;
      this.end = moment(date).unix();
      let st = moment(date, "YYYY-MM-DD").format("MMM D, YYYY");
      return st
    },
    // 检验日期是否大于规定日期（默认30天，后天有返回就用后台的值，下同）
    dateInput() {
      this.menu1 = false;
      let msg = "Can only be booked for up to " + this.advanceBookingLimit + " days"
      let overRuleDate = false;
      overRuleDate = this.overRuleDays(this.date,'room');
      if(overRuleDate){
        this.$confirm({title: "Confirmation", message: msg, show: true})
          .then(() => {
            //用户点击确认后执行
            this.date = '';
            this.dateText = '';
          })
          .catch(() => {
            // 取消或关闭
            this.date = '';
            this.dateText = '';
          });
      }
      if (this.dateEndText) {
        let isExceed = this.getD(this.date, this.dateEnd);
        if (isExceed == "exceed") {
          this.$confirm({
            title: "Confirmation",
            message: "The start date cannot be greater than the end date",
            show: true
          })
            .then(() => {
              //用户点击确认后执行
              this.date = '';
              this.dateText = '';
            })
            .catch(() => {
              // 取消或关闭
              this.date = '';
              this.dateText = '';
            });
        }
      }
    },
    dateEndInput() {
      this.menu2 = false;
      let msg = "Can only be booked for up to " + this.advanceBookingLimit + " days"
      let overRuleDate = false;
      overRuleDate = this.overRuleDays(this.dateEnd,'room');
      if(overRuleDate){
        this.$confirm({title: "Confirmation", message: msg, show: true})
          .then(() => {
            //用户点击确认后执行
            this.dateEnd = '';
            this.dateEndText = '';
          })
          .catch(() => {
            // 取消或关闭
            this.dateEnd = '';
            this.dateEndText = '';
          });
      }
      if (this.dateText) {
        let isExceed = this.getD(this.date, this.dateEnd);
        if (isExceed == 'exceed') {
          this.$confirm({title: "Confirmation", message: "The end date cannot be less than the start date", show: true})
            .then(() => {
              //用户点击确认后执行
              this.dateEnd = '';
              this.dateEndText = '';
            })
            .catch(() => {
              // 取消或关闭
              this.dateEnd = '';
              this.dateEndText = '';
            });
        }
      }
    },
    dateHourlyInput() {
      this.menuHourlyStartDate = false;
      let msg = "Can only be booked for up to " + this.advanceBookingLimit + " days"
      let overRuleDate = false;
      overRuleDate = this.overRuleDays(this.dateHourly);
      if(overRuleDate){
        this.$confirm({title: "Confirmation", message: msg, show: true})
          .then(() => {
            //用户点击确认后执行
            this.dateHourly = '';
            this.dateHourlyText = '';
          })
          .catch(() => {
            // 取消或关闭
            this.dateHourly = '';
            this.dateHourlyText = '';
          });
      }
      if (this.dateHourlyEndText) {
        let isExceed = this.getD(this.dateHourly, this.dateHourlyEnd);
        if (isExceed == 'exceed') {
          this.$confirm({
            title: "Confirmation",
            message: "The start date cannot be greater than the end date",
            show: true
          })
            .then(() => {
              //用户点击确认后执行
              this.dateHourly = '';
              this.dateHourlyText = '';
            })
            .catch(() => {
              // 取消或关闭
              this.dateHourly = '';
              this.dateHourlyText = '';
            });
        }
      }
    },
    dateHourlyEndInput() {
      this.menuHourlyEndDate = false;
      let msg = "Can only be booked for up to " + this.advanceBookingLimit + " days"
      let overRuleDate = false;
      overRuleDate = this.overRuleDays(this.dateHourlyEnd);
      if(overRuleDate){
        this.$confirm({title: "Confirmation", message: msg, show: true})
          .then(() => {
            //用户点击确认后执行
            this.dateHourlyEnd = '';
            this.dateHourlyEndText = '';
          })
          .catch(() => {
            // 取消或关闭
            this.dateHourlyEnd = '';
            this.dateHourlyEndText = '';
          });
      }
      if (this.dateHourlyText) {
        let isExceed = this.getD(this.dateHourly, this.dateHourlyEnd);
        if (isExceed == 'exceed') {
          this.$confirm({title: "Confirmation", message: "The end date cannot be less than the start date", show: true})
            .then(() => {
              //用户点击确认后执行
              this.dateHourlyEnd = '';
              this.dateHourlyEndText = '';
            })
            .catch(() => {
              // 取消或关闭
              this.dateHourlyEnd = '';
              this.dateHourlyEndText = '';
            });
        }
      }
    },
    dateDayInput() {
      this.menuDayStartDate = false;
      let msg = "Can only be booked for up to " + this.advanceBookingLimit + " days"
      let overRuleDate = false;
      overRuleDate = this.overRuleDays(this.dateDay);
      if(overRuleDate){
        this.$confirm({title: "Confirmation", message: msg, show: true})
          .then(() => {
            //用户点击确认后执行
            this.dateDay = '';
            this.dateDayText = '';
          })
          .catch(() => {
            // 取消或关闭
            this.dateDay = '';
            this.dateDayText = '';
          });
      }
      if (this.dateDayEndText) {
        let isExceed = this.getD(this.dateDay, this.dateDayEnd);
        if (isExceed == 'exceed') {
          this.$confirm({
            title: "Confirmation",
            message: "The start date cannot be greater than the end date",
            show: true
          })
            .then(() => {
              //用户点击确认后执行
              this.dateDay = '';
              this.dateDayText = '';
            })
            .catch(() => {
              // 取消或关闭
              this.dateDay = '';
              this.dateDayText = '';
            });
        } else if (isExceed) {
          let msg = "Can only be booked for up to " + this.advanceBookingLimit + " days"
          this.$confirm({title: "Confirmation", message: msg, show: true})
            .then(() => {
              //用户点击确认后执行
              this.dateDay = '';
              this.dateDayText = '';
            })
            .catch(() => {
              // 取消或关闭
              this.dateDay = '';
              this.dateDayText = '';
            });
        }
      }
    },
    dateDayEndInput() {
      this.menuDayEndDate = false;
      let msg = "Can only be booked for up to " + this.advanceBookingLimit + " days"
      let overRuleDate = false;
      overRuleDate = this.overRuleDays(this.dateDayEnd);
      if(overRuleDate){
        this.$confirm({title: "Confirmation", message: msg, show: true})
          .then(() => {
            //用户点击确认后执行
            this.dateDayEnd = '';
            this.dateDayEndText = '';
          })
          .catch(() => {
            // 取消或关闭
            this.dateDayEnd = '';
            this.dateDayEndText = '';
          });
      }
      if (this.dateDayText) {
        let isExceed = this.getD(this.dateDay, this.dateDayEnd);
        if (isExceed == 'exceed') {
          this.$confirm({title: "Confirmation", message: "The end date cannot be less than the start date", show: true})
            .then(() => {
              //用户点击确认后执行
              this.dateDayEnd = '';
              this.dateDayEndText = '';
            })
            .catch(() => {
              // 取消或关闭
              this.dateDayEnd = '';
              this.dateDayEndText = '';
            });
        }
      }
    },
    // search List
    searchList() {
      if (this.tab == 'tab-1') {
        this.searchListTitle = 'Room Availability';
        if (window.gtag) {
          window.gtag('event', 'Space_Find_A_Place', {
            event_category: 'Type of space',
            event_label: 'room',
            send_to: localStorage.getItem("googleAnaId") || "",
            dimension1: localStorage.getItem("campusName") || ""
          })
        }
      } else {
        this.searchListTitle = 'Desk Availability';
        if (window.gtag) {
          window.gtag('event', 'Space_Find_A_Place', {
            event_category: 'Type of space',
            event_label: 'desk',
            send_to: localStorage.getItem("googleAnaId") || "",
            dimension1: localStorage.getItem("campusName") || ""
          })
        }
      }
      if (this.tab == 'tab-1') {
        let obj = {};
        let start = '';
        let end = '';
        this.availabilityArr.map(item => {
          if (item.active == 'active') {
            if (item.value == '15m') {
              this.timeType = 'normal';
              let d = new Date();
              d.setSeconds(0);
              let min = d.getMinutes();
              let remainder = min % 30;
              start = moment(d).add(-remainder, "minutes").unix();
              end = moment(start, "X").add(+(15), 'minutes').unix();
              if (window.gtag) {
                window.gtag('event', 'Space_Find_A_Place', {
                  event_category: 'Room availability',
                  event_label: '15min',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }
            } else if (item.value == '30m') {
              this.timeType = 'normal';
              let d = new Date();
              d.setSeconds(0);
              let min = d.getMinutes();
              let remainder = min % 30;
              start = moment(d).add(-remainder, "minutes").unix();
              end = moment(start, "X").add(+(30), 'minutes').unix();
              if (window.gtag) {
                window.gtag('event', 'Space_Find_A_Place', {
                  event_category: 'Room availability',
                  event_label: '30min',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }
            } else if (item.value == '1hr') {
              this.timeType = 'normal';
              let d = new Date();
              d.setSeconds(0);
              let min = d.getMinutes();
              let remainder = min % 30;
              start = moment(d).add(-remainder, "minutes").unix();
              end = moment(start, "X").add(+(60), 'minutes').unix();
              if (window.gtag) {
                window.gtag('event', 'Space_Find_A_Place', {
                  event_category: 'Room availability',
                  event_label: '1hr',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }
            } else if (item.value == '2hr') {
              this.timeType = 'normal';
              let d = new Date();
              d.setSeconds(0);
              let min = d.getMinutes();
              let remainder = min % 30;
              start = moment(d).add(-remainder, "minutes").unix();
              end = moment(start, "X").add(+(120), 'minutes').unix();
              if (window.gtag) {
                window.gtag('event', 'Space_Find_A_Place', {
                  event_category: 'Room availability',
                  event_label: '2hr',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }
            } else if (item.value == 'Custom') {
              this.timeType = 'custom';
              let stringStart = this.date + ' ' + this.dateStartTime;
              let stringEnd = this.dateEnd + ' ' + this.dateEndTime
              start = moment(stringStart).unix();
              end = moment(stringEnd).unix();
              if (window.gtag) {
                window.gtag('event', 'Space_Find_A_Place', {
                  event_category: 'Room availability',
                  event_label: 'custom',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }
              // start = moment(this.date).unix();
              // end = moment(this.dateEnd).endOf('day').unix();
            }
          }
        })
        if (isNaN(start) || isNaN(end)) {
          this.$confirm({title: "Confirmation", message: "Incorrect format", show: true})
          return
        } else if (start > end) {
          this.$confirm({
            title: "Confirmation",
            message: "The start time must be greater than the end time",
            show: true
          })
          return
        }
        this.start = start;
        this.end = end;
        let arrCapacity = '';
        this.capacity.map(item => {
          if (item.active == 'active') {
            arrCapacity = item.value;
          }
        })
        let arrAmenities = [];
        obj.start = start;
        obj.end = end;
        obj.capacity = arrCapacity;
        obj.amenities = arrAmenities;
        obj.type = 'room';
        this.roomAmenities.map(item => {
          if (item.active == 'active') {
            arrAmenities.push(item.value);
          }
        })
        this.$emit("changeSearchList", obj);
        this.$emit("changeShowList", true);
        if (window.gtag) {
          window.gtag('event', 'Space_Find_A_Place', {
            event_category: 'Room capacity',
            event_label: arrCapacity,
            send_to: localStorage.getItem("googleAnaId") || "",
            dimension1: localStorage.getItem("campusName") || ""
          })
        }
        if (window.gtag) {
          window.gtag('event', 'Space_Find_A_Place', {
            event_category: 'Room amenities',
            event_label: arrAmenities,
            send_to: localStorage.getItem("googleAnaId") || "",
            dimension1: localStorage.getItem("campusName") || ""
          })
        }
      } else {
        let obj = {};
        obj.type = 'desk';
        let start = '';
        let end = '';
        this.availBtns.map(item => {
          // console.log('item:', item);
          if (item.active == 'active') {
            if (item.value == '1') {
              this.timeType = 'normal';
              let d = new Date();
              d.setSeconds(0);
              let min = d.getMinutes();
              let remainder = min % 30;
              this.start = moment(d).add(-remainder, "minutes").unix();
              this.end = moment(d).endOf('day').unix();
              if(this.client=='WarnerMedia'){
                if (window.gtag) {
                  window.gtag('event', 'Space_Find_A_Place', {
                    event_category: 'Desk available for',
                    event_label: 'Today',
                    send_to: localStorage.getItem("googleAnaId") || "",
                    dimension1: localStorage.getItem("campusName") || ""
                  })
                }
              }else{
                if (window.gtag) {
                  window.gtag('event', 'Space_Find_A_Place', {
                    event_category: 'Desk available for',
                    event_label: 'Today > end of Day',
                    send_to: localStorage.getItem("googleAnaId") || "",
                    dimension1: localStorage.getItem("campusName") || ""
                  })
                }
              }
            } else if (item.value == 2) {
              // console.log('dateHourly:', this.dateHourly);
              // console.log('hourlyStartTime:', this.hourlyStartTime);
              // console.log('dateHourlyEnd:', this.dateHourlyEnd);
              // console.log('hourlyEndTime:', this.hourlyEndTime);
              this.timeType = 'custom';
              let stringStart = this.dateHourly + ' ' + this.hourlyStartTime;
              let stringEnd = this.dateHourlyEnd + ' ' + this.hourlyEndTime;
              this.start = moment(stringStart).unix();
              this.end = moment(stringEnd).unix();
              if (window.gtag) {
                window.gtag('event', 'Space_Find_A_Place', {
                  event_category: 'Desk available for',
                  event_label: 'Hourly',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }
            } else if (item.value == 3) {
              this.timeType = 'custom';
              let d = new Date();
              this.start = moment(this.dateDay).unix();
              this.end = moment(this.dateDayEnd).endOf('day').unix();
              if (window.gtag) {
                window.gtag('event', 'Space_Find_A_Place', {
                  event_category: 'Desk available for',
                  event_label: 'Start/End of Day',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }
            }
          }
        })
        let arrAmenities = [];
        this.deskAmenities.map(item => {
          if (item.active == 'active') {
            arrAmenities.push(item.value);
          }
        })
        console.log("start", this.start)
        console.log("end", this.end)
        if (isNaN(this.start) || isNaN(this.end)) {
          this.$confirm({title: "Confirmation", message: "Incorrect format", show: true})
          return
        } else if (this.start > this.end) {
          this.$confirm({
            title: "Confirmation",
            message: "The start time must be greater than the end time",
            show: true
          })
          return
        }
        obj.start = this.start;
        obj.end = this.end;
        obj.amenities = arrAmenities;
        this.$emit("changeSearchList", obj);
        this.$emit("changeShowList", true);
        if (window.gtag) {
          window.gtag('event', 'Space_Find_A_Place', {
            event_category: 'Desk amenities',
            event_label: arrAmenities,
            send_to: localStorage.getItem("googleAnaId") || "",
            dimension1: localStorage.getItem("campusName") || ""
          })
        }

      }
      if (window.gtag) {
        window.gtag('event', 'Space', {
          event_category: 'Space Search Keyworks',
          event_label: 'search',
          send_to: localStorage.getItem("googleAnaId") || "",
          dimension1: localStorage.getItem("campusName") || ""
        })
      }
    },
    getD(starDate, endDate) {
      console.log("starDate:",starDate)
      console.log("endDate:",endDate)
      let sDate = moment(new Date(starDate)).startOf('days').unix()*1000;
      let eDate = moment(new Date(endDate)).endOf('days').unix()*1000;
      // let sDate = new Date(starDate).getTime();
      // let eDate = new Date(endDate).getTime();
      // console.log('sDate:', sDate)
      // console.log('eDate:', eDate)
      // console.log("差值：",eDate - sDate)
      let thisMothDays = "";
      if (this.advanceBookingLimit) {
        thisMothDays = 1000 * 3600 * 24 * this.advanceBookingLimit;//后台有返回就用后台返回的值
      } else {
        thisMothDays = 1000 * 3600 * 24 * 30;//默认30天
      }
      console.log('thisMothDays:', thisMothDays)
      if (sDate > eDate) {
        // console.log('开始日期不得大于结束日期')
        return 'exceed'
      }

    },
    overRuleDays(date,type='desk'){
      if(type=='room'&&(localStorage.getItem('client')=='NatWest'||localStorage.getItem('client')=='WarnerMedia')){
        return false
      }
      date = moment(date).endOf('days').unix()*1000;
      let today = moment(new Date()).startOf('days').unix()*1000;
      let thisMothDays = "";
      if (this.advanceBookingLimit) {
        thisMothDays = 1000 * 3600 * 24 * this.advanceBookingLimit;//后台有返回就用后台返回的值
      } else {
        thisMothDays = 1000 * 3600 * 24 * 30;//默认30天
      }
      if (date-today>thisMothDays) {
        // console.log('超过规定日期')
        return true
      } else {
        // console.log('在规定日期内')
        return false
      }
    },
    clearAll() {
      this.availabilityArr.map(item => {
        item.active = '';
      })
      this.capacity.map(item => {
        item.active = '';
      })
      this.roomAmenities.map(item => {
        item.active = '';
      })
      this.deskAmenities.map(item => {
        item.active = '';
      })
      this.date = '';
      this.dateEnd = '';
      this.dateText = '';
      this.dateEndText = '';

      this.dateHourly = '';
      this.dateHourlyEnd = '';
      this.dateHourlyText = '';
      this.dateHourlyEndText = '';
      this.hourlyStartTime = '';
      this.hourlyEndTime = '';

      this.dateDay = '';
      this.dateDayEnd = '';
      this.dateDayText = '';
      this.dateDayEndText = '';


    },
    clickAvailContent(item) {
      this.availBtns.map(btn => {
        btn.active = '';
      })
      item.active = 'active';
      switch (item.value) {
        case 1:
          this.showContent1 = true;
          this.showContent2 = false;
          this.showContent3 = false;
          break;
        case 2:
          this.showContent1 = false;
          this.showContent2 = true;
          this.showContent3 = false;
          break;
        case 3:
          this.showContent1 = false;
          this.showContent2 = false;
          this.showContent3 = true;
          break;
      }
    },
    // 选择default还是building-floor
    clickSearchBtn(item) {
      this.showFloors = false;
      let that = this;
      if (item.type == 'default') {
        this.bus.$emit('loading', true);
        this.listNote = 'Your default location is ' + this.buildingName + ' on ' + this.floorName;
        this.buildings = [];
        this.floors = [];
        let emitObj = {};
        emitObj.buildingName = this.buildingName;
        emitObj.floor = this.currentFloor;
        this.$emit("refreshFilter", emitObj);
      } else if (item.type == 'buildings') {
        // this.floors = [];
        this.listNote = 'Please select a building';
        this.buildings = this.buildingsAndFloorsData;
        this.buildings.map(item => {
          item.active = false;
        })
        // this.buildings = [
        //   {label: 'building1', type: 'building', id: 1, active: false},
        //   {label: 'building2', type: 'building', id: 2, active: false},
        // ];
      } else if (item.type == 'building') {
        this.listNote = 'Please select a floor';
      }
      console.log('info', this.listNote);
      this.searchBtns.map(btn => {
        btn.active = false;
      })
      item.active = true;
    },
    // 选择building
    clickBuilding(item) {
      console.log("build:", item);
      this.currentBuilding = item;
      this.showFloors = true;
      this.listNote = 'Please select a floor';
      let arr = [];
      let length = this.buildings.length;
      for (let i = 0; i < length; i++) {
        let build = this.buildings[i];
        if (build.id == item.id) {
          build.active = true;
          arr.push(build);
          break
        } else {
          continue
        }
      }
      this.buildings = arr;
      this.floors = item.children;
      this.floors.map(floor => {
        floor.active = false;
      })
      // this.floors = [];
      // this.buildings.map((btn, index) => {
      //   console.log("btn:",btn)
      //   btn.active = false;
      //   if (item.id != btn.id) {
      //     console.log("true")
      //     // this.buildings.splice(index, 1);
      //   }else{
      //     console.log("false")
      //   }
      // })
      // item.active = true;

    },
    // 选择floor
    clickFloor(item) {
      this.bus.$emit('loading', true);
      this.listNote = '';
      let arr = [];
      let length = this.floors.length;
      for (let i = 0; i < length; i++) {
        let floor = this.floors[i];
        if (floor.id == item.id) {
          floor.active = true;
          arr.push(floor);
          break
        } else {
          continue
        }
      }
      this.floors = arr;
      let emitObj = {};
      emitObj.buildingName = this.currentBuilding.label;
      emitObj.floor = this.floors[0];
      this.$emit("refreshFilter", emitObj);
    },
    backToSearchList(refreshDefaulTime = false) {
      this.searchBtns[0].active = true;
      this.searchBtns[1].active = false;
      this.buildings = [];
      this.floors = [];
      let obj = {};
      obj.showList = false;
      obj.start = refreshDefaulTime ? '' : this.startTime;
      obj.end = refreshDefaulTime ? '' : this.endTime;
      this.$emit("backToSearchList", obj);
    },
    clickCanlender(id) {
      let obj = {};
      obj.id = id;
      obj.start = this.start;
      obj.end = this.end;
      obj.timeType = this.timeType;
      this.$emit('clickCanlender', obj);
    },
    acceptMap(data) {
      this.$emit("acceptMap", data);
    },
    formatAmenities(data) {
      let arr = [];
      data.map((item, index) => {
        let obj = {};
        obj.active = '';
        obj.value = item;
        arr.push(obj);
      })
      return arr
    },
    getAmenitiesData() {
      this.$axios({
        method: 'GET',
        url: '/m/campus/amenities',
        params: {
          meetingId: localStorage.meetingIdMap,
          // token: localStorage.token
        }
      }).then(res => {
        console.log('res:', res);
        this.deskAmenities = this.formatAmenities(res.data.data.deskAmenities);
        this.roomAmenities = this.formatAmenities(res.data.data.roomAmenities);
      }).catch(err => {
        console.log(err);
      })
    },
  },
  created() {
    console.log("bfData:",this.bfData);
    this.client = localStorage.getItem("client");
    if(this.client=='WarnerMedia'){
      this.availBtns = [
        {label: 'Today', value: 1, active: 'active'},
        {label: 'Start/End of Date', value: 3, active: 'false'},
      ]
    }else{
      this.availBtns = [
        {label: 'Today > End of Day', value: 1, active: 'active'},
        {label: 'Hourly', value: 2, active: ''},
        {label: 'Start/End of Date', value: 3, active: 'false'},
      ]
    }
    let config = JSON.parse(localStorage.getItem("config"));
    this.advanceBookingLimit = config.advanceBookingLimit;
  },
  mounted() {
    this.getAmenitiesData();
  },
}
</script>

<style lang="scss" scoped>
#desks {
  @media screen and (max-width: 960px) {
    .titleContainer {
      margin: 230px auto !important;
    }
  }
  .availBtns {
    .active {
      background: red
    }
  }

  .titleContainer {
    margin: 0;
  }

  .title {
    //background: $main-blue;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .desks-content {
    height: 81vh;
    overflow-y: auto;
    border: 1px solid #efefef;

    .noResults {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin-top: 14rem;
      color: #999999;
    }

    .searchBtn {
      //background-color: $btn-color;
    }
  }


  .spaceActive {
    background: #666666;
    //background: #666666;
    color: #ffffff;
  }

  .annotation {
    margin: 20px;
    font-size: 17px;
  }

  .datePicker {
    margin: 5px;
  }

  //.v-tabs .v-tabs-bar .v-tab.v-tab--active {
  //  button {
  //    //background: $btn-color-highlight !important;
  //    background: #666666 !important;
  //    color: #fff !important;
  //  }
  //}

  .availTab {
    display: flex;
    flex-wrap: wrap !important;
    white-space: pre !important;
  }

  .iconTitle {
    font-size: 16px;
    color: #41b5a9;
    margin-right: 5px;
  }
}
</style>
<style lang="scss">
#desks {
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: unset !important;
  }
}
</style>
