<!--选择与会员工-->
<template>
  <div class="selectPa">
    <div class="selectPa-container">
      <v-row class="ma-0 pa-0">
        <v-col cols="12" md="12" class="ma-0 pa-0 text-style text">
          <div class="title x-title">
            Select Participants
            <i class="iconfont icon-chahao" style="float:right;margin-right: 40px;cursor: pointer"
               @click="backToBooking"></i>
          </div>
        </v-col>
      </v-row>
      <!--主体内容-->
      <div class="content">
        <div class="des x-background">
          <p>
            Type the names of people you would like to invite to your meeting. Check the box next to a participant to
            select them.
          </p>
          <searchBox ref="searhBox" @search="search" @keypress.enter.native.prevent></searchBox>
        </div>
        <div class="current-select">
          <p class="current-select-title">Currently Selected</p>
          <!--参加会议的名单-->
          <div class="paArr">
            <div class="participant" v-for="item in paArr">
              <span>{{ item.firstName + ' ' + item.lastName }}</span>
              <i class="iconfont icon-chahao" @click="deletePa(item)"></i>
            </div>
          </div>
          <v-btn rounded class="x-btn" @click="addPa">Add Participants</v-btn>
        </div>
        <!--员工列表-->
        <div v-show="showStaffList" class="content staffList">
          <staff v-for="(item,index) in attendees"
                 :ref="'staff'+index"
                 :data="item"
                 :showCheckbox="true"
                 style="cursor: pointer"
                 class="staff"
                 @selectPa="selectPa"
          ></staff>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import searchBox from "@/views/dashboard/componentsHa/searchBox";
import staff from "@/views/dashboard/componentsHa/staff"
import axios from "axios";
export default {
  name: "selectPa",
  components: {
    searchBox,
    staff
  },
  props: {
    pa: {
      type: Array,
      default: []
    }
  },
  watch: {
    pa(newVal, oldVal) {
      let arr = [];
      newVal.map(item => {
        let obj = {};
        obj.id = item.attendeeId;
        obj.email = item.email;
        obj.name = item.name;
        obj.firstName = item.name.split(" ")[0];
        obj.lastName = item.name.split(" ")[1];
        obj.photo = item.photo;
        arr.push(obj);
      })
      this.paArr = arr;
    }
  },
  data() {
    return {
      cancel: null,
      showStaffList: true,
      attendees: [],//搜索出的员工
      timeOut: null,
      paArr: [],
    }
  },
  methods: {
    // 提交与会人员
    addPa() {
      // console.log("0000000", this.paArr)
      this.$emit("addPa", this.paArr);
      this.$refs.searhBox.name = '';//清空搜索
      this.paArr = [];//清空与会人员
      this.attendees = [];//清空搜索列表
    },
    // 删除与会人员
    deletePa(data) {
      console.log("删除：", data);
      console.log("attendees：", this.attendees);
      let length = this.paArr.length;
      for (let i = 0; i < length; i++) {
        let item = this.paArr[i];
        if (data.email == item.email) {
          this.paArr.splice(i, 1);
          break;
        }
      }
      // 下面搜索列表的勾选同步取消
      let length2 = this.attendees.length;
      for (let i = 0; i < length2; i++) {
        let item = this.attendees[i];
        if (item.email == data.email) {
          console.log("找到了：", item);
          item.chosen = false;
          break
        } else {
          continue
        }
      }
      let arr = JSON.parse(JSON.stringify(this.attendees));
      this.attendees = [];
      this.attendees = arr;

      console.log("attendees:", this.attendees);
      // let length2 = this.attendees.length;
      // for (let i = 0; i < length2; i++) {
      //   let item = this.attendees[i];
      //   if (data.id == item.id) {
      //     let rf = 'staff' + i;
      //     this.$refs[rf][0].checkbox = false;
      //   }
      // }
    },
    // 勾选与会人员
    selectPa(data) {
      console.log("paArr:", this.paArr);
      // console.log("data:", data);
      if (this.paArr.length == 0) {
        this.paArr.push(data);
      } else {

        let exit = false;
        let exitObj = {};
        let length = this.paArr.length;
        for (let i = 0; i < length; i++) {
          console.log("i:", i);
          let item = this.paArr[i];
          if (item.email == data.email) {
            exit = true;
            exitObj = item;
            break
          } else {
            continue
          }
        }
        console.log("exit:", exit);
        if (exit) {
          this.deletePa(data);
        } else {
          this.paArr.push(data);
        }

        // this.paArr.map(item => {
        //   if (data.id == item.id) {
        //     if(data.chosen){
        //       console.log("添加新人员：",data.name);
        //       this.paArr.push(data);
        //     }else{
        //       console.log("删除相同人员：",item);
        //       this.deletePa(data);
        //     }
        //     this.deletePa(data);
        //   }
        // })
      }
    },
    // selectPa(data) {
    //   if (data.chosen) {
    //     this.paArr.push(data);
    //   } else {
    //     this.deletePa(data);
    //   }
    // },
    backToBooking() {
      this.$emit("backToBooking", true);
      this.$refs.searhBox.name = '';//清空搜索
      this.paArr = [];//清空与会人员
      this.attendees = [];//清空搜索列表
    },
    // 左侧搜索
    // search(name) {
    //   // console.log('name:', name)
    //   if(this.cancel){
    //     this.cancel();
    //   }
    //   // 定义CancelToken，它是axios的一个属性，且是一个构造函数
    //   let CancelToken = axios.CancelToken;
    //   if (name == '') {
    //     this.showStaffList = false;
    //   } else {
    //     this.showStaffList = true;
    //   }
    //   // 使用axios的get方法获取请求结果，在请求时需要传入cancelToken参数，
    //   // 实例化一个CancelToken，实例化后会生成一个类似于id的请求令牌，将它赋值给全局的cancel变量。
    //   let url = "";
    //   url = "/m/v2/attendees/";
    //   axios({
    //     method: 'GET',
    //     url: url,　　　　　　　　//利用了字符串模板来携带id
    //     params: {
    //       meetingId: localStorage.meetingIdMap ? localStorage.meetingIdMap : '',
    //       keyword: name,
    //       token: window.localStorage.getItem('token')
    //     },
    //     cancelToken: new CancelToken((c) => {
    //       this.cancel = c;
    //     })
    //   }).then(res => {
    //     this.attendees = res.data.attendees;
    //     console.log("attendees:", this.attendees);
    //     console.log("paArr:", this.paArr);
    //     this.attendees.map(item => {
    //       this.paArr.map(chosen => {
    //         if (chosen.email == item.email) {
    //           item.chosen = true;
    //         }
    //       })
    //     })
    //     // 记住deskbooking选中的与会人员
    //     // if (this.data.length > 0) {
    //     //   this.data.map((item, index) => {
    //     //     let length = this.attendees;
    //     //     for(let i = 0; i < length; i++){
    //     //       let jtem = this.attendees[i];
    //     //       if(item.id==jtem.id){
    //     //         let rf = 'staff' + i;
    //     //         this.$refs[rf][0].checkbox = true;
    //     //         break;
    //     //       }
    //     //     }
    //     //   })
    //     // }
    //   }).catch(err => {
    //     console.log(err)
    //   })
    // },
    search(name) {
      // console.log('name:', name)
      if(this.cancel){
        this.cancel();
      }
      // 定义CancelToken，它是axios的一个属性，且是一个构造函数
      let CancelToken = axios.CancelToken;
      if (name == '') {
        this.showStaffList = false;
      } else {
        this.showStaffList = true;
      }
      if (this.timeOut) {
        clearTimeout(this.timeOut);
        this.timeOut = null;
      }
      this.timeOut = setTimeout(() => {
        let url = "";
        url = "/m/v2/attendees/";
        axios({
          method: 'GET',
          url: url,　　　　　　　　//利用了字符串模板来携带id
          params: {
            meetingId: localStorage.meetingIdMap ? localStorage.meetingIdMap : '',
            keyword: name,
            token: window.localStorage.getItem('token')
          },
          cancelToken: new CancelToken((c) => {
            this.cancel = c;
          })
        }).then(res => {
          this.attendees = res.data.attendees;
          console.log("attendees:", this.attendees);
          console.log("paArr:", this.paArr);
          this.attendees.map(item => {
            this.paArr.map(chosen => {
              if (chosen.email == item.email) {
                item.chosen = true;
              }
            })
          })
          // 记住deskbooking选中的与会人员
          // if (this.data.length > 0) {
          //   this.data.map((item, index) => {
          //     let length = this.attendees;
          //     for(let i = 0; i < length; i++){
          //       let jtem = this.attendees[i];
          //       if(item.id==jtem.id){
          //         let rf = 'staff' + i;
          //         this.$refs[rf][0].checkbox = true;
          //         break;
          //       }
          //     }
          //   })
          // }
        }).catch(err => {
          console.log(err)
        })
      }, 300)

    },
  },
}
</script>

<style scoped lang="scss">
.selectPa {
  .selectPa-container {
    border: 1px solid #efefef;
    //width: calc(100% + 6px);
    //width: calc(100% + 19px);
    .title {
      //background: $main-blue;
      color: #ffffff;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }

    .content {
      height: 780px;
      overflow-y: auto;
      overflow-x: hidden;
      //width:calc(100% + 15px);
      .des {
        font-size: 15px;
        padding: 20px;
        //background: $main-blue;
        color: #fff;

        p {
          margin-bottom: 20px;
        }
      }

      .current-select {
        background: #f3f3f3;
        padding: 10px;

        .current-select-title {
          font-size: 16px;
          font-weight: bold;
        }

        .paArr {
          .participant {
            display: flex;
            justify-content: space-between;

            span {
              font-weight: bold;
            }

            i {
              cursor: pointer;
            }
          }
        }

        button {
          display: block;
          margin: auto;
        }
      }

      .staff:nth-child(odd) {
        background: #fff;
      }

      .staff:nth-child(even) {
        background: #f3f3f3;
      }
    }
  }
}
</style>

