<template>
  <div class="staffInfo">
    <div class="title x-title">
      <div class="staff">
        <v-avatar class="avator" size="77" v-if="data.image!='avatar.jpg'&&(data.image||data.photo)">
          <img
            :src="avatorImg"
            :alt="data.name"
          >
          <!--<img-->
          <!--  :src="'files/'+data.image"-->
          <!--  :alt="data.name"-->
          <!--&gt;-->
        </v-avatar>
        <div v-else>
          <v-avatar color="#41B5A9" class="avator" size="77" v-if="data.firstName" style="color:#fff">
          <span class="white--text" style="font-size: 24px">
          {{ data.firstName[0] + ' ' + data.lastName[0] }}
          </span>
          </v-avatar>
          <v-avatar color="#41B5A9" class="avator" v-else>
            <span class="white--text" style="font-size: 24px">
          {{ data.name[0] }}
          </span>
          </v-avatar>
        </div>
        <div class="right">
          <div class="name">{{ data.name }}</div>
          <div>{{ data.title }}</div>
          <div>{{ data.company }}</div>
        </div>
      </div>
    </div>
    <div class="rightContent-content">
      <div class="staffContent">
        <div class="datas">
          <div class="oneDetail">
            <span class="oneDetail-title" tabindex="101">Email:</span>
            <!--<span style="color:#EE2C54" tabindex="102">{{ data.email }}</span>-->
            <a href="mailto:data.email" style="color:#EE2C54" tabindex="102">{{ data.email }}</a>
          </div>
          <div class="oneDetail" v-if="data.isPhoneShown && data.phoneNumber !== ''">
            <span class="oneDetail-title" tabindex="103">Phone:</span>
            <span style="color:#EE2C54" tabindex="104">{{ data.phoneNumber }}</span>
          </div>
          <div class="oneDetail" v-if="data.location !== ''">
            <span class="oneDetail-title" tabindex="105">Location:</span>
            <span tabindex="106">{{ data.location }}</span>
          </div>
          <div class="oneDetail" v-if="data.building !== ''">
            <span class="oneDetail-title" tabindex="107">Building:</span>
            <span tabindex="108">{{ data.building }}</span>
          </div>
          <div class="oneDetail" v-if="data.cubical !== ''">
            <span class="oneDetail-title" tabindex="109">Desk:</span>
            <span tabindex="110">{{ data.cubical }}</span>
          </div>
        </div>
        <div class="staffContent-btn">
          <v-btn rounded class="x-btn" @click="clickOrganization"
                 v-if="data.orgStructure && (data.orgStructure.reportFrom.length > 0||data.orgStructure.reportTo.length > 0)">Organizational Structure
          </v-btn>
        </div>
      </div>
      <div v-show="showOrganazation && data.orgStructure && (data.orgStructure.reportFrom.length > 0||data.orgStructure.reportTo.length)">
        <div class="leadership" v-if="data.orgStructure&&data.orgStructure.reportTo.length > 0">
          <div class="x-title-gray">
            {{ data.name }}&nbsp;REPORTS TO
          </div>
          <div class="x-content">
            <div v-for="item in data.orgStructure?data.orgStructure.reportTo?data.orgStructure.reportTo:0:0">
              <staff :data="item"></staff>
            </div>
          </div>
        </div>
        <div class="subordinate" v-if="data.orgStructure&&data.orgStructure.reportFrom.length > 0">
          <div class="x-title-gray">
            REPORTING TO&nbsp;{{ data.name }}
          </div>
          <div class="x-content">
            <div v-for="item in data.orgStructure?data.orgStructure.reportFrom:0">
              <staff :data="item"></staff>
            </div>
          </div>
        </div>
      </div>
      <hr class="x-hr">
      <div v-dompurify-html="data.bio" style="padding:1rem;white-space: pre-line;">
      </div>
      <!--<div class="brief">-->
      <!--  {{ data.bio }}-->
      <!--</div>-->
    </div>
  </div>
</template>

<script>
import staff from "@/views/dashboard/componentsHa/staff"

export default {
  name: "staffInfo",
  props: {
    data: {
      type: Object
    }
  },
  components: {
    staff
  },
  watch: {
    data: {
      handler: function (newVal, oldVal) {
        console.log("newVal!!", newVal);
        let src = newVal.image.toString();
        if (src.startsWith('data:image')) {
          this.avatorImg = newVal.image;
        } else {
          this.avatorImg = "files/" + newVal.image;
        }
      },
      deep: true
    }
    // data(newVal,oldVal){
    //   console.log("new!!!!",newVal)
    //   this.avatorImg = "files/"+newVal.image;
    // }
  },
  data() {
    return {
      showOrganazation: false,
      avatorImg: '',
      // testHtml:"<img src='../ww.png' onerror='alert(1)'/> ",//测试XSS攻击
    }
  },
  methods: {
    // 显示组织架构
    clickOrganization() {
      // console.log(this.data);
      this.showOrganazation = !this.showOrganazation;
      if(window.gtag){
        window.gtag('event', 'Directory', {
          event_category: 'Organization Structure Click',
          event_label: 'Organization Structure',
          send_to: localStorage.getItem("googleAnaId")||"",
          dimension1:localStorage.getItem("campusName")||""
        })
      }

    }
  },
  mounted() {
    if (Object.keys(this.data).length > 0) {
      let src = this.data.image;
      if (src.startsWith('data:image')) {
        this.avatorImg = this.data.image;
      } else {
        this.avatorImg = "files/" + this.data.image;
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.staffInfo {
  height: 650px;
  background: #fff;

  .title {
    //background: $main-blue;
    color: #ffffff;
    height: 120px;
    text-align: center;
    padding: 0 20px;
    display: flex;

    .staff {
      display: flex;
      align-items: center;

      .right {
        text-align: left;
        font-size: 1rem;
        padding-left: 1rem;

        .name {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }

  .rightContent-content {
    height: 600px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #999;
    border-left: none;

    .staffContent {
      .datas {
        padding-top: 20px;
        padding-left: 30px;

        .oneDetail {
          margin-bottom: 1rem;

          .oneDetail-title {
            display: inline-block;
            width: 15%;
            min-width: 130px;
          }
        }
      }

      .staffContent-btn {
        text-align: center;
        margin: 1.5rem auto;
      }
    }

    //上司
    .leadership {
      .x-title-gray {
        background: #f3f3f3;
        height: 60px;
        line-height: 60px;
        color: #000;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 30px;
      }

      .x-content {
        padding-left: 30px;
      }
    }

    //下属
    .subordinate {
      .x-title-gray {
        background: #f3f3f3;
        height: 60px;
        line-height: 60px;
        color: #000;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 30px;
      }

      .x-content {
        padding-left: 30px;
      }
    }

    //摘要
    .brief {
      background: #fff;
      padding: 2rem;
    }
  }
}
</style>
