<template>
  <!-- 自定义确认弹窗样式 -->
  <!--<v-dialog width="600px" :title="content.title" v-model="isShow">-->
  <!--  <span>{{ content.message }}</span>-->
  <!--  <div class="dialog-footer">-->
  <!--    <v-btn @click="close">-->
  <!--      取 消-->
  <!--    </v-btn>-->
  <!--    <v-btn type="primary" @click="ok">-->
  <!--      确 定-->
  <!--    </v-btn>-->
  <!--  </div>-->
  <!--</v-dialog>-->

    <v-dialog
      v-model="isShow"
      max-width="290"
      persistent
      class="tt"
    >
      <v-card>
        <v-card-title style="font-size: 18px">
         {{content.title}}
        </v-card-title>
        <v-card-text style="font-size: 16px">
          {{content.message}}
        </v-card-text>
        <v-card-actions style="display: flex;justify-content: center">
          <!--<v-spacer></v-spacer>-->
          <v-btn
            v-show="!content.showTwoBtn"
            color="green"
            text
            @click="close"
          >
            ok
          </v-btn>
          <v-btn
            v-show="content.showTwoBtn"
            color="green"
            text
            @click="close"
          >
            cancel
          </v-btn>
          <v-btn
            v-show="content.showTwoBtn"
            color="green"
            text
            @click="ok"
          >
            confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  <!--<v-card class="dialog" v-if="isShow" :visible.sync="content.show">-->
  <!--  <v-card-title>{{ content.title }}</v-card-title>-->
  <!--  <v-card-text>-->
  <!--    {{content.message}}-->
  <!--  </v-card-text>-->
  <!--  <v-card-actions>-->
  <!--    <v-btn @click="ok">确定</v-btn>-->
  <!--    <v-btn @click="close">取消</v-btn>-->
  <!--  </v-card-actions>-->
  <!--</v-card>-->


</template>

<script>
export default {
  data() {
    return {
      // 弹窗内容
      isShow: true,
      content: {
        title: "",
        message: "",
        data: "",
        show: false
      },
      showOk:true
    };
  },
  methods: {
    close() {
      this.isShow = false;
    },
    ok() {
      this.isShow = false;
    }
  },

};
</script>

<style>
</style>
