<template>
  <div class="booking" @click="clicked">
    <div v-show="showList">
      <div class="top x-title">
        {{ title }}
      </div>
      <!--Date-->
      <div class="dateContent">

        <v-select
          @change="selectBookingType"
          class="bookingType"
          :items="bookingTypes"
          v-model="bookingType"
          :label="selectLabel"
          dense
          outlined
        ></v-select>


        <!--<datePickNew class="datePick" :date="date" @clickDate="clickDate"></datePickNew>-->
        <datePick ref="datePick" class="datePick" :date="date" @clickDate="clickDate" v-show="showDatePick"></datePick>
      </div>
      <!--Empty-->
      <div class="bookingTips" v-show="getBookingType==''">
        <p>
          Please select a {{ tip }} by clicking the button above to see your bookings of that type. Select a calendar
          date to see bookings on that date. Calendar dates are only displayed for dates on which you have booking(s).
        </p>
      </div>
      <!--Desk List-->
      <div v-show="showDesksList" class="content" ref="scrollContainer">
        <bookingList
          v-for="(item,index) in desksDataFilter"
          :deskLocationIndex="(index+2*index+2+date.length)"
          :deskCancelIndex="(index+2*index+3+date.length)"
          :data="item"
          :width="listWidth"
          :key="'desk'+index"
          @clickLocation="clickLocation(item)"
          style="margin-right: 2rem"
          @cancelDesk="cancelDesk(item)"
        ></bookingList>
      </div>
      <!--Room List-->
      <div v-show="showRoomsList" class="content" ref="scrollContainer">
        <bookingList
          v-for="(item,index) in roomsDataFilter"
          :data="item"
          :width="'25rem'"
          :key="'desk'+index"
          @clickLocation="clickLocation(item)"
          style="margin-right: 2rem"
        ></bookingList>
      </div>
    </div>
    <bookingMap v-if="!showList"
                ref="bookingMap"
                :showRoom="showRoom"
                @back="back"
                @refreshRoom="refreshRoom"
                @cancelDesk="cancelDesk"
                :data="currentDesk"
    ></bookingMap>
    <v-dialog
      v-model="showRefresh"
      max-width="290"
    >
      <v-card>
        <v-card-title style="font-size: 18px">
          Please Refresh
        </v-card-title>
        <v-card-text style="font-size: 16px">
          You've been away for a period of time. Please hit the refresh button to update the map's availability.
        </v-card-text>
        <v-card-actions style="display: flex;justify-content: center">
          <!--<v-spacer></v-spacer>-->
          <v-btn
            color="green"
            text
            @click="ok"
          >
            Refresh
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from "moment";
import datePick from "@/views/dashboard/componentsHa/datePick";
import datePickNew from "@/views/dashboard/componentsHa/datePickNew";
import bookingList from "@/views/dashboard/componentsHa/bookingList";
import bookingMap from '@/views/dashboard/spaces/bookingMap'
import {mapState, mapGetters, mapMutations} from 'vuex'

export default {
  name: "booking",
  components: {
    datePick,
    datePickNew,
    bookingList,
    bookingMap
  },
  watch: {
    bookingType(newVal, oldVal) {
      if (!this.firstIn) {
        if (newVal == 'Meetings') {
          this.title = 'My Meetings';
          this.getDefaultRoomDate();
          this.formatMeetingData();
          this.showRoomsList = true;
          this.showDesksList = false;
        } else if (newVal == 'Desks' || newVal == 'Desks / Offices') {
          if (localStorage.getItem('client') == 'WarnerMedia') {
            this.title = 'My Desks / Offices';
          } else {
            this.title = 'My Desks';
          }
          this.getDefaultDeskDate();
          this.formatDeskData();
          this.showRoomsList = false;
          this.showDesksList = true;
        }
      }
    },
    showRefresh(val) {
      if (val) {
        this.stopInterval();
      } else {
        this.refreshAll();
      }
    },
  },
  computed: {
    ...mapGetters('bookingType', ["getBookingType"]),


    // getBookingType: {
    //   get() {
    //     console.log("this.$store.state.bookingType:",this.$store.state.bookingType)
    //     return this.$store.state.bookingType;
    //   },
    //   set(newValue) {
    //     this.$store.state.bookingType = newValue;
    //   },
    // }
  },
  data() {
    return {
      listWidth:'',
      attendees: [],
      tip: '',
      selectLabel: '',
      showRefresh: false,
      timeout: null,
      firstIn: true,
      startTime: 0,
      endTime: 0,
      showRoomsList: false,
      showDesksList: false,
      showRoom: true,
      title: '',
      currentDesk: {},//当前选中的desk
      showList: true,
      // deskList
      desksData: [],
      desksDataFilter: [],//desk list 经过日期筛选
      // roomList
      roomsData: [],
      roomsDataFilter: [],//meeting list经过日期筛选
      // 日期
      date: [
        // {day: 'MON', month: 'FEB', date: 1, actived: true},
        // {day: 'TUE', month: 'FEB', date: 2, actived: false},
        // {day: 'WED', month: 'FEB', date: 3, actived: false},
        // {day: 'THU', month: 'FEB', date: 4, actived: false},
        // {day: 'FRI', month: 'FEB', date: 5, actived: false},
        // {day: 'SAT', month: 'FEB', date: 6, actived: false},
        // {day: 'SUN', month: 'FEB', date: 7, actived: false},
      ],
      bookingTypes: ['Meetings', 'Desks'],
      bookingType: '',
      showDatePick: false,
      bookingDateArr: [],
    }
  },
  methods: {
    ...mapMutations('bookingType', ["setBookingType"]),
    startInterval() {
      // console.log("开始倒计时")
      this.timeout = window.setInterval(() => {
        this.showRefresh = true;
        // this.$confirm({title: "Please Refresh", message: "You've been away for a period of time. Please hit the refresh button to update the map's availability.", show: true});
      }, 2 * 60 * 1000);
    },
    stopInterval() {
      // console.log("停止计时")
      if (this.timeout) {
        window.clearInterval(this.timeout);
        this.timeout = null;
      }
    },
    ok() {
      this.showRefresh = false;
    },
    clicked() {
      if (this.timeout) {
        this.stopInterval();
        this.startInterval();
      }
    },
    selectBookingType(type) {
      console.log("type:", type)
      this.setBookingType(type);
      if (window.gtag) {
        window.gtag('event', 'Booking', {
          event_category: 'Booking Type',
          event_label: type,
          send_to: localStorage.getItem("googleAnaId") || "",
          dimension1: localStorage.getItem("campusName") || ""
        })
      }

    },
    // 时间戳换算成时间（测试用来校验）
    getLocalTime(nS) {
      return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
    },
    // 获取当前时间
    getCurrentDate() {
      let d = new Date();
      let day = moment(d).format("dddd");
      let month = moment(d).format("MMM");
      let date = moment(d).format("D");

      // let day = d.split(" ")[0];
      // let month = d.split(" ")[1];
      // let date = d.split(" ")[2];
      this.title = "Today's Date : " + day + '\xa0\xa0\xa0' + month + ' ' + date;
    },
    //deskList左右滑动
    MouseWheel(e) {
      console.log('s')
      let eventDelta = -e.wheelDelta || -e.deltaY * 40;

      let $scrollWrapper = this.$refs.scrollContainer

      // console.log($scrollWrapper.scrollLeft)

      // 0到scrollLeft为滚动区域隐藏部分

      $scrollWrapper.scrollLeft = $scrollWrapper.scrollLeft + eventDelta / 2;

    },
    back(data) {
      console.log("data-booking:", data);
      let that = this;
      this.showList = true;
      if (data.type == 'desk') {
        // this.getUserSeats(false);
        that.getUserSeatsReturn().then(res => {
          that.bus.$emit('loading', false);
          that.desksData = res.data.data;
          if (that.desksData.length == 0) {
            that.date = [];
            that.desksDataFilter = [];
            return
          } else {
            that.getDeskDate();
            let length = this.desksData.length;
            for (let i = 0; i < length; i++) {
              let item = this.desksData[i];
              if (item.eventId == data.eventId) {
                this.desksData.splice(i, 1);
                break
              }
            }
            that.formatDeskData();
            that.bus.$emit('loading', false);
            that.$message.success("Success");
          }
        })
      }
      else if (data.type == 'meeting') {
        let length = this.roomsData.length;
        for (let i = 0; i < length; i++) {
          let item = this.roomsData[i];
          if (item.eventId == data.eventId) {
            this.roomsData.splice(i, 1);
            break
          }
        }
        this.firstIn = false;
        this.formatMeetingData();
        this.bus.$emit('loading', false);
        this.$message.success("Success");

        // that.listEventReturn().then(res=>{
        //   that.firstIn = false;
        //   that.bus.$emit('loading', false);
        //   that.roomsData = res.data.data;
        //   that.formatMeetingData();
        //   that.$message.success("Success");
        // })
      }
      else {
        return
      }
    },
    // 获取用户预定的desks
    getUserSeats(refreshDate) {
      console.log("getUserSeats")
      let that = this;
      this.$axios({
        method: 'GET',
        url: '/m/desk/getUserSeats',
        params: {
          email: localStorage.userEmail,
          meetingId: localStorage.meetingIdMap,
          // token: localStorage.token,
        }
      }).then(res => {
        this.bus.$emit('loading', false);
        this.desksData = res.data.data;
        if (this.desksData.length == 0) {
          this.date = [];
          this.desksDataFilter = [];
          return
        }
        this.getDeskDate();
        this.formatDeskData();
      }).catch(err => {
        console.log(err);
      })
    },
    getUserSeatsReturn() {
      return this.$axios({
        method: 'GET',
        url: '/m/desk/getUserSeats',
        params: {
          email: localStorage.userEmail,
          meetingId: localStorage.meetingIdMap,
          // token: localStorage.token,
        }
      })
    },
    // 获取用户预定的room
    listEvent(refreshDate = true) {
      this.$axios({
        method: 'GET',
        url: '/m/spaces/listEvent/',
        params: {
          calendarId: localStorage.userEmail,
          meetingId: localStorage.meetingIdMap,
          // token: localStorage.token
        }
      }).then(res => {
        this.firstIn = false;
        this.bus.$emit('loading', false);
        this.roomsData = res.data.data;
        this.formatMeetingData()
      }).catch(err => {
        console.log(err);
      })
    },
    listEventReturn() {
      return this.$axios({
        method: 'GET',
        url: '/m/spaces/listEvent/',
        params: {
          calendarId: localStorage.userEmail,
          meetingId: localStorage.meetingIdMap,
          // token: localStorage.token
        }
      })
    },
    // 根据日期筛选显示的room
    formatMeetingData() {
      let length = this.date.length;
      let highLight = {};
      for (let i = 0; i < length; i++) {
        let item = this.date[i];
        if (item.actived) {
          highLight = item;
          break
        } else {
          continue
        }
      }
      console.log("highLight！！！！:", highLight);
      console.log("roomsData:", this.roomsData);
      let arr = [];
      if (this.roomsData != undefined) {
        this.roomsData.map(item => {
          let itemStartUnix = moment(moment.utc(item.startTime)).local().unix();
          let itemEndUnix = moment(moment.utc(item.endTime)).local().unix();
          let highLightStartUnix = highLight.timeStampStart;
          let highLightEndUnix = highLight.timeStampEnd;
          // console.log("itemStartUnix:",itemStartUnix);
          // console.log("itemEndUnix:",itemEndUnix);
          // console.log("highLightStartUnix:",highLightStartUnix);
          // console.log("highLightEndUnix:",highLightEndUnix);
          if (itemStartUnix > highLightEndUnix) {
            return
          } else if (itemStartUnix < highLightStartUnix && itemEndUnix < highLightStartUnix) {
            return
          } else {
            item.itemStartUnix = itemStartUnix;
            item.itemEndUnix = itemEndUnix;
            arr.push(item);
          }
        })
      }
      if (this.bookingType == 'Meetings') {
        this.showRoomsList = false;
        this.roomsDataFilter = arr;
        this.showRoomsList = true;
        console.log("roomsDataFilter:", this.roomsDataFilter);
      }
      // this.roomsData.map(item => {
      //   let itemStart = moment(item.startTime).unix();
      //   let itemEnd = moment(item.endTime).unix();
      // })
    },
    // 根据日期筛选显示的desk
    formatDeskData() {
      console.log("desksData:", this.desksData);
      let length = this.date.length;
      let highLight = {};
      for (let i = 0; i < length; i++) {
        let item = this.date[i];
        if (item.actived) {
          highLight = item;
          break
        } else {
          continue
        }
      }
      console.log("highLightDesk！！！！:", highLight);
      let arr = [];
      this.desksData.map(item => {
        // let itemStartUnix = moment(item.start).unix();
        // let itemEndUnix = moment(item.end).unix();
        let itemStartUnix = moment(moment.utc(item.start)).local().unix();
        let itemEndUnix = moment(moment.utc(item.end)).local().unix();
        let highLightStartUnix = highLight.timeStampStart;
        let highLightEndUnix = highLight.timeStampEnd;
        if (itemStartUnix > highLightEndUnix) {
          return
        } else if (itemStartUnix < highLightStartUnix && itemEndUnix < highLightStartUnix) {
          return
        } else {
          arr.push(item);
        }
      })
      if (this.bookingType == 'Desks' || this.bookingType == 'Desks / Offices') {
        this.showDesksList = false;
        this.desksDataFilter = arr;
        this.showDesksList = true;
        console.log("desksDataFilter:", this.desksDataFilter);
      }
    },
    getEvent(calendarId, meetingId, eventId) {
      return this.$axios({
        method: 'GET',
        url: '/m/spaces/getEvent',
        params: {
          calendarId: calendarId,
          meetingId: meetingId,
          eventId: eventId,
          // token: localStorage.token
        }
      })
    },
    // 查看Map
    clickLocation(data) {
      this.bus.$emit('loading', true);
      console.log("clickMap:", data)
      this.currentDesk = data;
      // 往data中加入attendees（之前data是有返的，后来没了，所以要另外请求接口）
      if (data.hasOwnProperty('seat_id')) {
        this.bus.$emit('loading', false);
        this.showRoom = false;
        this.showList = false;
        if (window.gtag) {
          window.gtag('event', 'Booking', {
            event_category: 'Desk Location Click',
            event_label: 'Desk Location',
            // event_label: data.seat_name,
            send_to: localStorage.getItem("googleAnaId") || "",
            dimension1: localStorage.getItem("campusName") || ""
          })
        }
      }
      else {
        let meetingId = localStorage.getItem('meetingIdMap');
        let calendarId = localStorage.getItem('userEmail');
        let eventId = data.eventId;
        this.getEvent(calendarId, meetingId, eventId).then(res => {
          this.bus.$emit('loading', false);
          this.currentDesk.attendees = res.data.data.attendees || [];
          console.log("res:", res);
          console.log("attendees:", res.data.data.attendees);
          console.log("currentDesk:", this.currentDesk);
          this.showRoom = true;
          this.showList = false;
          if (window.gtag) {
            window.gtag('event', 'Booking', {
              event_category: 'Meeting Details Click',
              event_label: 'Meeting Details',
              // event_label: data.rooms[0].resourceName,
              send_to: localStorage.getItem("googleAnaId") || "",
              dimension1: localStorage.getItem("campusName") || ""
            })
          }
        }).catch(err => {
          this.bus.$emit('loading', false);
        });
      }


      // this.showList = false;
      // this.currentDesk = data;
      // this.currentDesk.attendees = res.data.data.attendees || [];
      // console.log("res:",res);
      // console.log("attendees:",res.data.data.attendees);
      // console.log("currentDesk:",this.currentDesk);
      // if (data.hasOwnProperty('seat_id')) {
      //   this.showRoom = false;
      //   if (window.gtag) {
      //     window.gtag('event', 'Booking', {
      //       event_category: 'Desk Location Click',
      //       event_label: 'Desk Location',
      //       // event_label: data.seat_name,
      //       send_to: localStorage.getItem("googleAnaId") || "",
      //       dimension1: localStorage.getItem("campusName") || ""
      //     })
      //   }
      //
      // }
      // else {
      //   this.showRoom = true;
      //   if (window.gtag) {
      //     window.gtag('event', 'Booking', {
      //       event_category: 'Meeting Details Click',
      //       event_label: 'Meeting Details',
      //       // event_label: data.rooms[0].resourceName,
      //       send_to: localStorage.getItem("googleAnaId") || "",
      //       dimension1: localStorage.getItem("campusName") || ""
      //     })
      //   }
      //
      // }
      // this.$router.push({name:'bookingMap',params:{meetingId:meetingId}})
    },
    // clickLocation(data) {
    //   this.bus.$emit('loading', true);
    //   console.log("clickMap:", data)
    //   let meetingId = localStorage.getItem('meetingIdMap');
    //   let calendarId = localStorage.getItem('userEmail');
    //   let eventId = data.eventId;
    //   // 往data中加入attendees（之前data是有返的，后来没了，所以要另外请求接口）
    //   this.getEvent(calendarId, meetingId, eventId).then(res => {
    //     this.bus.$emit('loading', false);
    //     this.showList = false;
    //     this.currentDesk = data;
    //     this.currentDesk.attendees = res.data.data.attendees || [];
    //     console.log("res:", res);
    //     console.log("attendees:", res.data.data.attendees);
    //     console.log("currentDesk:", this.currentDesk);
    //     if (data.hasOwnProperty('seat_id')) {
    //       this.showRoom = false;
    //       if (window.gtag) {
    //         window.gtag('event', 'Booking', {
    //           event_category: 'Desk Location Click',
    //           event_label: 'Desk Location',
    //           // event_label: data.seat_name,
    //           send_to: localStorage.getItem("googleAnaId") || "",
    //           dimension1: localStorage.getItem("campusName") || ""
    //         })
    //       }
    //
    //     }
    //     else {
    //       this.showRoom = true;
    //       if (window.gtag) {
    //         window.gtag('event', 'Booking', {
    //           event_category: 'Meeting Details Click',
    //           event_label: 'Meeting Details',
    //           // event_label: data.rooms[0].resourceName,
    //           send_to: localStorage.getItem("googleAnaId") || "",
    //           dimension1: localStorage.getItem("campusName") || ""
    //         })
    //       }
    //
    //     }
    //   }).catch(err => {
    //     this.bus.$emit('loading', false);
    //   });
    //   // this.showList = false;
    //   // this.currentDesk = data;
    //   // this.currentDesk.attendees = res.data.data.attendees || [];
    //   // console.log("res:",res);
    //   // console.log("attendees:",res.data.data.attendees);
    //   // console.log("currentDesk:",this.currentDesk);
    //   // if (data.hasOwnProperty('seat_id')) {
    //   //   this.showRoom = false;
    //   //   if (window.gtag) {
    //   //     window.gtag('event', 'Booking', {
    //   //       event_category: 'Desk Location Click',
    //   //       event_label: 'Desk Location',
    //   //       // event_label: data.seat_name,
    //   //       send_to: localStorage.getItem("googleAnaId") || "",
    //   //       dimension1: localStorage.getItem("campusName") || ""
    //   //     })
    //   //   }
    //   //
    //   // }
    //   // else {
    //   //   this.showRoom = true;
    //   //   if (window.gtag) {
    //   //     window.gtag('event', 'Booking', {
    //   //       event_category: 'Meeting Details Click',
    //   //       event_label: 'Meeting Details',
    //   //       // event_label: data.rooms[0].resourceName,
    //   //       send_to: localStorage.getItem("googleAnaId") || "",
    //   //       dimension1: localStorage.getItem("campusName") || ""
    //   //     })
    //   //   }
    //   //
    //   // }
    //   // this.$router.push({name:'bookingMap',params:{meetingId:meetingId}})
    // },
    // 取消预定(desk or room)
    cancelDesk(data) {
      console.log("data------",data)
      if (data.type == 'meeting') {
        let eventId = data.eventId;
        let calendarId = localStorage.userEmail;
        this.$confirm({
          title: "Confirmation",
          message: "Are you sure you would like to cancel this reservation?",
          show: true,
          showTwoBtn:true
        })
          .then(() => {
            this.bus.$emit('loading', true);
            //用户点击确认后执行
            this.$axios({
              method: 'GET',
              url: '/m/spaces/deleteEvent/',
              params: {
                meetingId: localStorage.meetingIdMap,
                eventId: eventId,
                calendarId: calendarId,
                // token: localStorage.token
              }
            }).then(res => {
              // console.log('res:', res);
              let length = this.roomsData.length;
              for (let i = 0; i < length; i++) {
                let item = this.roomsData[i];
                if (item.eventId == data.eventId) {
                  this.roomsData.splice(i, 1);
                  break
                }
              }
              this.firstIn = false;
              this.formatMeetingData();
              this.bus.$emit('loading', false);
              this.showList = true;
              this.$message.success("Success");
              if(window.gtag){
                window.gtag('event', 'Bookings', {
                  event_category: 'Cancel Meeting Click',
                  event_label: 'Cancel Meeting',
                  // event_label: data.rooms[0].resourceName,
                  send_to: localStorage.getItem("googleAnaId")||"",
                  dimension1:localStorage.getItem("campusName")||""
                })
              }

              // this.getUserSeats();
            }).catch(err => {
              this.bus.$emit('loading', false);
              console.log(err);
            })
          })
          .catch(() => {
            // 取消或关闭

          });
      }else{
        let reservationId = data.reservation_id;
        console.log("reservationId:",reservationId)
        this.$confirm({
          title: "Confirmation",
          message: "Are you sure you would like to cancel this reservation?",
          show: true,
          showTwoBtn: true
        })
          .then(() => {
            //用户点击确认后执行
            this.$axios({
              method: 'POST',
              url: '/m/desk/cancelSeat',
              params: {
                meetingId: localStorage.meetingIdMap,
                reservationId: reservationId,
                // token: localStorage.token
              }
            }).then(res => {
              if (res.data.result == 'failed') {
                this.$confirm({title: "Confirmation", message: res.data.message, show: true})
                return
              }
              this.$message.success("Success");
              this.showList = true;
              if (window.gtag) {
                window.gtag('event', 'Bookings', {
                  event_category: 'Cancel Desk Click',
                  event_label: 'Cancel Desk',
                  send_to: localStorage.getItem("googleAnaId") || "",
                  dimension1: localStorage.getItem("campusName") || ""
                })
              }

              if (this.bookingType == 'Desks' || this.bookingType == 'Desks / Offices') {
                let length = this.desksData.length;
                for (let i = 0; i < length; i++) {
                  let item = this.desksData[i];
                  if (item.reservation_id == data.reservation_id) {
                    this.desksData.splice(i, 1);
                    break
                  }
                }
                if (this.desksData.length == 0) {
                  this.date = [];
                  this.desksDataFilter = [];
                  return
                } else {
                  console.log("cancelDesk")
                  this.getDeskDate();
                  this.formatDeskData();
                }
                this.bus.$emit('loading', false);
                // this.getUserSeats(false);
              } else {
                return
              }
            }).catch(err => {
              console.log(err);
            })
          })
          .catch(() => {
            // 取消或关闭

          })
      }
    },

    dateFormat(date) {
      return moment(date).unix();
    },
    // 选择日期
    clickDate(data) {
      console.log('data:', data);
      // 改变filter的开始时间和结束时间（删除meeting后重新获取所有meeting，筛选的出来是当前时间段startTime-endTime）
      this.startTime = data.timeStampStart;
      this.endTime = data.timeStampEnd;

      // console.log('bookingType:',this.bookingType);
      if (this.bookingType == 'Meetings') {
        this.formatMeetingData();
      } else {
        this.formatDeskData();
      }
    },
    getRoomDate() {
      let d = new Date();
      let arr = [];
      let config = JSON.parse(localStorage.config);
      let displayBookingRoomLimit = config.displayBookingRoomLimit || 7;
      console.log("====displayBookingRoomLimit =====",displayBookingRoomLimit)
      // 生成当前至后7天的日期
      for (let i = 0; i < displayBookingRoomLimit; i++) {
        let obj = {};
        obj.timeStampStart = moment(d).startOf('day').add(+(i), 'days').unix();
        obj.timeStampEnd = moment(d).endOf('day').add(+(i), 'days').unix();
        obj.day = (moment(d).add(+(i), 'days').format("ddd"));
        obj.month = moment(d).add(+(i), 'days').format("MMM");
        obj.date = moment(d).add(+(i), 'days').format("DD");
        obj.actived = false;
        arr.push(obj);
      }
      console.log("====arr=====",arr)
      if (this.startTime && this.endTime) {
        // console.log(11111)
        // space预定的时间不在这7天内，则展示第一天的metting
        // 开始时间和结束时间都小于当天
        if (this.startTime > arr[displayBookingRoomLimit-1].timeStampEnd) {
          // console.log(222222)
          arr[0].actived = true;
        } else if (this.startTime < arr[0].timeStampStart && this.endTime < arr[0].timeStampStart) {
          // 开始时间和结束时间都大于当天
          // console.log(3333)
          arr[0].actived = true;
        } else {
          // 开始时间和结束时间和这7天有交集
          // console.log(44444)
          let diff = moment(arr[0].timeStampStart, "X").diff(moment(this.startTime, "X"), "minutes");
          if (diff >= 0) {
            // console.log(55555)
            // 开始时间小于当天则高亮当天日期
            arr[0].actived = true;
          } else {
            // console.log(66666)
            // 开始时间大于当天则高亮开始时间
            let u = moment(this.startTime, "X").startOf('day').unix();
            console.log("u:", u);
            let length = arr.length;
            for (let i = 0; i < length; i++) {
              let item = arr[i];
              if (item.timeStampStart == u) {
                item.actived = true;
                break
              } else {
                continue
              }
            }
          }


          // let length = arr.length;
          // for (let i = 0; i < length; i++) {
          //   let item = arr[i];
          //
          //   if (item.timeStampStart == this.startTime) {
          //     item.actived = true;
          //     break
          //   } else {
          //     continue;
          //   }
          // }
        }
      } else {
        // console.log(55555)
        // 直接点击左侧导航栏进来,展示第一天的metting
        let length = arr.length;
        for (let i = 0; i < length; i++) {
          let item = arr[i];
          if (i == 0) {
            item.actived = true;
            break;
          }
        }
      }
      if (this.bookingType == 'Meetings') {
        this.date = arr;
      }
      this.showDatePick = true;
    },
    // 获取默认的room的date bar
    getDefaultRoomDate() {
      let d = new Date();
      let arr = [];
      let config = JSON.parse(localStorage.config);
      let displayBookingRoomLimit = config.displayBookingRoomLimit||7;
      for (let i = 0; i < displayBookingRoomLimit; i++) {
        let obj = {};
        obj.timeStampStart = moment(d).startOf('day').add(+(i), 'days').unix();
        obj.timeStampEnd = moment(d).endOf('day').add(+(i), 'days').unix();
        obj.day = (moment(d).add(+(i), 'days').format("ddd"));
        obj.month = moment(d).add(+(i), 'days').format("MMM");
        obj.date = moment(d).add(+(i), 'days').format("DD");
        if (i == 0) {
          obj.actived = true;
        } else {
          obj.actived = false;
        }
        arr.push(obj);
      }
      if (this.bookingType == 'Meetings') {
        this.date = arr;
      }
    },
    // 获取desk的date bar
    getDeskDate() {
      let arrs = [];
      this.desksData.map(item => {
        let utcDate = moment.utc(item.start);
        let localDate = moment(utcDate).local();
        let start = moment(localDate).local().startOf('day').unix();

        let utcDateEnd = moment.utc(item.end);
        let localDateEnd = moment(utcDateEnd).local();
        let end = moment(localDateEnd).local().startOf('day').unix();


        let days = moment(end, "X").diff(moment(start, "X"), 'days');

        let arr = [];
        for (let i = 0; i < days + 1; i++) {//获取start到end之间的date
          let day = moment(localDate).local().startOf('day').add(+(i), 'days').format('YYYY-MM-DD');
          arr.push(day);
        }
        arrs.push(arr);
      })
      let dateAll = [];
      arrs.map(item => {//将所有桌子订单的日期放在一起
        item.map(jtem => {
          dateAll.push(jtem);
        })
      })
      console.log('dateAll:', dateAll);
      let dateAllDeDupe = [...new Set(dateAll)];//去重
      console.log('dateAllDeDupe:', dateAllDeDupe);
      let formatDate = [];
      dateAllDeDupe.map((item, index) => {
        let obj = {};
        obj.timeStampStart = moment(item).startOf('day').unix();
        obj.timeStampEnd = moment(item).endOf('day').unix();
        obj.day = (moment(item).format("ddd"));
        obj.month = String(moment(item).format("MMM"));
        obj.date = moment(item).format("DD");
        obj.actived = false;
        formatDate.push(obj);
      })
      // 排序
      formatDate.sort(this.creatCompare("timeStampStart"));

      // 高亮
      if (this.startTime && this.endTime) {
        if (this.startTime > formatDate[formatDate.length - 1].timeStampEnd) {
          formatDate[0].actived = true;
        } else if (this.startTime < formatDate[0].timeStampStart && this.endTime < formatDate[0].timeStampStart) {
          formatDate[0].actived = true;
        } else {
          let diff = moment(formatDate[0].timeStampStart, "X").diff(moment(this.startTime, "X"), "minutes");
          if (diff >= 0) {
            // 开始时间小于当天则高亮当天日期
            formatDate[0].actived = true;
          } else {
            // 开始时间大于当天则高亮开始时间
            let u = moment(this.startTime, "X").startOf('day').unix();
            console.log("u:", u);
            let length = formatDate.length;
            for (let i = 0; i < length; i++) {
              let item = formatDate[i];
              if (item.timeStampStart == u) {
                item.actived = true;
                break
              } else {
                continue
              }
            }
          }
        }
      } else {
        let length = formatDate.length;
        for (let i = 0; i < length; i++) {
          let item = formatDate[i];
          if (i == 0) {
            item.actived = true;
            break;
          }
        }
      }

      if (this.bookingType == 'Desks' || this.bookingType == 'Desks / Offices') {
        this.date = formatDate;
      }
    },
    getDefaultDeskDate() {
      let arrs = [];
      this.desksData.map(item => {
        let utcDate = moment.utc(item.start);
        let localDate = moment(utcDate).local();
        let start = moment(localDate).local().startOf('day').unix();

        let utcDateEnd = moment.utc(item.end);
        let localDateEnd = moment(utcDateEnd).local();
        let end = moment(localDateEnd).local().startOf('day').unix();


        let days = moment(end, "X").diff(moment(start, "X"), 'days');

        let arr = [];
        for (let i = 0; i < days + 1; i++) {//获取start到end之间的date
          let day = moment(localDate).local().startOf('day').add(+(i), 'days').format('YYYY-MM-DD');
          arr.push(day);
        }
        arrs.push(arr);
      })
      let dateAll = [];
      arrs.map(item => {//将所有桌子订单的日期放在一起
        item.map(jtem => {
          dateAll.push(jtem);
        })
      })
      console.log('dateAll:', dateAll);
      let dateAllDeDupe = [...new Set(dateAll)];//去重
      console.log('dateAllDeDupe:', dateAllDeDupe);
      let formatDate = [];
      dateAllDeDupe.map((item, index) => {
        let obj = {};
        obj.timeStampStart = moment(item).startOf('day').unix();
        obj.timeStampEnd = moment(item).endOf('day').unix();
        obj.day = (moment(item).format("ddd"));
        obj.month = String(moment(item).format("MMM"));
        obj.date = moment(item).format("DD");
        obj.actived = false;
        formatDate.push(obj);
      })
      // 排序
      formatDate.sort(this.creatCompare("timeStampStart"));

      // 高亮
      let length = formatDate.length;
      for (let i = 0; i < length; i++) {
        let item = formatDate[i];
        if (i == 0) {
          item.actived = true;
          break;
        }
      }

      if (this.bookingType == 'Desks' || this.bookingType == 'Desks / Offices') {
        this.date = formatDate;
      }
    },
    // 对象数组中根据选定属性大小排序
    creatCompare(propertyName) {
      return function (obj1, obj2) {
        var value1 = obj1[propertyName];
        var value2 = obj2[propertyName];
        if (value1 < value2) {
          return -1
        } else if (value1 > value2) {
          return 1
        } else {
          return 0
        }
      }
    },
    refreshRoom(attendees,data) {
      // console.log('=========================',data);
      // console.log("currentDesk:",this.currentDesk);
      let at = JSON.parse(JSON.stringify(attendees));//这里踩了坑了，注意一定要深拷贝
      this.currentDesk.summary = data.summary;
      this.currentDesk.description = data.description;
      this.currentDesk.itemStartUnix = data.start;
      this.currentDesk.itemEndUnix =  data.end;
      this.currentDesk.attendees = at;
      this.bus.$emit('loading', false);
      this.$message.success("Success");
      this.$refs.bookingMap.showBookingList = true;
    },
    // refreshRoom(eventId) {
    //   console.log("eventId:", eventId);
    //   this.listEventReturn().then(res => {
    //     console.log("~~~~~res", res)
    //     // this.showList = true;
    //     // this.roomsData = [];
    //     // this.roomsData = res.data.data;
    //     let meetingId = localStorage.getItem('meetingIdMap');
    //     let calendarId = localStorage.getItem('userEmail');
    //     let eventId = '';
    //     let length = res.data.length;
    //     for (let i = 0; i < length; i++) {
    //       let item = res.data[i];
    //       if (item.rooms[0].resourceId == eventId) {
    //         eventId = item.rooms[0].resourceId;
    //         break
    //       }
    //     }
    //
    //     this.getEvent(meetingId, calendarId, eventId).then(res => {
    //       let attendees = res.data.data.attendees;
    //       this.roomsData = [];
    //       this.roomsData = res.data.data;
    //       let length = this.roomsData.length;
    //       for (let i = 0; i < length; i++) {
    //         let item = this.roomsData[i];
    //         if (eventId == item.eventId) {
    //           this.currentDesk = item;
    //           this.currentDesk.attendees = attendees;
    //           break
    //         } else {
    //           continue
    //         }
    //       }
    //       this.formatMeetingData();
    //       this.bus.$emit('loading', false);
    //       this.$message.success("Success");
    //       this.$refs.bookingMap.showBookingList = true;
    //     }).catch(err => {
    //       this.bus.$emit('loading', false);
    //     })
    //
    //   });
    // },
    // initData() {
    //   this.bus.$emit('loading', true);
    //   let that = this;
    //   let fun1 = function () {
    //     return new Promise((resolve, reject) => {
    //       /* 你的逻辑代码 */
    //       let data = that.listEventReturn();
    //       // let freeBusy = that.freeBusyReturn(startUnix, endUnix);
    //       resolve(data);
    //     });
    //   }
    //   let fun2 = function () {
    //     return new Promise((resolve, reject) => {
    //       /* 你的逻辑代码 */
    //       let data = that.getUserSeatsReturn()
    //       resolve(data)
    //     });
    //   }
    //   let run = function () {
    //     Promise.all([
    //       fun1(),
    //       fun2(),
    //     ]).then(res => {
    //       that.firstIn = false;
    //       that.roomsData = res[0].data.data;
    //       that.formatMeetingData()
    //
    //       that.desksData = res[1].data.data;
    //       console.log("desksData:", that.desksData)
    //       console.log("initData")
    //       that.getDeskDate();
    //       that.formatDeskData();
    //       that.bus.$emit('loading', false);
    //       that.stopInterval();
    //       that.startInterval();
    //     }).catch(err => {
    //       that.bus.$emit('loading', false);
    //       console.log(err);
    //     })
    //   }
    //   run();
    // },
    initData() {
      this.bus.$emit('loading', true);
      let that = this;
      let fun1 = function () {
        return new Promise((resolve, reject) => {
          /* 你的逻辑代码 */
          let data = that.listEventReturn();
          // let freeBusy = that.freeBusyReturn(startUnix, endUnix);
          resolve(data);
        });
      }
      let fun2 = function () {
        return new Promise((resolve, reject) => {
          /* 你的逻辑代码 */
          let data = that.getUserSeatsReturn()
          resolve(data)
        });
      }
      let run = function () {
        Promise.allSettled([
          fun1(),
          fun2(),
        ]).then(res => {
          console.log("======",res)
          console.log("desk",res[1].value.data.data)
          that.firstIn = false;
          if (res[0].status === "fulfilled") {
            that.roomsData = res[0].value.data.data;
          }else{
            that.roomsData = [];
          }
          that.formatMeetingData()
          if (res[1].status === "fulfilled") {
            that.desksData = res[1].value.data.data;
          }else{
            that.desksData = [];
          }
          console.log("desksData:", that.desksData)
          console.log("initData")
          that.getDeskDate();
          that.formatDeskData();
          that.bus.$emit('loading', false);
          that.stopInterval();
          that.startInterval();
        }).catch(err => {
          that.bus.$emit('loading', false);
          console.log(err);
        })
      }
      run();
    },
    refreshAll() {
      this.bookingType = this.getBookingType;
      console.log("bookingType:", this.bookingType);
      if (this.$route.params.start && this.$route.params.end) {
        this.startTime = this.$route.params.start;
        this.endTime = this.$route.params.end;
        this.firstIn = true;
      } else {
        this.firstIn = false;
        this.startTime = 0;
        this.endTime = 0;
      }
      this.getRoomDate();
      console.log("startTime:", this.startTime);
      console.log("endTime:", this.endTime);
      this.getCurrentDate();

      // this.getUserSeats();
      // this.listEvent();
      this.initData();
    }
  },
  created() {
    if (localStorage.getItem('client') == 'WarnerMedia') {
      this.bookingTypes = ['Meetings', 'Desks / Offices']
      this.selectLabel = 'Select a Reservation Type';
      this.tip = 'Booking Reservation ';
      this.listWidth = '28rem';
    } else {
      this.bookingTypes = ['Meetings', 'Desks']
      this.selectLabel = 'Select a Booking Type';
      this.tip = 'Booking Type';
      this.listWidth = '25rem';
    }
    this.refreshAll();
    // this.bookingType = this.getBookingType;
    // console.log("bookingType:", this.bookingType);
    // if (this.$route.params.start && this.$route.params.end) {
    //   this.startTime = this.$route.params.start;
    //   this.endTime = this.$route.params.end;
    //   this.firstIn = true;
    // } else {
    //   this.firstIn = false;
    //   this.startTime = 0;
    //   this.endTime = 0;
    // }
    // this.getRoomDate();
    // console.log("startTime:", this.startTime);
    // console.log("endTime:", this.endTime);
    // this.getCurrentDate();
    //
    // // this.getUserSeats();
    // // this.listEvent();
    // this.initData();
  },
  destroyed() {
    this.setBookingType('');
    this.stopInterval();
  }
}
</script>

<style scoped lang="scss">
.booking {
  .top {
    //background: $main-blue;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
  }

  //.dateContent {
  //  min-height: 75px;
  //  padding-top: 10px;
  //  background: #f3f3f3;
  //
  //  .bookingType {
  //    width: 200px !important;
  //  }
  //
  //  .datePick {
  //  }
  //}
  .dateContent {
    min-height: 75px;
    padding-top: 10px;
    background: #f3f3f3;
    position: relative;

    .bookingType {
      width: 220px !important;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0%, -30%);
    }

    .datePick {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .bookingTips {
    p {
      width: 450px;
      margin: 100px auto;
      text-align: center;
    }
  }

  .content {
    display: flex;
    background: #fff;
    height: 75vh;
    padding: 10px;
    overflow: scroll;
  }
}
</style>

