<template>
  <div class="mec">
    <header class="title x-title">{{dateTitle}}</header>
    <header class="title2">CAMPUSES</header>
    <v-row class="ma-3 pa-0">
      <v-col cols="12" class="ma-0 pa-0" md="6" style="display: flex;align-items: center;">
        <input style="border-bottom: 1px solid #999999;width:350px" type="text" placeholder="Search" class="search_input" v-model="keyWords" @input="search"/>
        <div class="search_img">
          <!--<v-btn class="mx-2" fab dark small color="#008751">-->
          <!--  <img src="@/assets/images/desks/desks_search_green.png" />-->
          <!--</v-btn>-->
          <!--<v-btn class="mx-2" fab dark small color="pink">-->
          <!--  <img src="@/assets/images/desks/desks_search.png" />-->
          <!--</v-btn>-->

          <p class="mx-2" fab dark small style="cursor: pointer" :class="{'campus':this.client=='CX Campus','clorox':this.client=='Clorox'}">
            <img :src="imgUrl" />
          </p>
          <!--<v-btn class="mx-2" fab dark small :class="{'campus':this.client=='CX Campus','clorox':this.client=='Clorox'}">-->
          <!--  <img :src="imgUrl" />-->
          <!--</v-btn>-->
        </div>
      </v-col>
    </v-row>
    <v-row class="ma-3 pa-0">
      <campusList @go="go(item)" :data="item" v-for="(item,index) in campus" class="campuses" @keyup.enter.native="go(item)" :tabindex="index+1"></campusList>
    </v-row>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import campusList from "@/views/dashboard/componentsHa/campusList";
import {mapMutations} from 'vuex';

export default {
  name: 'mec',
  components: {
    campusList
  },
  data() {
    return {
      searchTimeout:null,
      campus:[],
      campusAll:[],
      keyWords:'',
      dateTitle: '',
      imgUrl:"",
      client:"",
    };
  },

  created() {
    this.getClient();
    this.dateTitle = moment().format("dddd MMMM DD , YYYY");
  },


  methods: {
    ...mapMutations('campusName',["setCampusName"]),
    // ...mapMutations('campusName',['setCampusName']),
    getClient(){
      this.getClientData().then(res=>{
        this.client = res.data.Client;
        if(res.data.Client=='Clorox'){
          this.imgUrl = require('@/assets/images/desks/desks_search_green.png')
        }else{
          this.imgUrl = require('@/assets/images/desks/desks_search.png')
        }
      }).catch(err=>{
        console.log(err);
      });
    },
    // 获取campus
    getCampus(){
      let url = '/m/meetings/';
      axios({
        method: 'GET',
        url: url,　　　　　　　　//利用了字符串模板来携带id
        params: {
          meetingId: localStorage.meetingIdMap ? localStorage.meetingIdMap : '',
          // token:window.localStorage.getItem('token')
        },
      }).then(res=>{
        let arr = [];
        res.data.map(item=>{
          if(item.type=='Campus'){
            arr.push(item);
          }
        })
        this.campusAll = arr;
        this.campus = arr;
      }).catch(err=>{
        console.log(err);
      })
    },
    // 将字符串中的大写改为小写
    strChange(arg) {
      var str=arg.split('');
      for(var i = 0; i < str.length; i++) {
        if (str[i].charCodeAt() >= 65 && str[i].charCodeAt() <= 90) {
          str[i] = str[i].toLowerCase();
        }
      }
      return str.join('');
    },
    // 模糊搜索
    fuzzyMatch(str, key){
      let index = -1, flag = false;
      for(var i = 0, arr = key.split(""); i < arr.length; i++ ){
        //有一个关键字都没匹配到，则没有匹配到数据
        if(str.indexOf(arr[i]) < 0){
          break;
        }else{
          let match = str.matchAll(arr[i]);
          let next = match.next();
          while (!next.done){
            if(next.value.index > index){
              index = next.value.index;
              if(i === arr.length - 1){
                flag = true
              }
              break;
            }
            next = match.next();
          }

        }
      }
      return flag
    },
    // 查询
    search(){
      if(this.searchTimeout){
        clearTimeout(this.searchTimeout);
        this.searchTimeout = null;
      }
      this.searchTimeout = setTimeout(()=>{
        console.log(1)
        if(!this.keyWords){
          this.campus = this.campusAll;
          return
        }
        let arr = [];
        let searchCampus = [];
        let campusAllCopy = JSON.parse(JSON.stringify(this.campusAll));
        campusAllCopy.map(item=>{
          let itemNameLower = this.strChange(item.name);
          arr.push(itemNameLower);
        })
        arr.map((item,index)=>{
          let res = this.fuzzyMatch(item,this.strChange(this.keyWords));
          console.log(res);
          if(res){
            searchCampus.push(this.campusAll[index]);
          }
        })
        this.campus = searchCampus;
        let id = localStorage.getItem("googleAnaId");
        let campusName = localStorage.getItem("campusName");
        if(window.gtag){
          window.gtag('event', 'mec_search', {
            event_category: 'mec_search_action',
            event_label: 'mec_search',
            send_to: id,
            value:this.keyWords,
            dimension1:campusName
            // send_to: this.GA_TRACKING_ID
          })
        }

      },500)
    },
    // 选择campus
    go(data){
      localStorage.meetingIdMap = data.id;
      localStorage.setItem("campusName",data.name);
      localStorage.setItem("maxDensityPercentage",data.maxDensityPercentage);
      console.log("meetingIdMap:========",localStorage.meetingIdMap);
      this.$router.push({
        path: "/spaces",
        // query: {
        //   meetingId: localStorage.meetingIdMap,
        // }
      }).catch(err => {
        console.log(err);
      });
      let id = localStorage.getItem("googleAnaId");
      if(window.gtag){
        window.gtag('event', 'mec_campus_click', {
          event_category: 'go_btn_click',
          event_label: 'go',
          send_to: id,
          value:data.name
          // send_to: this.GA_TRACKING_ID
        })
      }

      // localStorage.setItem("meetingId",data.id);
    },
  },
  mounted(){
    this.getCampus();
    this.setCampusName('At a Glance');
  }
}
</script>

<style lang="scss" scoped>
.mec {
  .title {
    //background: $main-blue;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .title2{
    text-align: left;
    color: #000;
    height: 50px;
    line-height: 40px;
    font-size: 1.5rem;
    padding:1rem;
  }
  .campuses:nth-child(odd){
    background: #f3f3f3;
  }
  .campuses:nth-child(even){
    background: #fff;
  }
  .clorox{
    background:#008751;
  }
  .campus{
    background:#ee2c54;
  }
}

</style>
