<template>
  <div class="setting">
      <v-row class="ma-0 pa-0">
        <v-col cols="12" md="6" sm="6" xs="6" class="ma-0 pa-0 setting-left">
          <!--头像-->
          <div class="title x-title">
            <div class="staff">
              <!--<v-avatar class="avator" size="77">-->
              <!--  <img-->
              <!--    :src="'files/'+attendeesDataLeft.image"-->
              <!--  >-->
              <!--</v-avatar>-->
              <v-avatar class="avator" size="77" color="#41B5A9">
                <img :src="imgDataUrl" v-if="attendeesDataLeft.image">
                <span v-else class="white--text text-h5">
                {{ attendeesDataLeft.firstName[0] }}&nbsp;{{ attendeesDataLeft.lastName[0] }}
              </span>
                <!--<img-->
                <!--  :src="imgDataUrl"-->
                <!--&gt;-->
              </v-avatar>
              <div class="btn">
                <v-btn
                  outlined
                  rounded
                  color="#fff"
                  @click="toggleShow"
                  tabindex="1"
                >Update Photo
                </v-btn>
              </div>

            </div>
            <my-upload field="img"
                       class="uploadImg"
                       tabindex="1"
                       @crop-success="cropSuccess"
                       v-model="show"
                       :width="300"
                       :height="300"
                       langType="'en'"
                       img-format="png"></my-upload>
          </div>
          <!--左侧详细信息-->
          <div class="content">
            <!--basic info-->
            <div class="content-top">
              <v-row class="ma-0 pa-0">
                <v-col class="ma-0 pa-0" cols="4" tabindex="2">First Name</v-col>
                <v-col class="ma-0 pa-0" cols="8">
                  <v-text-field
                    v-model="attendeesDataLeft.firstName"
                    required
                    autocomplete="off"
                    tabindex="3"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="ma-0 pa-0">
                <v-col class="ma-0 pa-0" cols="4" tabindex="3">Last Name</v-col>
                <v-col class="ma-0 pa-0" cols="8">
                  <v-text-field
                    v-model="attendeesDataLeft.lastName"
                    required
                    autocomplete="off"
                    tabindex="4"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="ma-0 pa-0">
                <v-col class="ma-0 pa-0" cols="4" tabindex="5">Title</v-col>
                <v-col class="ma-0 pa-0" cols="8">
                  <v-text-field
                    v-model="attendeesDataLeft.title"
                    required
                    tabindex="6"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="ma-0 pa-0">
                <v-col class="ma-0 pa-0" cols="4" tabindex="7">Company</v-col>
                <v-col class="ma-0 pa-0" cols="8">
                  <v-text-field
                    v-model="attendeesDataLeft.company"
                    required
                    autocomplete="off"
                    tabindex="8"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="ma-0 pa-0" v-show="!client=='NatWest'">
                <v-col class="ma-0 pa-0" cols="4" tabindex="9">Phone</v-col>
                <v-col class="ma-0 pa-0" cols="8">
                  <v-text-field
                    v-model="attendeesDataLeft.phoneNumber"
                    required
                    autocomplete="off"
                    tabindex="10"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="ma-0 pa-0" v-show="!client=='NatWest'">
                <v-col class="ma-0 pa-0" cols="4" tabindex="11">Display Phone Number</v-col>
                <v-col class="ma-0 pa-0" cols="8">
                  <v-switch
                    color="green"
                    v-model="attendeesDataLeft.isPhoneShown"
                    inset
                    tabindex="12"
                  ></v-switch>
                </v-col>
              </v-row>
              <v-row class="ma-0" style="padding: 20px 0">
                <v-col class="ma-0 pa-0" cols="4" tabindex="13">Update Password</v-col>
                <v-col class="ma-0 pa-0" cols="8" style="color:#EE2C54;cursor: pointer" @click="updatePwd"
                       @keyup.enter="updatePwd" tabindex=14>Click to Update
                </v-col>
              </v-row>
              <v-row class="pa-0" style="margin: 20px 0px">
                <v-col class="ma-0 pa-0" cols="12" tabindex="15">
                  Bio
                </v-col>
                <v-col class="ma-0 pa-0" cols="12">
                  <v-textarea
                    outlined
                    background-color="white"
                    color="#EE2C54"
                    v-model="attendeesDataLeft.bio"
                    tabindex="16"
                  ></v-textarea>
                </v-col>
              </v-row>
            </div>
            <!--location-->
            <div class="locationInfo x-background" v-if="!mecToSetting" tabindex="17">
              <p class="sp1">My Default Booking Location</p>
              <p class="sp2">Select your default location for booking spaces by choosing a building and floor.</p>
              <p>When you search for available spaces by "Default" , or if your current location cannot be found , the
                results
                will be aligned to this location</p>
            </div>
            <!--btn location-->
            <div class="btns" v-if="!mecToSetting">
              <div class="btns-btn" @click="openSelect" @keyup.enter="openSelect" tabindex="18">
                <span class="btns-btn-title">Default Building</span>
                <span class="btns-btn-content">{{ buildingName }}</span>
              </div>
              <div class="btns-btn" style="background: #f3f3f3" @click="openSelect" @keyup.enter="openSelect"
                   tabindex="19">
                <span class="btns-btn-title">Default Floor</span>
                <span class="btns-btn-content">{{ floorName }}</span>
              </div>
            </div>
            <div class="operations">
              <div class="operations-one">
                <v-btn rounded class="x-btn" @click="clickPreview" @keyup.enter="clickPreview" tabindex="20">Preview
                  Updates>
                </v-btn>
                <v-btn rounded outlined @click="clickRemove" @keyup.enter="clickRemove" tabindex="21">Remove My Profile
                </v-btn>
              </div>
              <div class="operations-bottom">
                <v-btn rounded class="x-btn" @click="clickSubmit" @keyup.enter="clickSubmit" tabindex="22">Submit Profile
                  Information>
                </v-btn>
                <v-btn rounded outlined @click="clickLogout" @keyup.enter="clickLogout" tabindex="23">Log Out</v-btn>
              </div>
            </div>


          </div>

          <v-dialog v-model="selectFloor" max-width="290">
            <v-card class="dialog-window ma-0 pa-0">
              <div style="text-align: right;padding: 15px;padding-bottom: 0">
                <i class="iconfont icon-chahao" @click="selectFloor=false" @keyup.enter="selectFloor=false"
                   style="cursor: pointer;" tabindex="24">
                  <span style="letter-spacing: -8px;opacity: 0;">close</span>
                </i>
              </div>
              <v-card-text>
                <div v-for="d in buildingsAndFloorsData" class="buildingFloor">
                  <p class="buildingName">{{ d.buildingName }}</p>
                  <p v-for="(f,index) in d.floors" tabindex="25" class="floorName"
                     :class="{'selectColor':selectFloorId === f.id}"
                     @click="floorChange(d, f)" @keyup.enter="floorChange(d, f)">{{ f.name }}
                    <v-icon dense color="blue darken-2" style="float: right;" v-if="selectFloorId === f.id">mdi-check
                    </v-icon>
                  </p>
                </div>
              </v-card-text>
            </v-card>

          </v-dialog>
        </v-col>
        <v-col cols="12" md="6" sm="6" xs="6" class="ma-0 pa-0 setting-right">
          <staffInfo :data="attendeesDataRight"></staffInfo>
        </v-col>
      </v-row>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import staffInfo from "@/views/dashboard/componentsHa/staffInfo";
import {mapState, mapGetters, mapMutations} from 'vuex'
import myUpload from 'vue-image-crop-upload';

export default {
  name: 'setting',
  components: {
    staffInfo,
    'my-upload': myUpload
  },
  data() {
    return {
      client: "",//当前客户
      show: false,
      imgDataUrl: '',
      imgDataUrlOrigin: '',//初始头像
      en: {
        hint: 'Click or drag the image here to upload',
        loading: 'Uploading…',
        noSupported: 'Browser is not supported, please use IE10+ or other browsers',
        success: 'Upload success',
        fail: 'Upload failed',
        preview: 'Preview',
        btn: {
          off: 'Cancel',
          close: 'Close',
          back: 'Back',
          save: 'Save'
        },
        error: {
          onlyImg: 'Image only',
          outOfSize: 'Image exceeds size limit: ',
          lowestPx: 'Image\'s size is too low. Expected at least: '
        }
      },


      attendeesDataLeft: {},
      attendeesDataOrigin: {},
      attendeesDataRight: {},
      selectFloor: false,
      buildingName: '',
      floorName: '',
      buildingsAndFloorsData: [],
      selectFloorId: '',
      selectBuildingId: '',
      mecToSetting: false,
    };
  },
  created() {
    this.client = localStorage.getItem("client");
    if (this.getMecToSetting === true && localStorage.meetingIdMap === '') {
      this.mecToSetting = true;
    } else {
      this.mecToSetting = false;
      // this.getUserLocation();
      this.getBuildingsAndFloorsData();
    }
  },
  computed: {
    ...mapGetters('mecToSetting', ['getMecToSetting']),
  },
  methods: {
    ...mapMutations('mecToSetting', ["setMecToSetting"]),
    ...mapMutations('avator', ["setAvator"]),
    ...mapMutations('campusName', ["setCampusName"]),

    updatePwd() {
      this.bus.$emit('loading', true);
      let _this = this;
      let url = "";
      let data = {};
      url = "m/forgotPassword/";
      data.email = localStorage.userEmail;
      axios
        .post(url, data)
        .then((response) => {
          this.bus.$emit('loading', false);
          if (response.data.result === 'succeeded') {
            // _this.forgotPasswordDialog = true;
            this.$confirm({
              title: "Confirmation",
              message: "We've sent you an email to update your password. If you don't see it in your inbox, please check your Spam folder.",
              show: true
            });
          } else {
            this.$confirm({title: "Confirmation", message: response.data.error, show: true});
            // _this.$message.error(response.data.error);
          }
        })
        .catch((err) => {
          this.bus.$emit('loading', false);
          console.log(err);
        });
    },
    toggleShow() {
      this.show = !this.show;
    },
    /**
     * crop success
     *
     * [param] imgDataUrl
     * [param] field
     */
    cropSuccess(imgDataUrl, field) {
      this.imgDataUrl = imgDataUrl;
    },
    getUserLocation() {
      let url = "";
      let _this = this;
      url = "m/campus/userDefaultLocation";
      if (localStorage.meetingIdMap) {
        url += `?meetingId=${localStorage.meetingIdMap}&`;
      }
      // if (localStorage.token) {
      //   url += `token=${localStorage.token}&`;
      // }
      this.get(url, {})
        .then((res) => {

          if (res.result === "succeeded") {
            // _this.buildingName = res.data.defaultBuilding;
            // _this.floorName = res.data.defaultFloor;
            let bId = res.data.defaultBuilding;
            let fId = res.data.defaultFloor;
            let length = _this.buildingsAndFloorsData.length;
            for (let i = 0; i < length; i++) {
              let item = _this.buildingsAndFloorsData[i];
              if (item.id == bId) {
                _this.buildingName = item.buildingName;
                let length = item.floors.length;
                for (let i = 0; i < length; i++) {
                  let jtem = item.floors[i];
                  if (jtem.id == fId) {
                    _this.floorName = jtem.name;
                    break
                  }
                }
                break
              }
            }

          } else {
            //这里抛出的异常被下面的catch所捕获
            reject(error);
          }
        })
        .catch((err) => {
          console.log(err);
        })
    },

    getBuildingsAndFloorsData() {
      let url = "";
      let _this = this;
      url = "m/campus/maps";
      if (localStorage.meetingIdMap) {
        url += `?meetingId=${localStorage.meetingIdMap}&`;
      }
      // if (localStorage.token) {
      //   url += `token=${localStorage.token}&`;
      // }
      this.get(url, {})
        .then((res) => {
          if (res.result === "succeeded") {
            _this.buildingsAndFloorsData = res.data;
            console.log('buildingsAndFloorsData:', _this.buildingsAndFloorsData);
            this.getUserLocation();
          } else {
            //这里抛出的异常被下面的catch所捕获
            reject(error);
          }
        })
        .catch((err) => {
          console.log(err);
        })
    },

    openSelect() {
      let _this = this;
      _this.buildingsAndFloorsData.map((i) => {
        if (i.buildingName === _this.buildingName) {
          i.floors.map((f) => {
            if (f.name === _this.floorName) {
              _this.selectFloorId = f.id;
            }
          });
        }
      });
      _this.selectFloor = true
    },
    floorChange(building, floor) {
      // console.log(buildingName, floor);
      this.selectBuildingId = building.id;
      this.selectFloorId = floor.id;
      this.buildingName = building.buildingName;
      this.floorName = floor.name;
      this.selectFloor = false;
    },
    // floorChange(buildingName, floor) {
    //   // console.log(buildingName, floor);
    //   this.selectFloorId = floor.id;
    //   this.buildingName = buildingName;
    //   this.floorName = floor.name;
    //   this.selectFloor = false;
    // },
    // 获取员工信息
    getAttendees() {
      let attendeeId = localStorage.getItem('userId');
      console.log('attendeeId:', attendeeId);
      this.$axios({
        method: 'GET',
        url: '/m/attendees/',
        params: {
          attendeeId: attendeeId,
          // token: localStorage.token
        }
      }).then(res => {
        console.log('attendee:', res);
        this.attendeesDataOrigin = JSON.parse(JSON.stringify(res.data));
        this.attendeesDataLeft = JSON.parse(JSON.stringify(res.data));
        this.attendeesDataRight = JSON.parse(JSON.stringify(res.data));
        localStorage.setItem("image", res.data.image);
        this.setAvator(this.imgDataUrl);//左侧导航监听到store改变会去locaoStorage拿新头像
        console.log("this.attendeesDataLeft.image:", this.attendeesDataLeft.image)
        if (this.attendeesDataLeft.image == 'avatar.jpg') {
          this.attendeesDataLeft.image = "";
        }
        this.imgDataUrl = 'files/' + this.attendeesDataLeft.image;
        this.imgDataUrlOrigin = 'files/' + this.attendeesDataLeft.image;
      }).catch(err => {
        console.log(err);
      })
    },
    // 预览修改
    clickPreview() {
      this.attendeesDataRight.name = this.attendeesDataLeft.firstName + ' ' + this.attendeesDataLeft.lastName;
      this.attendeesDataRight.title = this.attendeesDataLeft.title;
      this.attendeesDataRight.company = this.attendeesDataLeft.company;
      this.attendeesDataRight.phoneNumber = this.attendeesDataLeft.phoneNumber;
      this.attendeesDataRight.isPhoneShown = this.attendeesDataLeft.isPhoneShown;
      this.attendeesDataRight.bio = this.attendeesDataLeft.bio;
      this.attendeesDataRight.image = this.imgDataUrl.replace("files/", "");
      if (window.gtag) {
        window.gtag('event', 'Setting', {
          event_category: 'Preview Click',
          event_label: 'Preview',
          send_to: localStorage.getItem("googleAnaId") || "",
          dimension1: localStorage.getItem("campusName") || ""
        })
      }

    },
    clickRemove() {
      this.attendeesDataLeft = JSON.parse(JSON.stringify(this.attendeesDataOrigin));
      this.attendeesDataRight = JSON.parse(JSON.stringify(this.attendeesDataOrigin));
      if (window.gtag) {
        window.gtag('event', 'Setting', {
          event_category: 'Remove My Profile Click',
          event_label: 'Remove My Profile',
          send_to: localStorage.getItem("googleAnaId") || "",
          dimension1: localStorage.getItem("campusName") || ""
        })
      }

      // console.log('attendeesDataOrigin:',this.attendeesDataOrigin);
      // console.log('attendeesDataLeft:',this.attendeesDataLeft);
    },

    // 提交修改
    clickSubmit() {
      this.bus.$emit('loading', true);
      let _this = this;
      var p1 = new Promise((resolve, reject) => {
        _this.$axios({
          method: 'POST',
          url: '/m/update-profile/',
          data: {
            firstName: _this.attendeesDataLeft.firstName,
            lastName: _this.attendeesDataLeft.lastName,
            title: _this.attendeesDataLeft.title,
            company: _this.attendeesDataLeft.company,
            phoneNumber: _this.attendeesDataLeft.phoneNumber,
            bio: _this.attendeesDataLeft.bio,
            isPhoneShown: _this.attendeesDataLeft.isPhoneShown,
            // userId: localStorage.userId,
            // token: localStorage.token,
            imageData: this.imgDataUrl == this.imgDataUrlOrigin ? "" : this.imgDataUrl
          }
        })
          .then(res => {
            resolve(res);
            if (window.gtag) {
              window.gtag('event', 'Setting', {
                event_category: 'Submit Profile Information Click',
                event_label: 'Submit Profile Information',
                send_to: localStorage.getItem("googleAnaId") || "",
                dimension1: localStorage.getItem("campusName") || ""
              })
            }

          })
          .catch(err => {
            this.bus.$emit('loading', false);
            reject(err);
          })
      });
      var p2 = new Promise((resolve, reject) => {
        if (_this.mecToSetting == true || localStorage.meetingIdMap == '') {
          resolve('Success');
        } else {
          _this.$axios({
            method: 'POST',
            // url: '/m/campus/userDefaultLocation?token=' + localStorage.token,
            url: '/m/campus/userDefaultLocation',
            data: {
              // defaultBuilding: _this.buildingName,
              // defaultFloor: _this.floorName,
              defaultBuilding: _this.selectBuildingId,
              defaultFloor: _this.selectFloorId,
              meetingId: localStorage.meetingIdMap,
            }
          })
            .then(res => {
              resolve(res);
            })
            .catch(err => {
              this.bus.$emit('loading', false);
              reject(err);
            })
        }

      });
      Promise.all([p1, p2])
        .then((result) => {
          this.bus.$emit('loading', false);
          _this.$message.success("Success");
          _this.getAttendees();
        })
        .catch((error) => {
          this.bus.$emit('loading', false);
          console.log(error)
        })
    },
    // 登出
    clickLogout() {
      localStorage.clear();
      // this.setCampusName('At a Glance');
      this.$router.push({name: 'LoginEmail'})
      if (window.gtag) {
        window.gtag('event', 'Setting', {
          event_category: 'Log Out Click',
          event_label: 'Log Out',
          send_to: localStorage.getItem("googleAnaId") || "",
          dimension1: localStorage.getItem("campusName") || ""
        })
      }

    }
  },
  mounted() {
    this.getAttendees();
  }
}
</script>

<style lang="scss" scoped>
.setting {
  .setting-left {
    /*height: 650px;*/
    background: #fff;
    width: 100%;
    overflow: hidden;

    .title {
      //background: $main-blue;
      color: #ffffff;
      height: 120px;
      text-align: center;
      padding: 0 20px;
      display: flex;
      border-right: 1px solid #f3f3f3;

      .staff {
        display: flex;
        align-items: center;

        .avator {
          margin-right: 20px;
        }

        .uploadImg {
          &focus {
            border: 5px solid black !important;
          }
        }

      }
    }

    .content {
      height: auto;
      background: #fff;
      border: 1px solid #999999;
      /*overflow-y: auto;*/
      /*width: calc(100% + 15px);*/

      .content-top {
        padding: 20px 50px;

        div {
          align-items: center;
        }
      }

      .locationInfo {
        //background: $main-blue;
        color: #fff;
        padding: 20px 50px;

        .sp1 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .sp2 {
          margin-bottom: 10px;
        }
      }
    }

    //.x-btn{
    //  background: $btn-color!important;
    //}
    //location
    .btns {
      .btns-btn {
        padding: 30px 50px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .btns-btn-title {
          font-weight: bold;
        }

        .btns-btn-content {
          color: #666666;
        }
      }
    }

    .operations {
      text-align: center;

      .operations-one {
        /*margin: 30px;*/
        button {
          min-width: 280px;
          margin: 30px 12px 0px 12px;
        }
      }

      .operations-bottom {
        margin-bottom: 30px;

        button {
          min-width: 280px;
          margin: 30px 12px 0px 12px;
        }
      }
    }

  }

  .setting-right {

  }


}

.buildingFloor {
  .buildingName {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
  }

  .floorName {
    font-size: 1rem;
    cursor: pointer;
  }
}

.selectColor {
  //color: $main-blue;
}
</style>
