<template>
  <div>
    <!--<v-alert type="success">-->
    <!--I'm a success alert.-->
    <!--</v-alert>-->
    <router-view/>
    <loading></loading>
    <alert></alert>

  </div>
</template>

<script>
import axios from "axios";
import loading from '@/components/Loading.vue';
import alert from '@/components/Alert.vue';

export default {
  name: 'App',
  provide() {
    return {
      reload: this.reload
    }
  },
  components: {loading, alert},
  watch: {
    $route() {
      // console.log(13111, this.$route.query);
      // to.query.token
      localStorage.host = window.location.host;
      if (this.$route.query.token) {
        this.getUserInfo(this.$route.query.token);
      }
      // if (this.$route.query.meetingId && this.$route.query.meetingId !== '') {
      //   localStorage.meetingIdMap = this.$route.query.meetingId;
      //   // this.getMeetingData(localStorage.meetingIdMap);
      // }
    }
  },
  data() {
    return {
      isRouterAlive: true//控制视图是否显示的变量
    }
  },
  methods: {
    getMeetingData(id) {
      // let _this = this;
      let url = '';
      url = `cms/meetings/${id}`;
      axios
        .get(url)
        .then((response) => {
          console.log(123124);
          console.log(response);
          localStorage.venueName = response.data.venueName
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // getUserInfo(token) {
    //   localStorage.token = token;
    //   const _this = this;
    //   let url = "m/profile/?token=" + token;
    //   axios
    //     .get(url)
    //     .then((response) => {
    //       console.log('profile', response);
    //       // localStorage.userEmail = response.data.email;
    //       localStorage.userId = response.data.userId;
    //       localStorage.userName = response.data.firstName + ' ' + response.data.lastName;
    //       localStorage.image = response.data.image;
    //       _this.$router.push({
    //         path: "/mec",
    //       }).catch(err => {
    //         console.log(err);
    //       });
    //     })
    //     .catch((err) => {
    //       console.log(err);
    //     });
    // },
    getUserInfo(token) {
      localStorage.token = token;
      const _this = this;
      let url = "m/profile/?token=" + token;
      axios
        .get(url)
        .then((response) => {
          console.log('profile', response);
          localStorage.userEmail = response.data.email;
          localStorage.userId = response.data.userId;
          localStorage.userName = response.data.firstName + ' ' + response.data.lastName;
          localStorage.image = response.data.image;
          _this.$router.push({
            path: "/mec",
          }).catch(err => {
            console.log(err);
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    reload() {
      this.isRouterAlive = false;            //先关闭，
      this.$nextTick(function () {
        this.isRouterAlive = true;         //再打开
      })
    }
  },
  created() {
    localStorage.setItem("Unauthorized", "false");
    // console.log(13111, this.$route.query);
  },
}
</script>

<style lang="scss">
@import "./assets/css/app";
</style>
